#macro(showElementRifCS $tag $field $attr $label $anzsrc)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key))
        #if ($label != "")
            #set($labelVal = $value.get($label))
            #if ($anzsrc == "anzsrc")
                #set($lastIndex = $labelVal.lastIndexOf('/') + 1 )
                #set($labelVal = $labelVal.substring($lastIndex) )
            #end
    <$tag$attr>$util.encodeXml($labelVal)</$tag>
        #else
    <$tag$attr>$util.encodeXml($value.get($key))</$tag>
        #end
    #end
#end

#macro(showRelatedInfo $field $relatedInfoType $identifierType)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set ($row = $valueMap.get($key))
        #set ($value = $row.get("dc:identifier"))
        #if ("$!value" != "")
        <rif:relatedInfo type="$relatedInfoType">
            <rif:identifier type="$identifierType">$util.encodeXml($value)</rif:identifier>
            #set ($title = $row.get("dc:title"))
            #if ("$!title" != "")
            <rif:title>$util.encodeXml($title)</rif:title>
            #end
## Uncomment to map Notes as well
##            #set ($notes = $row.get("skos:note"))
##            #if ("$!notes" != "")
##            <rif:notes>$util.encodeXml($notes)</rif:notes>
##            #end
        </rif:relatedInfo>
        #end
    #end
#end

#macro(geoSpatial $field)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        <rif:coverage>
        #set($geoMap = $valueMap.get($key))
        #set($type = $geoMap.get("dc:type"))
        #set($name = $geoMap.get("gn:name"))
            <rif:spatial type="$type" $lang>$util.encodeXml($name)</rif:spatial>
        #if($type == "text")
            #set($east = $geoMap.get("geo:long"))
            #set($north = $geoMap.get("geo:lat"))
            #if ("$!east" != "" &&"$!north" != "")
            <rif:spatial type="dcmiPoint" $lang>name=$util.encodeXml($name); east=$east; north=$north</rif:spatial>
            #end
        #end
        </rif:coverage>
    #end
#end

#set($quote='"')
#set($dateFormat = "yyyy-MM-dd'T'HH:mm:ss")

#set($defaultOnError = "&Invalid XML placeholder... prevents ANDS Harvesting records in error&")
#set($group = $systemConfig.getString($defaultOnError, "redbox.identity", "RIF-CS Group"))

### Resolve the identifier
#set ($formId = $util.get($item, 'dc:identifier.rdf:PlainLiteral'))
#set ($formOrigin = $util.get($item, 'dc:identifier.redbox:origin'))
#set ($formType = $util.get($item, 'dc:identifier.dc:type.rdf:PlainLiteral'))

#set($pidType = $systemConfig.getString($defaultOnError, "curation", "pidType"))
#set($pidProperty = $systemConfig.getString($defaultOnError, "curation", "pidProperty"))
#set ($pid = $util.getMetadata($object, $pidProperty))
#if ("$!pid" == "")
    #set ($pid = $util.get($item, "metadata", "rdf:resource"))
    #if ("$!pid" == "")
        #set ($pid = $util.get($item, "metadata", "dc.identifier"))
    #end
#end

#set ($identifier = "")
#set ($identifierType = "")
#if ($formOrigin == "internal")
    #if ($pid != "")
        #set ($identifier = $pid)
        #set ($identifierType = $pidType)
    #else
        #set ($identifier = "$urlBase/detail/$oid")
        #set ($identifierType = "uri")
    #end
#else
    #set ($identifier = $formId)
    #set ($identifierType = $formType)
#end

### Relationships
#set($relationships = $item.getJsonSimpleList("relationships"))

####set($lang = "xml:lang=${quote}$util.get($item, 'dc:language.dc:identifier')${quote}")
#set($lang = "xml:lang=${quote}en${quote}")
<rif:registryObjects xmlns:rif="http://ands.org.au/standards/rif-cs/registryObjects"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://ands.org.au/standards/rif-cs/registryObjects http://services.ands.org.au/home/orca/schemata/1.2.0/registryObjects.xsd">
    <rif:registryObject group="$util.encodeXml($group)">

        <rif:key>$util.encodeXml($identifier)</rif:key>
        <rif:originatingSource>$urlBase</rif:originatingSource>

        #set($dateModified = "")
        #if ($util.get($item, 'dc:modified') != "")
            #set($rawModified = "$util.getDateTime($util.get($item, 'dc:modified'), $dateFormat)Z")
            #set($dateModified = "dateModified=${quote}${rawModified}${quote}")
        #end

        #set($dateAccessioned = "")
        #if ($util.get($item, "dc:created") != "")
            #set($rawAccessioned = "$util.getDateTime($util.get($item, 'dc:created'), $dateFormat)Z")
            #set($dateAccessioned = "dateAccessioned=${quote}${rawAccessioned}${quote}")
        #end

        #################
        ## The order of child codes under <collection> is important, don't
        ## change the order or the XML will not validate:
        ##  1) <rif:identifier>
        ##  2) <rif:name>
        ##  3) <rif:location>
        ##  4) <rif:coverage>
        ##  5) <rif:relatedObject>
        ##  6) <rif:subject>
        ##  7) <rif:description>
        ##  8) <rif:relatedInfo>
        ##  9) <rif:citationInfo>
        ##
        ##  http://services.ands.org.au/documentation/rifcs/1.2.0/schemadocs/registryObjects.html
        #################
        <rif:collection type="$util.get($item, "dc:type.rdf:PlainLiteral")" $dateModified $dateAccessioned>
            <rif:identifier type="$identifierType">$identifier</rif:identifier>

            <rif:name type="primary" $lang>
                <rif:namePart>$util.encodeXml($util.get($item, "dc:title"))</rif:namePart>
            </rif:name>

        ## Location, use Handle as priority if requested
            <rif:location>
        #set($valueMap = $util.getList($item, "bibo:Website"))
        #foreach($key in $valueMap.keySet())
            #set ($value = $valueMap.get($key).get("dc:identifier"))
            #if ("$!value" != "")
                <rif:address>
                    <rif:electronic type="url">
                        <rif:value>$util.encodeXml($value)</rif:value>
                    </rif:electronic>
                </rif:address>
            #end
        #end

        #### Physical location
        #set ($value = $util.get($item, "vivo:Location.vivo:GeographicLocation.gn:name"))
        #if ("$!value" != "")
                <rif:address>
                    <rif:physical>
                        <rif:addressPart type="text">$util.encodeXml($value)</rif:addressPart>
                    </rif:physical>
                </rif:address>
        #end
            </rif:location>

        #set ($covFrom = $util.get($item, "dc:coverage.vivo:DateTimeInterval.vivo:start"))
        #set ($covTo = $util.get($item, "dc:coverage.vivo:DateTimeInterval.vivo:end"))
        #set ($covPeriod = $util.get($item, "dc:coverage.redbox:timePeriod"))
        #if ("$!covFrom" != "" || "$!covTo" != "" || "$!covPeriod" != "")
            <rif:coverage>
                <rif:temporal>
                    #if ("$!covFrom" != "")
                    <rif:date type="dateFrom" dateFormat="W3CDTF">$util.getDateTime($covFrom, $dateFormat)Z</rif:date>
                    #end
                    #if ("$!covTo" != "")
                    <rif:date type="dateTo" dateFormat="W3CDTF">$util.getDateTime($covTo, $dateFormat)Z</rif:date>
                    #end
                    #if ("$!covPeriod" != "")
                    <rif:text>$util.encodeXml($covPeriod)</rif:text>
                    #end
                </rif:temporal>
            </rif:coverage>
        #end

            #geoSpatial("dc:coverage.vivo:GeographicLocation")

            ### Relations
            #set($valueList = $item.getJsonSimpleList("relationships"))
            #if($valueList)
                #foreach($value in $valueList)
                    #if ($value.getBoolean(false, "isCurated"))
                        #set($key = $value.getString("empty", "curatedPid"))
                        #set($rel = $value.getString("hasAssociationWith", "relationship"))
                        #set($desc = $value.getString("empty", "description"))
                        #if ($key != "empty")
            <rif:relatedObject>
                <rif:key>$util.encodeXml($key)</rif:key>
                            #if ($desc != "empty")
                <rif:relation type="$util.encodeXml($rel)">
                    <rif:description>$util.encodeXml($desc)</rif:description>
                </rif:relation>
                            #else
                <rif:relation type="$util.encodeXml($rel)"/>
                            #end
            </rif:relatedObject>
                        #end
                    #end
                #end
            #end

            #showElementRifCS("rif:subject" "dc:subject.vivo:keyword", " type=${quote}local${quote} $lang", "rdf:PlainLiteral", "")
            #showElementRifCS("rif:subject" "dc:subject.anzsrc:for", " type=${quote}anzsrc-for${quote} $lang", "rdf:resource", "anzsrc")
            #showElementRifCS("rif:subject" "dc:subject.anzsrc:seo", " type=${quote}anzsrc-seo${quote} $lang", "rdf:resource", "anzsrc")

        #set ($value = $util.get($item, "dc:subject.anzsrc:toa.rdf:resource"))
        #if ("$!value" != "")
            <rif:subject type="anzsrc-toa">$util.encodeXml($value)</rif:subject>
        #end

        #set ($value = $util.get($item, "dc:description"))
        #if ("$!value" != "")
            <rif:description type="full" $lang>$util.encodeXml($value)</rif:description>
        #end

        #set ($rights = $util.get($item, "dc:accessRights.dc:RightsStatement"))
        #if ("$!rights" != "")
            <rif:description type="rights" $lang>$util.encodeXml($rights)</rif:description>
        #end

        #### 'rights' is required, so send 'accessRights' as 'rights' if it was absent.
        #set ($accessRights = $util.get($item, "dc:accessRights.rdf:PlainLiteral"))
        #if ("$!accessRights" != "")
            #if ("$!rights" != "")
                <rif:description type="accessRights" $lang>$util.encodeXml($accessRights)</rif:description>
            #else
                <rif:description type="rights" $lang>$util.encodeXml($accessRights)</rif:description>
            #end
        #end
        #set ($value = $util.get($item, "redbox:creativeCommonsLicense.skos:prefLabel"))
        #if ("$!value" != "")
            <rif:description type="rights" $lang>$util.encodeXml($value)</rif:description>
        #end

        #set ($value = $util.get($item, "dc:license.skos:prefLabel"))
        #if ("$!value" != "")
            <rif:description type="rights" $lang>$util.encodeXml($value)</rif:description>
        #end

            #showRelatedInfo("dc:relation.swrc:Publication", "publication", "uri")
            #showRelatedInfo("dc:relation.bibo:Website", "website", "uri")

        </rif:collection>
    </rif:registryObject>
</rif:registryObjects>