#macro(getValue $key)
    #set($v = $util.get($item, $key))
"$!v"
#end

{
    "viewId": "dashboard",
    "packageType": "self-submission",
	"title": #getValue('dc:title') ,
	"dc:description": #getValue('dc:description'),
	"original": $item
}