#parse($page.getTemplate('layout/html-head-title.vm'))
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" type="image/vnd.microsoft.com" href="$portalPath/favicon.ico" />

<script type="text/javascript" src="$portalPath/js/json2.min.js"></script>
#if($pageTitle.equals("Metadata Record") || $pageTitle.equals("Notify us about a dataset") || $pageTitle.equals("Administration") || $pageTitle.equals("Submission Request"))
<link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness/jquery-ui-1.7.2.custom.css" media="screen" /> 
<script type="text/javascript" src="$portalPath/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="$portalPath/js/jquery-ui-1.7.2.custom.min.js"></script>
#else
<link rel="stylesheet" type="text/css" href="$portalPath/css/ui-lightness-1.10.3/jquery-ui-1.10.3.custom.css"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="$portalPath/js/jquery-fileupload/vendor/jquery.ui.widget.js"></script>
<script src="$portalPath/js/jquery-fileupload/jquery.iframe-transport.js"></script>
<script src="$portalPath/js/jquery-fileupload/jquery.fileupload.js"></script>
<script type='text/javascript' src='//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js'></script>
#end
<link rel="stylesheet" type="text/css" href="$portalPath/css/styles.css" />
<link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/screen.css" media="screen" />
<link rel="stylesheet" type="text/css" href="$portalPath/css/jquery-fileupload/fileupload.css" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/ie6.css" media="screen" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="$portalPath/css/fluid960gs/ie.css" media="screen" /><![endif]-->
<script type="text/javascript">
var __entityMap = {
    "&": "&amp;",
    "<": "&lt;",
    ">": "&gt;",
    '"': '&quot;',
    "'": '&#39;',
    "/": '&#x2F;'
};

String.prototype.escapeHTML = function() {
    return String(this).replace(/[&<>"'\/]/g, function (s) {
        return __entityMap[s];
    });
}
</script>

$!pageHeader

#parse($page.getTemplate('layout/html-head-links.vm'))
#parse($page.getTemplate('layout/html-head-scripts.vm'))