#macro(displayList $listName $label)
    <dt>$label</dt>
	#set($items = $metadata.getList("$listName"))
    <dd>
    #if ($items && $items.size() > 0)
		#set($i = 0)
#foreach($item in $items)
#if($i > 0),#else #set($i = 1) #end	$item#end
    #else
		#noInformation()
    </dd>
    #end
#end

#macro(getSingleValue $key)
    #set($v = $metadata.get("$key"))
    #if ($v && "$!v" != "")
		$page.escapeHtml($v)
    #else
		#noInformation()
    #end
#end

#macro(getListValues $listName)
	#set($items = $metadata.getList("$listName"))
    #if ($items && $items.size() > 0)
		#set($i = 0)
#foreach($item in $items)
#if($i > 0),#else #set($i = 1) #end	$page.escapeHtml($item)#end
    #else
		#noInformation()
	#end	
#end

#macro(displayRow $key $name $type)
	<tr>
    <td>$name</td>
    <td>#if ( $type == "list" ) #getListValues($key) #else #getSingleValue($key) #end </td>
    </tr>
#end

#macro(displayUnescapedKey $map $key $required)
    #set ($value = $map.get($key))
    #if ("$!value" != "")
$value
    #else
        #if ($required)
#missing($key)
        #end
    #end
#end

#macro(displayUnescapedRequiredKey $map $key)
    #displayUnescapedKey($map $key true)
#end

## display a list in a row
#macro(displayRowList $label $baseKey $subKey)
<tr>
<td>$label</td>
<td>
#set($forList = $self.getListValues("$baseKey"))
#if ($forList.isEmpty())
#noInformation()
#else
	#set($i = 0)
#foreach($key in $forList.keySet())
#set($item = $forList.get($key))
#if($i > 0), #else #set($i = 1) #end $page.escapeHtml($item.get("$subKey"))#end
#end
</td>
</tr>
#end
#macro(displayMintLabelByLookup $key $name $urlName, $resKey, $valKey)
	<tr>
    <td>$name</td>
	#set($label= $self.getMintLabelByLookup($urlName, $key, $resKey, $valKey))
    <td>
		#if($label)
			$label.get(0)
		#else
			#noInformation()
		#end
	</td>
    </tr>
#end
<style>
	#pdf-like a { text-decoration: underline; }
	#pdf-like td:first-child { width: 17em; }
</style>
<section>
	<h1>#displayMessage("self-submission.heading.label.overview")</h1>
    <table id="pdf-like">
        #displayRow("dc:title" "#displayMessage('self-submission.field.label.dc-title')")
        #displayRow("dc:type.skos:prefLabel" "#displayMessage('self-submission.field.label.dc-type')")
        #displayRow("dc:extent" "#displayMessage('self-submission.field.label.dc-extent')")
        #displayRowList("#displayMessage('dmpt.field.label.foaf-fundedBy.foaf-Agent')" "foaf:fundedBy.foaf:Agent" "skos:prefLabel")
        #displayRowList("#displayMessage('dmpt.field.label.foaf-fundedBy.vivo-Grant')" "foaf:fundedBy.vivo:Grant" "redbox:grantNumber")
        #displayRow("dc:language.skos:prefLabel" "#displayMessage('self-submission.field.label.dc-language')")        
		##displayMintLabelByLookup("dc:language.dc:identifier" "#displayMessage('self-submission.field.label.dc-language')" "Languages" "results" "dc:title") 
        #displayRow("self-submission.field.dc-identifier.redboxdmpt-doirequest.1" "#displayMessage('self-submission.field.label.dc-identifier.redboxdmpt-doirequest')")
        #displayRow("dc:identifier.rdf:PlainLiteral" "#displayMessage('self-submission.field.label.dc-identifier.rdf-PlainLiteral')")
        #displayRow("vivo:Location.vivo:GeographicLocation.gn:name" "#displayMessage('self-submission.heading.label.location')")
		#displayRowList("#displayMessage('self-submission.field.label.bibo-Website')" "bibo:Website" "dc:identifier")
		#set($v = $metadata.get("redbox:ManagementPlan.oid"))
	    #if ($v && "$!v" != "")
			<tr>
		    <td>#displayMessage('self-submission.field.label.redbox-ManagementPlan.skos-note')</td>
		    <!-- <a href="$portalPath/detail/$v">#displayMessage('self-submission.text.redbox-ManagementPlan.link')</a> -->
		    #set($plan_name = $metadata.get('redbox:ManagementPlan.skos:note'))
		    <td><a href="$portalPath/detail/$v">$!plan_name</a></td>
		    </tr>
	    #end
    </table>
    <h4>#displayMessage("self-submission.field.label.dc-description")</h4>
     #set($dataList = $self.getList("dc:description"))
    #if ($dataList.isEmpty())
        <dd>
            #noInformation()
        </dd>
    #else
            <dd id="dcdescriptionList">
                <ol>
                    #foreach($key in $dataList.keySet())
                        #set($data = $dataList.get($key))
                    #set($descriptionText = $data.get("text"))
                    #if ("$!descriptionText" != "")
                         <li><div id="dcdescription${key}" class="dcdescription">#displayUnescapedRequiredKey($data "text")</div>
                             #set($type = $data.get("type"))
                             #if("$!type" != "")
                                <ul>
                                    <li><b>Type</b>: $type</li>
                                </ul>
                             #end
                        </li>
                    #end
                #end
                </ol>
            </dd>
    #end
</section>

<script type="text/javascript">
$(function() {

     function escapeId(rawId) {
         return "#" + rawId.replace( /(:|\.)/g, "\\$1" );
     }
    function appendIFrameForUnescaped(text, jQId) {
        ## attach to an element to get unescaped.
        iFramejQId = $('#dcdescriptionFrame').contents().find(jQId);
        var unescapedText = iFramejQId.html(text).text();
        ## reset the element before updating
        iFramejQId.html('');
        iFramejQId.html(text);
    }
    var originalDescriptions=$('#dcdescriptionList').html();
    $('#dcdescriptionList').html('');
    $('<iframe id="dcdescriptionFrame" style="height:200px; border: none;"/>').appendTo('#dcdescriptionList')
         .contents().find('body').append(originalDescriptions);
    $('#dcdescriptionFrame').contents().find('.dcdescription').each( function(index, element) {
        var className = $(this).attr('class');
        ## ensure that pre-wysiwyg records don't break
        var text = $(this).html();
        text = text.trim();
        var descriptionCount=$(this).attr('id').replace(className, '');
        appendIFrameForUnescaped(text, escapeId('dcdescription' + descriptionCount));
    });
});
</script>