##    locrel:rth.foaf:Person.foaf:title 
##    locrel:rth.foaf:Person.foaf:givenName 
##    locrel:rth.foaf:Person.foaf:familyName 
##    locrel:rth.foaf:Person.foaf:email    
    
#macro(displayPerson $key $name)
    <dt>$name</dt>
    <dd>
    	#set($title = $metadata.get("$key:title"))
		#set($givenName = $metadata.get("$key:givenName"))
		#set($familyName = $metadata.get("$key:familyName"))
		#set($email = $metadata.get("$key:email"))
    #if ($familyName || $givenName)
    	$page.escapeHtml($!title) $page.escapeHtml($!givenName) $page.escapeHtml($!familyName) $page.escapeHtml($!email)
    #else	
    ##if ($items && $items.size > 0)
		##set($i = 0)
		##foreach($item in $items)
			##if($i > 0), #else #set($i = 1) #end
			##$item
		##end
    ##else
		#noInformation()
    </dd>
    #end
#end

#macro(missing $value)
<i>{missing: "$value" }</i>
#end

#macro(displayKey $map $key $required)
#set ($value = $map.get($key))
#if ("$!value" != "")
$page.escapeHtml($value)
#else
    #if ($required)
#missing($key)
    #end
#end
#end

#macro(displayOptionalKey $map $key)
#displayKey($map $key false)
#end

#macro(displayRequiredKey $map $key)
#displayKey($map $key true)
#end

#sectionHeading("People")
<div class="meta">
    <dl>
	##set($key = "locrel:rth.foaf:Person.foaf")
	##set($title = $metadata.get("$key:title"))
	##set($givenName = $metadata.get("$key:givenName"))
	##set($familyName = $metadata.get("$key:familyName"))
	##set($email = $metadata.get("$key:email"))

	##$!title $!givenName $familyName $!email

	#displayPerson("dc:creator.foaf:Person.foaf" "Principal investigator")
    #displayPerson("locrel:prc.foaf:Person.foaf" "Data manager")
    
    <dt>Collaborators</dt>
    #set($personList = $self.getList("dc:contributor.locrel:clb"))
    #if ($personList.isEmpty())
    <dd>
    #noInformation()
    </dd>
    #else
    <dd>
        <ol>
        #foreach($key in $personList.keySet())
            #set($person = $personList.get($key))
            <li>
                #displayOptionalKey($person "foaf:Agent.foaf:title")
                #displayRequiredKey($person "foaf:Agent.foaf:givenName")
                #displayRequiredKey($person "foaf:Agent.foaf:familyName")
                #displayOptionalKey($person "foaf:Agent.foaf:email")
            </li>
        #end
        </ol>
    </dd>
    #end

    #displayPerson("swrc:supervisor.foaf:Person.foaf" "Supervisor")
        
    </dl>
</div>
