*.class
.DS_Store
# Package Files #

*.jar
*.war
*.ear
/config/target
/plugins/transaction/curation/target
target/
.settings/
.classpath
.project
.pydevproject
*.pyc
*.iml
*.prefs
.settings/org.maven.ide.eclipse.prefs
parent/.settings/org.maven.ide.eclipse.prefs
*.log
classpath
.processed
config/src/main/config/portal/default/redbox/scripts/hkjobs/new-alerts/alertlib/test/test-alerts
config/src/main/config/portal/default/redbox/scripts/hkjobs/new-alerts/alertlib/test/config-new/
config/src/main/config/home/lib/jython/alertlib/test/test-alerts
*.iml
