*.class
.DS_Store
# Package Files #
*.jar
*.war
*.ear
/config/target
/plugins/transaction/curation/target
target/
.settings/
.classpath
.project
.pydevproject
*.pyc

config/src/main/config/portal/default/redbox/scripts/hkjobs/new-alerts/alertlib/test/test-alerts
config/src/main/config/portal/default/redbox/scripts/hkjobs/new-alerts/alertlib/test/classpath

*.prefs

.settings/org.maven.ide.eclipse.prefs

parent/.settings/org.maven.ide.eclipse.prefs

*.log
