<script type="text/javascript">
	var access_control_oid = null; // used for caller from myplans mydatasets to set oid
	var access_control_users = null;
	// table_components: to enable language file to be used later
	var table_components = '<tr><th>#displayMessage("researcher-dashboard.home.access-control.userlist.owner")</th>';
	table_components += '<th>#displayMessage("researcher-dashboard.home.access-control.userlist.username")</th>';
	table_components += '<th style="width:10%">#displayMessage("researcher-dashboard.home.access-control.userlist.delete")</th>';
	table_components += '</tr>';

	function build_users_table(results) {
		var table_html = "<table>" + table_components; //table_components is built from language file

		var owner = results.owner;
		table_html += "<tr>";
		table_html += "<td><input type='radio' name='is_owner' checked = 'checked' value='old-owner' /></td>";
		table_html += "<td>" + owner + "</td>";
		table_html += "<td></td>";
		table_html += "</tr>";

		var users = results.viewers;
		if (typeof users === 'string') {
	    	table_html += "<tr>";
	    	table_html += "<td><input type='radio' name='is_owner'";
	    	if (users == owner) { table_html += " checked = 'checked'"; } 
	    	table_html += " value='" + owner + "' /></td>";
	    	table_html += "<td>" + users + "</td>";
	    	table_html += "<td><span class='ui-icon ui-icon-trash' style='display:inline-block' onclick=\"revoke_user('" + users + "')\"></span></td>";
	    	table_html += "</tr>";
		} else {
		    for (var i = 0; i< users.length; i++ ) {
		    	table_html += "<tr>";
		    	table_html += "<td><input type='radio' name='is_owner'";
		    	if (users[i] == owner) { table_html += " checked = 'checked'"; } 
		    	table_html += "  value='" + users[i] + "'/></td>";
		    	table_html += "<td>" + users[i] + "</td>";
		    	table_html += "<td><span class='ui-icon ui-icon-trash' style='display:inline-block' onclick=\"revoke_user('" + users[i] + "')\"></span></td>";
		    	table_html += "</tr>";
		    }
		}
		table_html += "</table>"
	    $("#table_holder").html(table_html);
	}
	
	function manage_access(oid) {
		access_control_oid = oid;
		// This ajax call is for initialising user list
		jQuery.ajax({
			url: "$portalPath/grantAccess.ajax",
			data: { oid:access_control_oid,
					action:"get"
				  },
			error: function(j, s) {alert(s)},	  
			success: function(aj_data) { build_users_table(aj_data); $("#dialog-form").dialog("open"); }
			});
	}
	
    function add_user() {
    	var added_user = document.getElementById('add_user').value;
    	
    	if (added_user) {
			jQuery.ajax({
				type : "POST",
				url : "$portalPath/actions/admin.ajax",
				error: function (req) {
					alert("Attention please:\n" + req.responseText);
				},
				data: {
					record: access_control_oid,
					user: added_user,
					source: "derby",
					verb: "grant-access"
				},
        		dataType:"text",	
        		success: function() {
	    			jQuery.ajax({
	    				url: "$portalPath/grantAccess.ajax",
	    				data: { oid:access_control_oid,
	    						action:"get"
	    					  },
	    				error: function(req) { alert("Attention please:\n" + req.responseText); },
	    				success: function(d) { build_users_table(d); $("#action-warning-msg").show(); }
	    				});
        			}
        		});
    	}
    }

	function change_owner(oid) {
		var change = "change", new_owner = "admin";
		jQuery.ajax({
			url: "$portalPath/grantAccess.ajax",
			data: { action:"change",
					oid:oid,
					source: "derby",
					new_owner:"admin"
				  },
			dataType:'json',
			success: function() {
				window.location.reload();
			},
			error: function (req ) { alert("Attention is needed:\n" + req.responseText) }
		});

	}

    function revoke_user(user_name) {
    	var r=confirm("Are you sure to remove?");
		if (r==false) {
		  return;
		}
    	jQuery.ajax({
    		type : "POST",
    		url : "$portalPath/actions/admin.ajax",
    		dataType:"text",
    		success: function() {
	    			jQuery.ajax({
	    				url: "$portalPath/grantAccess.ajax",
	    				data: { oid:access_control_oid,
	    						action:"get"
	    					  },
	    				error: function(req) { alert("Attention please:\n" + req.responseText); },
	    				success: function(d) { build_users_table(d); $("#action-warning-msg").show(); }
	    				});
	    		},
    		error:	function (req) {
	    			alert("Deletion failed.\n" + req.responseText)
	    		},
    		data: {
		    		record: access_control_oid,
		    		user: user_name,
		    		source: "derby",
		    		verb: "revoke-access"
	    		}
    		}); 
    }

	$(function () {
        $("#dialog-form").dialog({
            autoOpen: false,
            height: "auto",
            width: 300,
            modal: true,
            buttons: {
                "Change": function () {
                	var owners = document.getElementsByName('is_owner');
                	var new_owner = '';
                	for(var i = 0; i < owners.length; i++) {
                          if (owners[i].checked) {
                        	  new_owner = owners[i].value;
                              break;
                          } 
                	}
                	if (new_owner !== 'old-owner') {
                    	jQuery.ajax({
                    		url: "$portalPath/grantAccess.ajax",
                    		data: { action:"change",
                    				source:"derby",
                    				oid:access_control_oid,
                    				new_owner:new_owner
                    			  },
                    		dataType:'json'
                    		});
                	}
                	setInterval(function() { window.location.reload() }, 1500)
                	$(this).dialog("close");
                },
                "Close": function () {
                    $(this).dialog("close");
                },
                "Reload": function () {
                	$("#action-warning-msg").hide();
            		jQuery.ajax({
            			url: "$portalPath/grantAccess.ajax",
            			data: { oid:access_control_oid,
            					action:"get"
            				  },
            			error: function (req ) { alert("Attention is needed:\n" + req.responseText) }	  
            			success: function(aj_data) { build_users_table(aj_data); $("#dialog-form").dialog("open"); }
            			});
                }
            }
        });
    });
</script>

<div id="dialog-form" title="#displayMessage('researcher-dashboard.home.access-control.title')">
    <!--<h2>#displayMessage("researcher-dashboard.home.access-control.title")</h2>-->
	<p>#displayMessage("researcher-dashboard.home.access-control.intro")</p>
	<div id = "table_holder">
	## below is just an example of how table look like. The actual table is built dynamically
    <table>
	    <tr>
	    	<td>#displayMessage("researcher-dashboard.home.access-control.userlist.owner")</td>
	        <td>#displayMessage("researcher-dashboard.home.access-control.userlist.username")</td>
	        <td style="width:10%">#displayMessage("researcher-dashboard.home.access-control.userlist.delete")</td>
	    </tr>
	    <tr>
	    	<td><input type="radio" name="is_owner" /></td>
	        <td>John</td>
	        <td><span class="ui-icon ui-icon-trash" style="display:inline-block" onclick="revoke_user('John')"></span></td>
	    </tr>
	    #foreach($user in $item.security_exception)
	    <!--
	    <tr>
	    	<td><input type="radio" name="is_owner" /></td>
	        <td>$user</td>
	        <td><span class="ui-icon ui-icon-trash" style="display:inline-block" onclick="revoke_user('$user')"></span></td>
	    </tr>
	    -->
	    #end
	</table>
	</div>
	##<div id="user-list">input text here</div>
	<input type="text" name="add_user" id="add_user" />
	<button onclick="add_user()">#displayMessage("researcher-dashboard.home.access-control.userlist.add")</button>
	<div id="user-list-help" class="pre-help-content">#displayMessage("researcher-dashboard.home.access-control.help")</div>
	<div id="action-warning-msg" style="display:none" >#displayMessage("researcher-dashboard.home.access-control.action-warning")</div>
</div>
