<script src="$portalPath/js/wizard.js"></script>
<script type="text/javascript">
	$(document).ready(function() {

		#set($flowName = $velocityContext.get("request").getParameter("flow"))
		#if($flowName == "dataAccess")
			wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/dmpt-licensingandaccessflow.json", "dmptTabs");
		#elseif ($flowName == "mainflow")
			wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/dmpt-mainflow.json", "dmptTabs");
		#elseif ($flowName == "dataStructure")
			wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/dmpt-datastructureflow.json", "dmptTabs");
		#elseif ($flowName == "dataRetention")
			wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/dmpt-dataretentionflow.json", "dmptTabs");
		#else
			wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/dmpt-iniflow.json", "dmptTabs");
		#end
		
		$("[id='dataLicensingAccess.manager']").attr('disabled','disabled');
		
		//on change event to set read only field in Data licensing and access with data manager
		$("[id='locrel:prc.foaf:Person.foaf:familyName']").change(function() {
			var dataManager= $("[id='locrel:prc.foaf:Person.foaf:title']").val() + " " +
 			$("[id='locrel:prc.foaf:Person.foaf:givenName']").val() + " " + $("[id='locrel:prc.foaf:Person.foaf:familyName']").val();
			$("[id='dataLicensingAccess.manager']").val(dataManager);
		});
   	})
</script>