<script src="$portalPath/js/wizard.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		var hidden_elements = document.getElementsByClassName('HiddenWidget');
   		for( var i = 0; i < hidden_elements.length; i++) {
   			hidden_elements[i].style.display = 'none';
   		}
		
		wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/dmpt-self-submission.json", "dmptTabs");
		
		$("[id='dataLicensingAccess.manager']").attr('disabled','disabled');
		
		//on change event to set read only field in Data licensing and access with data manager
		$("[id='locrel:prc.foaf:Person.foaf:familyName']").change(function() {
			var dataManager= $("[id='locrel:prc.foaf:Person.foaf:title']").val() + " " +
 			$("[id='locrel:prc.foaf:Person.foaf:givenName']").val() + " " + $("[id='locrel:prc.foaf:Person.foaf:familyName']").val();
			$("[id='dataLicensingAccess.manager']").val(dataManager);
		});
		
		prepareHelps();
   	})
</script>