#set($noLayout = true)
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="$contextPath/$portalId/feed/oai-pmh/xsl/oai2html.xsl"?>
<OAI-PMH xmlns="http://www.openarchives.org/OAI/2.0/"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd">
    <responseDate>$!self.responseDate</responseDate>
    <request#if($self.verb) verb="$!self.verb"#end #if($self.token) resumptionToken="$self.token.getConstructedToken()"#end>http://localhost:9997$contextPath/$portalId/feed/oai</request>
    #if($self.error)
        #set($code = $self.error.code)
        #set($message = $self.error.message)
        <error code="$code">$message</error>
    #else
        #set($itemList = $self.result.getList("response/docs"))
        #parseTemplate("feed/oai-pmh/${self.verb}.vm")
    #end
</OAI-PMH>

##if $self.token
##<resumptionToken>archive/100/14269136/oai_dc</resumptionToken>
##end
