#set($pageTitle = "Submission Request")
<style type="text/css">
fieldset p textarea { display:block; width: 98%; }
.required { color: red; }
label.validation, .validation label { color: red; display: block; }
#submitLabel { color: green; }
</style>
<h2 id="page-heading">$pageTitle</h2>
<div class="grid_16 widget-form"
    data-form-fields="description,contactName,emailAddress,phoneNumber"
    data-form-fields-readonly="submit"
    data-submit-url="$portalPath/actions/submission.ajax"
    data-submit-result-func="afterSubmit">
    <p>Please provide a brief overview of your research data and how to contact you.</p>
    <fieldset>
        <p>
            <label for="description">Description <span class="required">*</span></label>
            <label class="validation" for="description" data-validation-rule="test(notEmpty);when(blur,submit);">A description is required!</label>
            <textarea id="description" cols="40" rows="10"></textarea>
        </p>
        <p>
            <label for="contactName">Contact Name <span class="required">*</span></label>
            <label class="validation" for="contactName" data-validation-rule="test(notEmpty);when(blur,submit);">A contact name is required!</label>
            <input id="contactName" type="text" size="40" />
        </p>
        <p>
            <label for="phoneNumber">Phone Number <span class="required">*</span></label>
            <label class="validation" for="phoneNumber" data-validation-rule="test(notEmpty);when(blur,submit);">A phone number is required!</label>
            <input id="phoneNumber" type="text" size="40" />
        </p>
        <p>
            <label for="emailAddress">Email Address <span class="required">*</span></label>
            <label class="validation" for="emailAddress" data-validation-rule="test(email);when(blur,submit);">A valid email address is required!</label>
            <input id="emailAddress" type="text" size="40" />
        </p>
        <input class="button form-fields-submit" id="submit" type="submit" value="Submit" />
        &nbsp;<label id="submitLabel" for="submit"></label>
    </fieldset>
</div>
<div class="clear"></div>
<script type="text/javascript" src="$portalPath/javascript-widgets/widgets2.js"></script>
<script type="text/javascript">
$(function(){
    widgets.contentLoaded();
});

function afterSubmit() {
    $("input[type='text'],textarea").val("");
    $("#submitLabel").text("Dataset submitted successfully!");
    setTimeout('$("#submitLabel").text("")', 2500);
}
</script>
