<table>
    <tr>
        <th>Description</th>
        <td>$metadata.getList("dc_description").get(0)</td>
    </tr>
    <tr>
        <th>Contact Name</th>
        <td>$metadata.getList("contactName").get(0)</td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td>$metadata.getList("phoneNumber").get(0)</td>
    </tr>
    <tr>
        <th>Email Address</th>
        #set($email = $metadata.getList("emailAddress").get(0))
        <td><a href="mailto:email">$email</a></td>
    </tr>
</table>
