<div class="grid_6">
    #set($menuTitle = "Alerts")
    #parseTemplate("wrapping/info-box-open.vm")
    <div class="block">
        #if($self.alerts.isEmpty())
        <p>No recent alerts.</p>
        #else
        <p>Records to be investigated:</p>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Source</th>
                <th></th>
            </tr>
            </thead>
            #foreach($alert in $self.alerts)
                #set($oid = $alert.get("id"))
                #set($title = $alert.getFirst("dc_title"))
                #set($source = $alert.getFirst("workflow_source"))
                <tr>
                    <td>$velocityCount</td>
                    <td width="50%"><a class="titleText" href="$portalPath/workflow/$oid">$title</a></td>
                    <td>$!source</td>
                    <td class="actions">
                        <img class="accept-record" rel="$oid" src="$portalPath/images/icons/accept.png" title="Accept this record" />
                        <img class="delete-record" rel="$oid" src="$portalPath/images/icons/bin.png" title="Delete this record" />
                    </td>
                </tr>
            #end
        </table>
        #end
    </div>
    #parseTemplate("wrapping/info-box-close.vm")
</div>
<script type="text/javascript">
    function updateStageCount(stage, added) {
        var stageElem = $("#wfStage" + stage);
        var countElem = stageElem.find(".count");
        var currentCount = parseInt(countElem.text());
        var updatedCount = currentCount + added;
        countElem.text(updatedCount);
        var titleElem = stageElem.find(".titleText");
        var label = titleElem.text().trim();
        if (updatedCount == 0) {
            titleElem.html("<em>" + label + "</em>");
        } else {
            titleElem.html('<a class="stagelink" href="$portalPath/search" rel="' + label + '">' + label + "</a>");
        }
    }
    $(".delete-record").click(function(){
        var oid = $(this).attr("rel");
        var me = $(this);
        jQuery.ajax({
            type: "POST",
            url: "$portalPath/actions/delete.ajax",
            success:
                function (data, status) {
                    var parentRow = me.parent().parent();
                    parentRow.find("td").addClass("deleted");
                    parentRow.find(".actions").html("deleted");
                    updateStageCount(1, -1);
                },
            error: function(req, status, e) { alert(req.responseText); },
            data: { record: oid }
        });
    });
    $(".accept-record").click(function(){
        var oid = $(this).attr("rel");
        var me = $(this);
        jQuery.ajax({
            type: "POST",
            url: "$portalPath/workflow.ajax",
            success:
                function (data, status) {
                    if (!data.error) {
                        var parentRow = me.parent().parent();
                        parentRow.find("td").addClass("accepted");
                        parentRow.find(".actions").html("accepted");
                        updateStageCount(1, -1);
                        updateStageCount(2, 1);
                    } else {
                        alert("Failed to accept inbox record!\nReason: " + data.error);
                    }
                },
            error: function(req, status, e) { alert(req.responseText); },
            data: {
                func: "update-package-meta-deposit",
                oid: oid,
                "dc:title": me.parent().parent().find(".titleText").text().trim()
            },
            dataType: "json"
        });
    });
</script>
