<div class="grid_6">
    #set($menuTitle = "Review Stages")
    #parseTemplate("wrapping/info-box-open.vm")
    <div class="block">
        <p>Select a stage to find all records in that stage.</p>
        <table>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Records</th>
            </tr>
            #foreach($stage in $self.stages)
                #set($count = $stage.count)
                <tr>
                    <td>$velocityCount</td>
                    <td>
                        <img src="$portalPath/images/icons/wf_${stage.name}.png" />
                        #if($count == 0)
                            <em>$stage.label</em>
                        #else
                            <a class="stagelink" href="$portalPath/search" rel="$stage.label">$stage.label</a>
                        #end
                        <br/>
                        <span>$stage.description</span>
                    </td>
                    <td style="text-align:center">$count</td>
                </tr>
            #end
        </table>
    </div>
    #parseTemplate("wrapping/info-box-close.vm")
</div>
<script type="text/javascript">
$(function(){
    $(".stagelink").click(function(){
        var fq = 'workflow_step_label:"' + $(this).attr("rel") + '"';
        setActionUri($(this).attr("href"));
        doAction("add_fq", fq);
        return false;
    });
});
</script>
