## display a list in a row 
#macro(displayRowList $label $baseKey $subKey $class)
<tr class="$!class">
<td>$label</td>
<td>
#set($forList = $util.getList($item, "$baseKey"))
#if ($forList.size() > 0)
	#set($i = 0)
#foreach($key in $forList.keySet())
#if($i > 0), #else #set($i = 1) #end
<![CDATA[$forList.get($key).get("$subKey")]]>#end
#else
	#noInformation()
#end
</td>
</tr>
#end

## Special treat for Grant Numbers 
#macro(displayGrantNumbers $label $baseKey $class)
<tr class="$!class">
<td>$label</td>
<td>
#set($forList = $util.getList($item, "$baseKey"))
#if ($forList.size() > 0)
	#set($i = 0)
#foreach($key in $forList.keySet())
#if($i > 0), #else #set($i = 1) #end
#set($subv = $forList.get($key).get("skos:prefLabel"))
#if ("$!subv" == "") #set($subv = $forList.get($key).get("redbox:grantNumber")) #end            
<![CDATA[$!subv]]>#end            
#else
	#noInformation()
#end
</td>
</tr>
#end

<section>
	<h1>Project overview</h1>
    <table>
        #displayRow("dc:title" "Project name (*)" "odd_row")
        #displayRow("dc:identifier" "Project ID (*)" "even_row")
        #displayRow("dc:relation.bibo:Website" "Project website" "odd_row")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:start" "Start date" "even_row")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:end" "End date" "odd_row")
        #displayRowList("Funding source" "foaf:fundedBy.foaf:Agent" "skos:prefLabel" "even_row")
        #displayGrantNumbers("Grant number(s)" "foaf:fundedBy.vivo:Grant" "odd_row")
        #displayRow("dc:subject.anzsrc:toa.skos:prefLabel" "Activity type" "even_row")
        #displayRowList("FoR Codes" "dc:subject.anzsrc:for" "skos:prefLabel"  "odd_row")
        #displayRowList("SEO Codes" "dc:subject.anzsrc:seo" "skos:prefLabel" "even_row")
	</table>
	<h4>Description</h4>
	#set($v = $util.get($item, 'dc:description').trim())
	<p>    #if($v && ("$!v" != ""))
		<![CDATA[ $v ]]>
	    #else
			#noInformation()	
	    #end
	 </p>
</section>
<hr />
