## display a list in a row 
#macro(displayRowList $label $baseKey $subKey)
<tr>
<td>$label</td>
<td>
#set($forList = $util.getList($item, "$baseKey"))
#if ($forList.size() > 0)
	#set($i = 0)
    #foreach($key in $forList.keySet())
        #if($i > 0) , #else #set($i = 1) #end
        $forList.get($key).get("$subKey")
    #end
#else
	#noInformation()
#end
</td>
</tr>
#end

<section>
	<h1>Overview</h1>
    <table>
        #displayRow("dc:title" "Project name" "odd_row")
        #displayRow("dc:identifier" "Project ID" "even_row")
        #displayRow("dc:relation.bibo:Website" "Project website" "odd_row")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:start" "Start date" "even_row")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:end" "End date" "odd_row")
        #displayRow("foaf:fundedBy.foaf:Agent" "Funding source" "even_row")
        #displayRowList("Grant numbers" "foaf:fundedBy.vivo:Grant" "")
        #displayRow("dc:subject.anzsrc:toa.skos:prefLabel" "Activity type" "even_row")
        #displayRowList("FOR codes" "dc:subject.anzsrc:for.0.rdf:resource" "skos:prefLabel")
        #displayRowList("SEO codes" "dc:subject.anzsrc:seo.0.rdf:resource" "skos:prefLabel")
	</table>
	<h4>Description</h4>
	#set($v = $util.get($item, 'dc:description'))
	<p>    #if($v && ("$!v" != ""))
		$v
	    #else
			#noInformation()	
	    #end
	 </p>
</section>
<hr />
