<section>
	<h1>Overview</h1>
    <table id="pdf-like">
        #displayRow("dc:title" "Project name" "odd_row")
        #displayRow("dc:identifier" "Project ID" "even_row")
        #displayRow("dc:relation.bibo:Website" "Project website" "odd_row")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:start" "Start date" "even_row")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:end" "End date" "odd_row")
        #displayRow("foaf:fundedBy.foaf:Agent" "Funding source" "even_row")
        #displayRow("foaf:fundedBy.vivo:Grant" "Grant numbers" "odd_row" "list")
        #displayRow("dc:subject.anzsrc:toa" "Activity type" "even_row")
        #displayRow("dc:subject.anzsrc:for" "FOR codes" "odd_row" "list")
        #displayRow("dc:subject.anzsrc:seo" "SEO codes" "even_row" "list")
	</table>
	<h4>Description</h4>
	<p>$util.get($item, 'dc:description')</p>
</section>
<hr />
