#set($pageTitle = "Submission Request")
#set($loggedIn = $page.authentication.is_logged_in())
#set($dataEntryMode = !$page.authentication.is_logged_in() && !$self.isSubmitted())
#set($reviewMode = $page.authentication.is_logged_in() && $self.isSubmitted())
#set($disabled = "")
#if($reviewMode)
    #set($disabled = 'readonly="readonly"')
#end
<style type="text/css">
fieldset p textarea { display:block; width: 98%; }
.required {
#if($reviewMode)
    display: none;
#else
    color: red;
#end
}
label.validation, .validation label { color: red; display: block; }
#submitLabel { color: green; }
</style>
<div class="grid_16 widget-form"
    data-form-fields="submitted,workflow_source,submitDate,submitDescription,contactName,emailAddress,phoneNumber"
    data-form-fields-readonly="submit"
    data-submit-url="$portalPath/actions/workflow.ajax?ajax=true&func=update-package-meta-deposit&oid=$self.oid"
    data-submit-result-func="afterSubmit">
    <input type="hidden" name="submitted" value="true" />
    <input type="hidden" name="workflow_source" value="Submission Request" />
    <p id="userPrompt">
    #if($reviewMode)
    Please review the submission request and action as appropriate.
    #else
    Please provide a brief overview of your research data and how to contact you.
    #end
    </p>
    <fieldset>
        <p>
            <label for="submitDate">Date Submitted</label>
            <input id="submitDate" type="text" size="40" value="$!self.getSubmitDate()" readonly="readonly" />
        </p>
        <p>
            <label for="submitDescription">Description <span class="required">*</span></label>
            <label class="validation" for="submitDescription" data-validation-rule="test(notEmpty);when(blur,submit);">A description is required!</label>
            <textarea id="submitDescription" cols="40" rows="10" $disabled>$!self.getRequestData("submitDescription")</textarea>
        </p>
        <p>
            <label for="contactName">Contact Name <span class="required">*</span></label>
            <label class="validation" for="contactName" data-validation-rule="test(notEmpty);when(blur,submit);">A contact name is required!</label>
            <input id="contactName" type="text" size="40" value="$!self.getRequestData('contactName')" $disabled />
        </p>
        <p>
            <label for="phoneNumber">Phone Number <span class="required">*</span></label>
            <label class="validation" for="phoneNumber" data-validation-rule="test(notEmpty);when(blur,submit);">A phone number is required!</label>
            <input id="phoneNumber" type="text" size="40" value="$!self.getRequestData('phoneNumber')" $disabled/>
        </p>
        <p>
            <label for="emailAddress">Email Address <span class="required">*</span></label>
            <label class="validation" for="emailAddress" data-validation-rule="test(email);when(blur,submit);">A valid email address is required!</label>
            <input id="emailAddress" type="text" size="40" value="$!self.getRequestData('emailAddress')" $disabled/>
        </p>
        #if($reviewMode)
            #set($submitLabel = "Accept")
            #set($deleteLabel = "Delete")
        #else
            #set($submitLabel = "Submit")
            #set($deleteLabel = "Cancel")
        #end
        <input class="button form-fields-submit" id="submitButton" type="submit" value="$submitLabel" />
        <button id="deleteButton">$deleteLabel</button>
        <span class="hidden" id="loading">
            <img src="$portalPath/images/icons/loading.gif" />
        </span>
    </fieldset>
</div>
<div class="clear"></div>
<script type="text/javascript" src="$portalPath/javascript-widgets/widgets2.js"></script>
<script type="text/javascript">
$(function(){
    widgets.contentLoaded();

    $("#submitButton").click(function(){
        $(this).attr("disabled", "disabled");
        $("#loading").show();
        return true;
    });

    $("#deleteButton").click(function(){
        $(this).attr("disabled", "disabled");
        jQuery.ajax({
            type : "POST",
            url : "$portalPath/actions/delete.ajax",
            success:
                function (data, status) {
                    window.location.href = "$portalPath/home";
                },
            error:
                function (req, status, e) {
                    alert(req.responseText);
                    $("#deleteButton").removeAttr("disabled");
                },
            data: {
                record: "$self.oid"
            }
        });
    });
});

function afterSubmit(widgets,data){
#if($dataEntryMode)
    alert("Your request has been submitted and you will be contacted shortly.");
    window.location.href = "$portalPath/home";
#else
    window.location.reload();
#end
}
</script>
