#sectionHeading("#displayMessage('dmpt.heading.EthicsSensitivities')")
<div class="meta">
    <dl>
        #display("agls:policy.dc:identifier" "#displayMessage('dmpt.field.label.agls-policy.dc-identifier')")
        #display("agls:policy.skos:note" "#displayMessage('dmpt.field.label.agls-policy.skos-note')")
## agls:protectiveMarking is saved from checkbox, sepecial treat
    #set($itemList = $self.getList("agls:protectiveMarking.dc:type"))
    <dt>#displayMessage('dmpt.field.label.agls-protectiveMarking')</dt>
    <dd>
    #if ($itemList.isEmpty())
    #noInformation()
    #else
     #set($i = 0)
        #foreach($key in $itemList.keySet())
         #set($display_value = "--")
         #set($key_value = $itemList.get($key).get('value'))
         #if ($key_value == "agls:protectiveMarking.dc:type.redbox:CulturallySensitive")
         #set($display_value = "Culturally sensitive")
         #elseif($key_value == "agls:protectiveMarking.dc:type.redbox:CommerciallySensitive")
			#set($display_value = "Commercially sensitive")
         #elseif($key_value == "agls:protectiveMarking.dc:type.redbox:SecurityClassified")
			#set($display_value = "Security classified")
		#elseif($key_value == "agls:protectiveMarking.dc:type.redbox:NonPublic")
			#set($display_value = "Non-public")
         #elseif($key_value != 'null')
          	#set($display_value = $key_value)
         #end
         #if( $display_value != "--")
          #if($i > 0) , #end
          $display_value
           #set($i = $i + 1)
         #end
        #end
    #end
    </dd>
        #display("agls:protectiveMarking.skos:note" "#displayMessage('dmpt.field.label.agls-protectiveMarking.skos-note')")
    </dl>
</div>
