#sectionHeading("Ethics, licensing and IP")
<div class="meta">
    <dl>
        #display("dc:coverage" "Country of collection")
        #displayLabel("dc:rightsHolder.dc:name" "Copyright and intellectual property owners" "/../portal/dashboard/dashboard/dmpt/data/rightsOwner.json")
        #display("dc:rightsHolder.dc:description" "Copyright and intellectual property owners - other")
        #display("redbox:ContractualObligations" "Contractual obligations")
    </dl>
</div>
