#sectionHeading("Licensing and access")
<div class="meta">
    <dl>
        #display("dc:accessRights" "Access")
        #display("dc:license.skos:prefLabel" "Licence")
        #display("dc:RightsStatement" "Rights")
        #display("dc:rights.skos:note" "Access notes")
    </dl>
</div>
