#macro(displayList $listName $label)
    <dt>$label</dt>
	#set($items = $metadata.getList("$listName"))
    <dd>
    #if ($items && $items.size() > 0)
		#set($i = 0)
#foreach($item in $items)
#if($i > 0),#else #set($i = 1) #end	$!item#end
    #else
		#noInformation()
    </dd>
    #end
#end


#macro(getListValues $listName)
	#set($items = $metadata.getList("$listName"))
    #if ($items && $items.size() > 0)
		#set($i = 0)
#foreach($item in $items)
#if($i > 0),#else #set($i = 1) #end $page.escapeHtml($!item)#end
    #else
		#noInformation()
	#end	
#end

#macro(getSingleValue $key)
 #set($v = $metadata.get("$key"))
    #if ($v)
		$page.escapeHtml($v)
    #else
		#noInformation()
    #end
#end

#macro(displayRow $key $name $type)
	<tr>
    <td>$name</td>
    <td>#if ( $type == "list" ) #getListValues($key) #else #getSingleValue($key) #end </td>
    </tr>
#end

#macro(displayRowLabel $key $name $labelFile)
	<tr>
    <td>$name</td>
    <td>
    #set($label = $self.getLabel($labelFile, $key))
        #if ($label)
          $!label
        #else
    	  #noInformation()
      #end 
    </td>
    </tr>
#end

## display a list in a row 
#macro(displayRowList $label $baseKey $subKey)
<tr>
<td>$label</td>
<td>
#set($forList = $self.getList("$baseKey"))
#if ($forList.isEmpty())
#noInformation()
#else
	#set($i = 0)
#foreach($key in $forList.keySet())
#set($item = $forList.get($key))
#if($i > 0), #else #set($i = 1) #end
#set($subv = $item.get("$subKey"))
$page.escapeHtml($!subv)#end#end
</td>
</tr>
#end

## Special treat for Grant Numbers 
#macro(displayGrantNumbers $label $baseKey)
<tr>
<td>$label</td>
<td>
#set($forList = $self.getList("$baseKey"))
#if ($forList.isEmpty())
#noInformation()
#else
#set($i = 0)
#foreach($key in $forList.keySet())
#set($item = $forList.get($key))
#if($i > 0), #else #set($i = 1) #end
  #set($subv = $item.get("skos:prefLabel"))
#if ("$!subv" != "")$!subv#else
#set($subv = $item.get("redbox:grantNumber"))$page.escapeHtml($!subv)#end    
#end
#end
</td>
</tr>
#end
<style>
	#pdf-like { border: none; }
</style>
<section>
	<h1>#displayMessage('dmpt.heading.projectOverview')</h1>
    <table id="pdf-like">
        #displayRow("dc:title" "#displayMessage('dmpt.field.label.dc-title')")
        #displayRow("dc:identifier" "#displayMessage('dmpt.field.label.dc-identifier')")
        #displayRow("dc:relation.bibo:Website" "#displayMessage('dmpt.field.label.dc-relation.bibo-Website')")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:start" "#displayMessage('dmpt.field.label.dc-coverage.vivo-DateTimeInterval.vivo-start')")
        #displayRow("dc:coverage.vivo:DateTimeInterval.vivo:end" "#displayMessage('dmpt.field.label.dc-coverage.vivo-DateTimeInterval.vivo-end')")
        #displayRowList("#displayMessage('dmpt.field.label.foaf-fundedBy.foaf-Agent')" "foaf:fundedBy.foaf:Agent" "skos:prefLabel")
        #displayGrantNumbers("#displayMessage('dmpt.field.label.foaf-fundedBy.vivo-Grant')" "foaf:fundedBy.vivo:Grant")
        #displayRow("dc:subject.anzsrc:toa.skos:prefLabel" "#displayMessage('dmpt.field.label.dc-subject.anzsrc-toa')")
        #displayRowList("#displayMessage('dmpt.field.label.dc-subject.anzsrc-for')" "dc:subject.anzsrc:for" "skos:prefLabel")
        #displayRowList("#displayMessage('dmpt.field.label.dc-subject.dc-subject.anzsrc-seo')" "dc:subject.anzsrc:seo" "skos:prefLabel")
    </table>
    <h4>#displayMessage('dmpt.field.label.dc-description')</h4>
	<p>#if($metadata.get('dc:description')) $page.escapeHtml($metadata.get('dc:description')) #else #noInformation() #end</p>
</section>
