##    locrel:rth.foaf:Person.foaf:title 
##    locrel:rth.foaf:Person.foaf:givenName 
##    locrel:rth.foaf:Person.foaf:familyName 
##    locrel:rth.foaf:Person.foaf:email    
    
#macro(displayPerson $key $name)
    <dt>$name</dt>
    <dd>
    	#set($title = $metadata.get("$key:title"))
		#set($givenName = $metadata.get("$key:givenName"))
		#set($familyName = $metadata.get("$key:familyName"))
		#set($email = $metadata.get("$key:email"))
    #if ($familyName)
    	$!title $!givenName $familyName $!email
    #else	
    ##if ($items && $items.size > 0)
		##set($i = 0)
		##foreach($item in $items)
			##if($i > 0) , #else #set($i = 1) #end
			##$item
		##end
    ##else
		#noInformation()
    </dd>
    #end
#end

#sectionHeading("People")
<div class="meta">
    <dl>
	##set($key = "locrel:rth.foaf:Person.foaf")
	##set($title = $metadata.get("$key:title"))
	##set($givenName = $metadata.get("$key:givenName"))
	##set($familyName = $metadata.get("$key:familyName"))
	##set($email = $metadata.get("$key:email"))

	##$!title $!givenName $familyName $!email

	#displayPerson("locrel:rth.foaf:Person.foaf" "Principal investigator")
        #displayPerson("locrel:prc.foaf:Person.foaf" "Data manager")
        #displayPerson("locrel:clb.foaf:Person.1.person.foaf" "Collaborators")
        #displayPerson("swrc:supervisor.foaf:Person.foaf" "Supervisor")
    </dl>
</div>
