#macro(displayPerson $key $name)
    <dt>$name</dt>
    #set($items = $metadata.getList("$key"))
    <dd>
    #if ($items && $items.size > 0)
		#set($i = 0)
		#foreach($item in $items)
			#if($i > 0) , #else #set($i = 1) #end
			$item
		#end
    #else
		#noInformation()
    </dd>
    #end
#end

#sectionHeading("People")
<div class="meta">
    <dl>
        #displayPerson("locrel:rth.foaf:Person.foaf:name" "Principal investigator")
        #displayPerson("locrel:prc.foaf:Person.foaf:name" "Data manager")
        #displayPerson("locrel:clb.foaf:Person.foaf:name" "Collaborators")
        #displayPerson("swrc:supervisor.foaf:Person.0.foaf:name" "Supervisor")
    </dl>
</div>
