#if($page.authentication.is_logged_in() && $page.authentication.has_role('researcher'))
#set($pageTitle = "Home")

<h2 id="page-heading">
  <span>$page.portalName</span>
</h2>

#parseTemplate("menus/home-main-menu.vm")


    <div class="grid_12">
       #parseTemplate("home/dmpt/myplans.vm")
       ## Below section is treated differently to myplans.vm because it has to be reused in other parts and there is no easy way to do it.
       #set($menuTitle = "My datasets")
       #parseTemplate("wrapping/info-box-open.vm")
       #parseTemplate("home/dmpt/mydatasets.vm")
       #parseTemplate("wrapping/info-box-close.vm")
    </div>
    <div class="clear"></div>
#end