#if($page.authentication.is_logged_in() && $page.authentication.has_role('researcher'))
<div class="grid_4">
    #set($menuTitle = "Options")
    #parseTemplate("wrapping/main-menu-open.vm")
    <ul class="menu">
        <li>
            <a id="new-dmpt" href="#" title="Create a new data management plan for your project">#displayMessage("researcher-dashboard.add.new.plan")</a>
            <!--<a id="new-dataset" href="#" title="Create a description for your research data">Describe my data</a>-->
        </li>
    </ul>
    #parseTemplate("wrapping/main-menu-close.vm")
</div>
<script type="text/javascript">
$(function() {
    var jQ = $;
    var processing = false;
    jQ("#new-dataset").click(function() {
        if (processing) return;
        processing = true;
        jQ("#new-dataset").append('<img class="right" src="$portalPath/images/icons/loading.gif" />');
        jQ.ajax({
            type: "POST",
            url: "$portalPath/actions/packaging.ajax",
            data: {
                ajax: 1,
                func: "create-new",
                packageType: "simple",
                metaList: ["title", "description", "redbox:newForm", "redbox:formVersion"],
                title: "[Untitled]",
                description: "",
                "redbox:newForm": "true",
                "redbox:formVersion": "$systemConfig.getString("", "redbox.version.string")"
            },
            success: function(data) {
                if (data.status == "ok") {
                    function redirect() {
                        window.location.href = data.url;
                    }
                    setTimeout(redirect, 1500);
                } else {
                    alert("Failed to create record!");
                }
            },
            error: function(xhr, status, e) {
                alert("Failed to create record!");
            },
            dataType: "json"
        });
        return false;
    });
    
    jQ("#new-dmpt").click(function() {
        if (processing) return;
        processing = true;
        jQ("#new-dmpt").append('<img class="right" src="$portalPath/images/icons/loading.gif" />');
        jQ.ajax({
            type: "POST",
            url: "$portalPath/actions/packaging.ajax",
            data: {
                ajax: 1,
                func: "create-new",
                packageType: "dmpt",
                metaList: ["title", "dc:description", "redbox:newForm", "redbox:formVersion","project.name"],
                title: "[Untitled]",
                description: "",
                "project.name": "New Project",
                "redbox:newForm": "true",
                "redbox:formVersion": "$systemConfig.getString("", "redbox.version.string")"
            },
            success: function(data) {
                if (data.status == "ok") {
                    function redirect() {
                        window.location.href = data.url;
                    }
                    setTimeout(redirect, 1500);
                } else {
                    alert("Failed to create record!");
                }
            },
            error: function(xhr, status, e) {
                alert("Failed to create record!");
            },
            dataType: "json"
        });
        return false;
    });
});

</script>
#end