<h3><a href="#coverage">Coverage</a></h3>
<div id="coverage" class="inputscreen">
    #fieldTitle("dc:coverage" "Date Coverage" false)
    <div class="help-content" id="help-dc:coverage">
        Use this to indicate a date range relevant to the research
        dataset/collection, registry/repository, catalogue or index. Year format
        requires manual entry, eg. 1990 to 2010
    </div>
    <p>
        <input type="text" placeholder="eg. 1990" class="dateYMD" id="dc:coverage.from" />
        <label for="dc:coverage.to">to</label>
        <input type="text" placeholder="eg. 2010" class="dateYMD" id="dc:coverage.to" />
        <label class="validation-err-msg" for="dc:coverage.from"
            data-validation-rule="when(blur,change,submit);name(testCoverageFrom);
                    test(/^[12]\d{3}([-\/]+(10|11|12|0?\d)([-\/]+(30|31|[012]?\d))?)?$/ or empty);">
            A valid from date or year is required!
        </label>
        <label class="validation-err-msg" for="dc:coverage.to"
            data-validation-rule="when(blur,change,submit);name(testCoverageTo);
                    test(/^[12]\d{3}([-\/]+(10|11|12|0?\d)([-\/]+(30|31|[012]?\d))?)?$/ or empty);">
            A valid to date or year is required!
        </label>
    </p>

    #fieldTitle("time_period" "Time Period" false)
    <div class="help-content" id="help-time_period">
        A text description of a time period relating to the coverage of the
        research dataset/collection, registry/repository, catalogue or index, if
        applicable, eg. 21st Century, WWII, The Depression, etc.
    </div>
    <p>
        <input type="text" id="time_period" size="60"
            placeholder="eg. 21st Century, WWII, The Depression, etc." />
    </p>

    #fieldTitle("location" "Geospatial Location" false)
    <div class="help-content" id="help-location">
        <p>
            Geospatial location relevant to the research dataset/collection,
            registry/repository, catalogue or index. This may describe a
            geographical area where data was collected, a place which is the
            subject of a collection, or a location which is the focus of an
            activity, eg. coordinates or placename.
        </p>
        <p>
            You must enter a correctly formatted set of coordinates or a value
            supported by a standard such as a country code, a URL pointing to
            an XML based description of spatial coverage or free text describing
            a location.
        </p>
        <p>
            The following standards and formats are available:
        </p>
        <p>
            If you wish to generate a map display in Research Data Australia,
            you will need to enter valid, correctly formatted spatial data
            against either of the following standards/formats: iso19139dcmiBox,
            gmlKmlPolyCoords or kmlPolyCoords.
        </p>
        <ul>
            <li>
                <a href="http://www.opengeospatial.org/standards/gml">GML</a>
                - OpenGIS Geography Markup Language (GML) Encoding Standard
            </li>
            <li>
                <a href="http://code.google.com/apis/kml/">gmlKmlPolyCoords</a>
                - A set of KML long/lat co-ordinates derived from GML defining a
                polygon as described by the KML coordinates element but without
                the altitude component
            </li>
            <li>
                <a href="http://www.topografix.com/gpx.asp">GPX</a>
                - the GPS Exchange Format
            </li>
            <li>
                <a href="http://www.iso.org/iso/country_codes/iso_3166_code_lists.htm">ISO3166</a>
                - ISO 3166-1 Codes for the representation of names of countries
                and their subdivisions - Part 1: Country codes
            </li>
            <li>
                <a href="http://www.iso.org/iso/country-codes/background_on_iso_3166/iso_3166-2.htm">ISO31662</a>
                - 
            </li>
            <li>
                <a href="http://dublincore.org/documents/dcmi-box">ISO19319dcmiBox</a>
                - 
            </li>
            <li>
                <a href="http://code.google.com/apis/kml/">KML</a>
                - Keyhole Markup Language developed for use with Google Earth
                <div class="group">
                    Using the <a href="http://www.anzlic.org.au/">ANZLIC GEN register</a>
                    to retrieve the polygon coordinates
                    <ol>
                        <li>
                            Go to the list of locations at
                            <a href="http://www.anzlic.org.au/genlist/anzlic-allgens.txt">
                                http://www.anzlic.org.au/genlist/anzlic-allgens.txt
                            </a>
                        </li>
                        <li>
                            Use your browser search function to find your
                            location eg. Great Barrier Reef. The coordinates
                            will be displayed in this order:
                            <ul>
                                <li><strong>N</strong> = North Bounding Latitude,</li>
                                <li><strong>S</strong> = South Bounding Latitude,</li>
                                <li><strong>E</strong> = East Bounding Longitude,</li>
                                <li><strong>W</strong> = West Bounding Longitude</li>
                            </ul>
                        </li>
                        <li>
                            Copy and paste the coordinates into a notepad file eg. -9|-24|153|141
                        </li>
                        <li>
                            Format the coordinates as shown below
                            <p>northlimit=-9; southlimit=-24; westlimit=153; eastLimit=141; projection=WGS84</p>
                        </li>
                        <li>
                            Copy this into the Geospatial Location field in ReDBox.
                        </li>
                    </ol>
                    This will produce a map display in Research Data Australia.
                </div>
            </li>
            <li>
                <a href="http://code.google.com/apis/kml/">kmlPolyCoords</a>
                - A set of KML long/lat co-ordinates defining a polygon as
                described by the KML coordinates element
            </li>
            <li>
                <a href="http://dublincore.org/documents/dcmi-point">DCMIPoint</a>
                - spatial location information specified in DCMI Point notation
            </li>
            <li>
                <strong>Text</strong> - free-text representation of spatial
                location. Use this to record place or region names where
                geospatial notation is not available. In ReDBox this will
                search against the Geonames database and return a latitude and
                longitude value if selected. This will store as a DCMIPoint
                which in future will display as a point on a Google Map in
                Research Data Australia.
            </li>
        </ul>
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Value</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display">
                <td class="sort-number"></td>
                <td>
                    <select class="locationType" id="location.0.type">
                        <option value="" selected="selected">Please select one...</option>
                        <option value="gml">OpenGIS Geography Markup Language</option>
                        <option value="gmlKmlPolyCoords">KML long/lat co-ordinates derived from GML</option>
                        <option value="gpx">GPS Exchange Format</option>
                        <option value="iso31661">Country code (iso31661)</option>
                        <option value="iso31662">Country subdivision code (iso31662)</option>
                        <option value="iso19139dcmiBox">DCMI Box notation (iso19139)</option>
                        <option value="kml">Keyhole Markup Language</option>
                        <option value="kmlPolyCoords">KML long/lat co-ordinates</option>
                        <option value="dcmiPoint">DCMI Point notation</option>
                        <option value="text">Free text</option>
                    </select>
                </td>
                <td>
                    <input type="text" size="60" placeholder="eg. coordinates or placename"
                        id="location.0.dcmi:name" class="autocomplete-geonames" />
                    <input type="hidden" id="location.0.geonames:uri" />
                    <input type="hidden" id="location.0.dcmi:east" />
                    <input type="hidden" id="location.0.dcmi:north" />
                    <div class="hidden coords" id="location.0.coords">
                        <a class="map-link" target="_blank" href="">map</a>
                        @ longitude: <span class="east"> </span>
                        , latitude: <span class="north"> </span>
                        | <a class="clear-link" href="#">clear</a>
                    </div>
                </td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;" />
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" id="add-location" value="Add location" /></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
$(function(){
    function splitGeonamesData(row) {
        var items = row[0].split("::");
        return {
            id: items[0],
            uri: items[1],
            display: items[2],
            north: items[3],
            east: items[4]
        };
    }

    $("#add-location").click(function(){
        $("#location\\.0\\.coords").hide();
    });

    $(".autocomplete-geonames").live("focus", function(){
        var elem = $(this);
        var baseId = elem.attr("id").replace(".dcmi:name", "");
        elem.unautocomplete();
        if($("select[id='"+baseId+".type']").val()=="text"){
            elem.autocomplete(
                "$portalPath/proxyGet?ns=Geonames&autocomplete=true&fields=id,geonames_uri,display,latitude,longitude",
                {
                    extraParams: {
                        qs: function() {
                            var userInput = elem.val();
                            var commaPos = userInput.indexOf(",");
                            if(commaPos!=-1){
                                userInput = userInput.substring(0,commaPos);
                            }
                            return "func=search&format=json&rows=25&q=" + escape(userInput);
                        }
                    },
                    formatItem: function(row) { return splitGeonamesData(row).display; },
                    formatResult: function(row) { return splitGeonamesData(row).display; },
                    width: "40em"
                }).result(function(event, row) {
                    if (row) {
                        var data = splitGeonamesData(row);
                        var coordsElem = $("div[id='"+baseId+".coords']");
                        $("input[id='"+baseId+".geonames:uri']").val(data.uri);
                        $("input[id='"+baseId+".dcmi:east']").val(data.east);
                        $("input[id='"+baseId+".dcmi:north']").val(data.north);
                        coordsElem.find(".east").text(data.east);
                        coordsElem.find(".north").text(data.north);
                        coordsElem.find(".map-link").attr("href", data.uri);
                        coordsElem.show();
                    }
                })
            }
        }).live("blur", function(){
            $(this).search();
        });

    $(".clear-link").live("click", function(){
        var p = $(this).parent();
        var baseId = p.attr("id").replace(".coords", "");
        $("input[id='"+baseId+".geonames:uri']").removeAttr("value");
        $("input[id='"+baseId+".dcmi:east']").removeAttr("value");
        $("input[id='"+baseId+".dcmi:north']").removeAttr("value");
        p.hide();
    });

    $(".locationType").live("change", function(e){
        var elem=$(this);
        var baseId = elem.attr("id").replace(".type", "");
        var uriElem=$("input[id='"+baseId+".geonames:uri']");
        if(elem.val()!="text" && uriElem.val()!=""){
            if(confirm("Are you sure you want to clear the Geonames linked location?")){
                $("input[id='"+baseId+".dcmi:name']").val("");
                $("div[id='"+baseId+".coords'] .clear-link").click();
            }else{
                $(this).val("text");
            }
        }
    });
});
</script>
