#macro(relatedField $id $placeholder $addLabel)
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>URL</th>
                <th>Notes</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="60" placeholder="$placeholder" id="${id}.0" />
                </td>
                <td>
                    <input type="text" size="60" placeholder="notes" id="${id}.0.notes" />
                </td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" value="$addLabel" /></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
#end

<h3><a href="#description">Description</a></h3>
<div id="description" class="inputscreen">
    #fieldTitle("dc:description" "Description" true)
    <div class="help-content" id="help-dc:description">
        <p>
            Description of the research dataset/collection, registry/repository,
            catalogue or index.
        </p>
        <p>This should include:</p>
        <ul>
            <li>
                information about the research dataset/collection,
                registry/repository, catalogue or index, including its
                characteristics and features, eg. This dataset contains
                observational data, calibration files and catalogue information
                collected from the Mount Stromlo Observatory Facility.
            </li>
            <li>
                if applicable: the scope; details of entities being studied or
                recorded; methodologies used.
            </li>
        </ul>
    </div>
    <p>
        <textarea rows="12" cols="80" id="dc:description" style="vertical-align: text-top;"
                placeholder="eg. This dataset contains observational data and calibration files."></textarea>
        #requiredValidation("dc:description" "A description is required!")
        <script type="text/javascript">
        $(function(){
            $("#dc\\:description").jqEasyCounter({
                maxChars: 4000,
                maxCharsWarning: 3990,
                msgTextAlign: 'left'
            });
        });
        </script>
    </p>
    
    #fieldTitle("citations" "Related Publications" false)
    <div class="help-content" id="help-citations">
        Include URL/s to any publications underpinning the research
        dataset/collection, registry/repository, catalogue or index.
    </div>
    #relatedField("citations" "publication url" "Add publication")

    #fieldTitle("data" "Related Data" false)
    <div class="help-content" id="help-data">
        Include a URL to any sources of third party data used/re-used.
    </div>
    #relatedField("data" "data url" "Add data")

    #fieldTitle("website" "Related Website" false)
    <div id="help-website" class="help-content">
        Include URL/s for the relevant website.
    </div>
    #relatedField("website" "website url" "Add website")
</div>
