<h3><a href="#management">Management</a></h3>
<div id="management" class="inputscreen">
    #fieldTitle("dc:identifier" "Identifier" true)
    <label class="validation-err-msg"
        for="dc:identifier"
        data-validation-rule="test(notEmpty); when(blur, change, submit);
                                jsTest(
                                    var value = ctx.find('input[id=dc:identifier]').val();
                                    var type = ctx.find('input[id=dc:identifier.dc:type]').val();
                                    var checked = ctx.find('input[id=dc:identifier.checkbox]').is(':checked');
                                    value = jQ.trim(value);
                                    type = jQ.trim(type);
                                    if (checked) {
                                        r = false;
                                    } else {
                                        r = (value == '') || (type == '');
                                    }
                                );
                                liveFor(.videntifier);">
        An identifier is required!
    </label>
    <div class="help-content" id="help-dc:identifier">
        <p>
            The identifier for this collection. Can be determined by the system if desired.
        </p>
    </div>
    <div class="group">
        <p>
            <label for="dc:identifier.dc:type">Type of identifier:</label>
            #mintSelectField("dc:identifier.dc:type"
                             "dc:identifier.dc:type.skos:prefLabel"
                             "$portalPath/workflows/forms/data/identifierTypes.json"
                             "id"
                             "label"
                             "results"
                             "handle")
        </p>
        <p>
            <label for="dc:identifier">Identifier:</label>
            <input type="text" size="60" placeholder="persistent identifier" id="dc:identifier" class="videntifier" />
            <input type="hidden" id="dc:identifier.redbox:origin" />
            <input type="checkbox" id="dc:identifier.checkbox" class="videntifier" />
            <label for="dc:identifier.checkbox">Use this record's ID</label>
        </p>
    </div>

    #fieldTitle("location_group" "Location" true)
    <div class="help-content" id="help-location_group">
        Record the location of the research data. At least one of the
        'URL' or 'Stored At' fields must be entered. The 'Notes'
        field is optional.
    </div>
    <div class="group">
        <label class="validation-err-msg"
            for="url"
            data-validation-rule="test(notEmpty);when(blur,change,submit);
                                    jsTest(
                                        var url = ctx.find('input[id=vivo:Location.1.dc:identifier]').val();
                                        var stored = ctx.find('input[id=vivo:Location.vivo:GeographicLocation.gn:name]').val();
                                        url = jQ.trim(url); stored = jQ.trim(stored);
                                        r = (url == '') && (stored == '');
                                    );
                                    liveFor(.vlocation);">
            At least one 'URL' or 'Stored At' value is required!
        </label>
        #fieldTitle("url" "URL(s)" false)
        <div class="help-content" id="help-url">
            <p>
                A web address(es) where the research dataset/collection,
                registry/repository, catalogue or index can be found.
            </p>
        </div>
        <p>
            <div class="input-list">
                <div class="item-input-display">
                    <span class="sort-number"></span>&nbsp;&nbsp;&nbsp;
                    <input type="text" size="60" placeholder="url" id="vivo:Location.0.dc:identifier" class="vlocation" />
                    <span class="delete-item"><a href="#">delete</a></span>
                </div>
                <div>
                    <input type="button" class="button add-another-item" value="Add url" />
                </div>
            </div>
        </p>

        #fieldTitle("vivo:Location.vivo:GeographicLocation.gn:name" "Stored At" false)
        <div class="help-content" id="help-vivo:Location.vivo:GeographicLocation.gn:name">
            Record physical location of the research dataset/collection,
            registry/repository, catalogue or index, if applicable, eg.
            University of X.
        </div>
        <p><input type="text" size="60" placeholder="eg. University of X" id="vivo:Location.vivo:GeographicLocation.gn:name" class="vlocation" /></p>

        #fieldTitle("vivo:Location.vivo:GeographicLocation.skos:note" "Notes" false)
        <div class="help-content" id="help-vivo:Location.vivo:GeographicLocation.skos:note">
           Record additional notes regarding the location of the data if applicable.
        </div>
        <p><input type="text" size="60" placeholder="additional notes" id="vivo:Location.vivo:GeographicLocation.skos:note" /></p>
    </div>

    #fieldTitle("redbox:retentionPeriod" "Retention Period" true)
    <div class="help-content" id="help-redbox:retentionPeriod">
        Record the period of time that the data must be kept
        in line with institutional/funding body retention policies.
    </div>
    <p>
        <input type="text" size="60" placeholder="retention period" id="redbox:retentionPeriod" />
        #requiredValidation("redbox:retentionPeriod" "Retention Period is required!")
    </p>

    #fieldTitle("dc:extent" "Extent or Quantity" true)
    <div class="help-content" id="help-dc:extent">
        Enter the number of files that comprise the research dataset/collection,
        registry/repository, catalogue or index (including supporting material),
        and the format.
    </div>
    <p>
        <input type="text" size="60" placeholder="quantity" id="dc:extent" />
        #requiredValidation("dc:extent" "Extent or quantity is required!")
    </p>

    #fieldTitle("redbox:disposalDate" "Disposal Date" false)
    <div class="help-content" id="help-redbox:disposalDate">
        Indicate disposal date for data.
    </div>
    <p><input type="text" size="25" placeholder="disposal date" class="dateYMD" id="redbox:disposalDate" /></p>

    #fieldTitle("locrel:own.foaf:Agent.0.foaf:name" "Data Owner (IP)" false)
    <div class="help-content" id="help-locrel:own.foaf:Agent.0.foaf:name">
        Person/institution identified as intellectual property owners of the data.
    </div>
    <table class="input-list">
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="60" placeholder="data owner" id="locrel:own.foaf:Agent.0.foaf:name" />
                </td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;"> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" value="Add owner" /></td>
                <td colspan="2"> </td>
            </tr>
        </tfoot>
    </table>

    #fieldTitle("locrel:dtm.foaf:Agent.foaf:name" "Data Custodian" false)
    <div class="help-content" id="help-locrel:dtm.foaf:Agent.foaf:name">
        Person/institution identified as custodian of the data.
    </div>
    <p><input type="text" size="60" placeholder="person or institution" id="locrel:dtm.foaf:Agent.foaf:name" /></p>

    #fieldTitle("foaf:Organization" "Data Affiliation" false)
    <div class="help-content" id="help-foaf:Organization">
        Select appropriate affiliation relevant to the data, eg. Research
        Centre for Clean Coal Technology, or School of Engineering.
    </div>
    <p>
        #mintSelectField("foaf:Organization.dc:identifier"
                         "foaf:Organization.skos:prefLabel"
                         "$portalPath/proxyGet?ns=Parties_Groups&qs=count%3D9999"
                         "dc:identifier"
                         "rdfs:label"
                         "results"
                         "")
    </p>

    #fieldTitle("funding_bodies" "Funding Body/s" false)
    <div class="help-content" id="help-funding_bodies">
        Select/enter the name of the research funding body, if applicable.
    </div>
    <table class="input-list">
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="60" placeholder="Funding body"
                        id="foaf:fundedBy.foaf:Agent.0.skos:prefLabel" class="autocomplete-funding" />
                    <input type="hidden" id="foaf:fundedBy.foaf:Agent.0.dc:identifier" />
                </td>
                <td width="100%"><a class="delete-item" href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2"><input type="button" class="button add-another-item" value="Add funding body" /></td>
            </tr>
        </tfoot>
    </table>

    #fieldTitle("grants" "Grant Numbers" false)
    <div class="help-content" id="help-grants">
        Select/enter the grant number and/or title if applicable.
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Internal?</th>
                <th>Grant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td><input type="checkbox" id="foaf:fundedBy.vivo:Grant.0.redbox:internalGrant" class="internal-grant"/></td>
                <td style="width:100%">
                    <table class="inner-table">
                        <tr>
                            <td>
                                <input type="text" size="20" id="foaf:fundedBy.vivo:Grant.0.redbox:grantNumber"
                                    placeholder="grant number" class="autocomplete-grant" />
                                <input type="hidden" id="foaf:fundedBy.vivo:Grant.0.dc:identifier" />
                            </td>
                            <td style="width:100%">
                                <input type="text" size="60" id="foaf:fundedBy.vivo:Grant.0.skos:prefLabel"
                                    readonly="readonly" placeholder="grant description"
                                    class="autocomplete-grant-label label" style="width:100%" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="delete-item" style="text-align:right;width:100%;"><a href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="3"><input type="button" class="button add-another-item" value="Add grant" /></td>
            </tr>
        </tfoot>
    </table>

    #fieldTitle("swrc:ResearchProject.dc:title" "Project Title" false)
    <div class="help-content" id="help-swrc:ResearchProject.dc:title">
        Enter title of the Research Project, if applicable. Note project titles
        will usually differ from the title of the associated Grant.
    </div>
    <p><input type="text" size="60" placeholder="title" id="swrc:ResearchProject.dc:title" /></p>

    #fieldTitle("locrel:dpt.foaf:Person.foaf:name" "Depositor" false)
    <div class="help-content" id="help-locrel:dpt.foaf:Person.foaf:name">
        Record the name of the depositor.
    </div>
    <p><input type="text" size="60" placeholder="depositor" id="locrel:dpt.foaf:Person.foaf:name" /></p>

    #fieldTitle("dc:SizeOrDuration" "Data Size" false)
    <div class="help-content" id="help-dc:SizeOrDuration">
        Record the size of the data in KB, MB, GB, TB etc.
    </div>
    <p><input type="text" size="60" placeholder="size" id="dc:SizeOrDuration" /></p>

    #fieldTitle("dc:Policy" "Institutional Data Management Policy" false)
    <div class="help-content" id="help-dc:Policy">
        Include the title, version number and date of an associated
        Institutional Policy, where a policy is available.
    </div>
    <p><input type="text" size="60" placeholder="title, version number and date of policy" id="dc:Policy" /></p>

    <div class="group">
        #fieldTitle("redbox:ManagementPlan" "Data Management Plan" false)
        <div class="help-content" id="help-redbox:ManagementPlan">
            Indicates existence of a data management plan.
        </div>
        <p>
            <input type="radio" id="redbox:ManagementPlan.yes" name="redbox:ManagementPlan.redbox:hasPlan" value="yes" />
            <label for="redbox:ManagementPlan.yes">Yes</label>
            <input type="radio" id="redbox:ManagementPlan.no" name="redbox:ManagementPlan.redbox:hasPlan" value="no" />
            <label for="redbox:ManagementPlan.no">No</label>
        </p>
        #fieldTitle("redbox:ManagementPlan.skos:note" "Notes" false)
        <div class="help-content" id="help-redbox:ManagementPlan.skos:note">
            Record optional notes about the data management plan.
        </div>
        <p><input type="text" size="60" placeholder="notes" id="redbox:ManagementPlan.skos:note" /></p>
    </div>
</div>
<script type="text/javascript">
$(function() {
    function splitGrantData(row) {
        var items = row[0].split("::");
        var id = items[0];
        var uri = items[3];
        var label = items[1];
        var source = items[2];
        return {
            id: id,
            uri: uri,
            label: label,
            source: source,
            display: "[" + id + "] (" + source + ") " + label
        };
    }

    function addAutocompleteGrant(elem) {
        elem.autocomplete(
            "$portalPath/proxyGet?ns=Activities&autocomplete=true&fields=grant_number,dc:title,repository_name,dc:identifier",
            {
                extraParams: {
                    qs: function() { return "count=25&searchTerms=" + escape(elem.val().toLowerCase()); }
                },
                formatItem: function(row) { return splitGrantData(row).display; },
                formatResult: function(row) { return splitGrantData(row).id; },
                mustMatch: true,
                width: "40em"
            }).result(function(event, row) {
                var uri = $(this).next();
                var label = $(this).parent().next().find(".autocomplete-grant-label")
                if (row) {
                    var data = splitGrantData(row);
                    label.val("(" + data.source + ") " + data.label);
                    uri.val(data.uri);
                }
            });
    }

    $(".internal-grant").live("click", function() {
        var checked = $(this).is(":checked");
        var baseId = $(this).attr("id").replace(".redbox:internalGrant", "");
        var idElem = $("input[id=" + baseId + ".redbox:grantNumber]");
        var labelElem = $("input[id=" + baseId + ".skos:prefLabel]");
        var uriElem = $("input[id=" + baseId + ".dc:identifier]");
        var uri = uriElem.val();
        if (uri == UON_NS) {
            if (labelElem.val() == "" ||
                    confirm("The selected grant will be cleared.\nAre you sure you want to change it to an external grant?")) {
                idElem.val("");
                addAutocompleteGrant(idElem);
                labelElem
                    .addClass("label")
                    .attr("readonly", "readonly")
                    .val("");
                uriElem.val("");
                return true;
            }
        } else {
            if (uri == "" ||
                    confirm("The selected grant will be cleared.\nAre you sure you want to change it to an internal grant?")) {
                idElem.unautocomplete().val("");
                labelElem
                    .removeClass("label")
                    .removeAttr("readonly")
                    .val("");
                uriElem.val(UON_NS);
                return true;
            }
        }
        return false;
    });


    $(".autocomplete-grant").live("focus", function() {
        var baseId = $(this).attr("id").replace(".redbox:grantNumber", "");
        if (!$("input[id=" + baseId + ".redbox:internalGrant]").is(":checked")) {
            $(this).unautocomplete();
            addAutocompleteGrant($(this));
        }
    });

    function splitFundingData(row) {
        var items = row[0].split("::");
        return {
            uri: items[0],
            label: items[1]
        };
    }

    $(".autocomplete-funding").live("focus", function() {
        var elem = $(this);
        $(this).unautocomplete();
        $(this).autocomplete(
            "$portalPath/proxyGet?ns=Funding_Bodies&autocomplete=true&fields=dc:identifier,dc:title",
            {
                extraParams: {
                    qs: function() { return "count=25&searchTerms=" + escape(elem.val().toLowerCase()); }
                },
                formatItem: function(row) { return splitFundingData(row).label; },
                formatResult: function(row) { return splitFundingData(row).label; },
                width: "40em"
            }).result(function(event, row) {
                var uriElem = $(this).next();
                if (row) {
                    uriElem.val(splitFundingData(row).uri);
                } else {
                    uriElem.val("urn:uon:internal");
                }
            })
        }).live("blur", function() {
            $(this).search();
        });

    function styleIdentifier(isChecked, idInput, originInput) {
        if (isChecked) {
            idInput.attr("readonly", "readonly");
            idInput.addClass("strike");
            originInput.val("internal");
        } else {
            idInput.removeAttr("readonly");
            idInput.removeClass("strike");
            originInput.val("external");
        }
    }

    $("input[id=dc:identifier.checkbox]").change(function() {
        styleIdentifier(
            $(this).is(":checked"),
            $("input[id=dc:identifier]"),
            $("input[id=dc:identifier.redbox:origin]"));
    });

    $("input[id=dc:identifier.redbox:origin]").live("onDataChanged", function() {
        var value = $(this).val();
        var checked = true;
        if (value == "internal" || value == "") {
            $("input[id=dc:identifier.checkbox]").attr('checked','checked');
        } else {
            $("input[id=dc:identifier.checkbox]").removeAttr('checked');
            checked = false;
        }
        styleIdentifier(checked, $("input[id=dc:identifier]"), $(this));
    });
});
</script>
