<h3><a href="#rights">Rights</a></h3>
<div id="rights" class="inputscreen">
    #fieldTitle("access_conditions" "Access Rights/Conditions" true)
    <div class="help-content" id="help-access_conditions">
        <p>
            Information about access to the collection or service, including
            access restrictions or embargoes based on privacy, security or
            other policies.
        </p>
        <p>eg. Contact Chief Investigator to negotiate access to the data.</p>
        <p>eg. Embargoed until 1 year after publication of the research.</p>
    </div>
    <p>
        <input type="text" size="60" id="access_conditions"
            placeholder="eg. Contact Chief Investigator to negotiate access to the data." />
        #requiredValidation("access_conditions" "Access Rights/Conditions is required!")
    </p>

    #fieldTitle("restrictions" "Rights" true)
    <div class="help-content" id="help-restrictions">
        Information about rights held in and over the collection such as
        copyright, licences and other intellectual property rights, eg. This
        dataset is made available under the Public Domain Dedication and
        License v1.0 whose full text can be found at:
        <a target="_blank" href="http://www.opendatacommons.org/licences/pddl/1.0/">
            http://www.opendatacommons.org/licences/pddl/1.0/
        </a>
    </div>
    <p>
        <input type="text" size="60" id="restrictions"
            placeholder="eg. This dataset is made available under the Public Domain Dedication and License v1.0" />
        #requiredValidation("restrictions" "Rights is required!")
    </p>

    #fieldTitle("license_cc" "License - Creative Commons" false)
    <div class="help-content" id="help-license_cc">
        See: <a href="http://creativecommons.org.au/learn-more/licences" target="blank">
                http://creativecommons.org.au/learn-more/licences
             </a>
    </div>
    <p>
        #mintSelectField("license_cc"
                         "license_cc.skos:prefLabel"
                         "$portalPath/workflows/forms/data/ccLicences.json"
                         "id"
                         "label"
                         "results"
                         "")
    </p>

    #fieldTitle("license_other" "License - Other" false)
    <div class="help-content" id="help-license_other">
        Examples of other licences:
        <a href="http://www.opendefinition.org/licenses" target="blank">
            http://www.opendefinition.org/licenses
        </a>
    </div>
    <table class="group">
        <tr>
            <th width="10%"><label for="license_other_name">Name:</label></th>
            <td><input type="text" size="60" placeholder="license name" id="license_other_name" /></td>
        </tr>
        <tr>
            <th><label for="license_other_url">URL:</label></th>
            <td><input type="text" size="60" placeholder="license url" id="license_other_url" /></td>
        </tr>
    </table>
</div>
