<h3><a href="#rights">Rights</a></h3>
<div id="rights" class="inputscreen">
    #fieldTitle("rights_group" "Access/Rights" true)
    <div class="help-content" id="help-rights_group">
        Information about access and rights of the collection. One of these
        fields must be filled in.
    </div>
    <div class="group">
        <label class="validation-err-msg"
            for="url"
            data-validation-rule="test(notEmpty);when(blur,change,submit);
                                    jsTest(
                                        var a = ctx.find('input[id=dc:accessRights.rdf:PlainLiteral]').val();
                                        var b = ctx.find('input[id=dc:accessRights.dc:RightsStatement]').val();
                                        a = jQ.trim(a); b = jQ.trim(b);
                                        r = (a == '') && (b == '');
                                    );
                                    liveFor(.vrights);">
            The 'Access Rights/Conditions' and/or 'Rights' field is required!
        </label>

        #fieldTitle("dc:accessRights.rdf:PlainLiteral" "Access Rights/Conditions" false)
        <div class="help-content" id="help-dc:accessRights.rdf:PlainLiteral">
            <p>
                Information about access to the collection or service, including
                access restrictions or embargoes based on privacy, security or
                other policies.
            </p>
            <p>eg. Contact Chief Investigator to negotiate access to the data.</p>
            <p>eg. Embargoed until 1 year after publication of the research.</p>
        </div>
        <p>
            <input type="text" size="60" id="dc:accessRights.rdf:PlainLiteral" class="vrights"
                placeholder="eg. Contact Chief Investigator to negotiate access to the data." />
        </p>

        #fieldTitle("dc:accessRights.dc:RightsStatement" "Rights" false)
        <div class="help-content" id="help-dc:accessRights.dc:RightsStatement">
            Information about rights held in and over the collection such as
            copyright, licences and other intellectual property rights, eg. This
            dataset is made available under the Public Domain Dedication and
            License v1.0 whose full text can be found at:
            <a target="_blank" href="http://www.opendatacommons.org/licences/pddl/1.0/">
                http://www.opendatacommons.org/licences/pddl/1.0/
            </a>
        </div>
        <p>
            <input type="text" size="60" id="dc:accessRights.dc:RightsStatement" class="vrights"
                placeholder="eg. This dataset is made available under the Public Domain Dedication and License v1.0" />
        </p>
    </div>

    #fieldTitle("redbox:creativeCommonsLicense.dc:identifier" "License - Creative Commons" false)
    <div class="help-content" id="help-redbox:creativeCommonsLicense.dc:identifier">
        See: <a href="http://creativecommons.org.au/learn-more/licences" target="blank">
                http://creativecommons.org.au/learn-more/licences
             </a>
    </div>
    <p>
        #mintSelectField("redbox:creativeCommonsLicense.dc:identifier"
                         "redbox:creativeCommonsLicense.skos:prefLabel"
                         "$portalPath/workflows/forms/data/ccLicences.json"
                         "id"
                         "label"
                         "results"
                         "")
    </p>

    #fieldTitle("dc:license" "License - Other" false)
    <div class="help-content" id="help-dc:license">
        Examples of other licences:
        <a href="http://www.opendefinition.org/licenses" target="blank">
            http://www.opendefinition.org/licenses
        </a>
    </div>
    <table class="group">
        <tr>
            <th width="10%"><label for="dc:license.skos:prefLabel">Name:</label></th>
            <td><input type="text" size="60" placeholder="license name" id="dc:license.skos:prefLabel" /></td>
        </tr>
        <tr>
            <th><label for="dc:license.dc:identifier">URL:</label></th>
            <td><input type="text" size="60" placeholder="license url" id="dc:license.dc:identifier" /></td>
        </tr>
    </table>
</div>
