#set($canProgress = ($stage != "live" and $stage != "retired"))
#set($isPublished = ($stage == "live"))
<h3><a href="#submit">Submit</a></h3>
<div id="submit" class="inputscreen">
    #fieldTitle("agreement" "Progress" false)
    <div class="help-content" id="help-agreement">
        Progress the record through the workflow as required.
    </div>
    <p>
        #if($canProgress)
        <input id="agreement" type="checkbox" />
        #end
        <label id="agreementLabel" for="agreement"></label>
        #if($canProgress)
        <input type="submit" disabled="disabled" id="update-package" value="Proceed" class="button form-fields-submit" />
        <input type="hidden" class="submit-result-func" value="submitted_ok" />
        <div class="submitted-result" style="padding-left: 2em; font-size: 120%;"></div>
        #end
    </p>
    #if($isPublished)
    #fieldTitle("retire" "Retire" false)
    <div class="help-content" id="help-retire">
        Retire the record so that updates to the record will no longer be
        published to VITAL.
    </div>
    <p>
        <input id="retire" type="checkbox" />
        <label id="retireLabel" for="retire">I understand that retiring this record will no longer update the published record.</label>
        <input type="submit" disabled="disabled" id="update-package" value="Retire" class="button form-fields-submit" />
        <input type="hidden" class="submit-result-func" value="submitted_ok" />
        <div class="submitted-result" style="padding-left: 2em; font-size: 120%;"></div>
    </p>
    #end
    <p>
        <div style="color:red;" id="validation-summary">
           <div id="not-valid-for-submitting"  class="validation-err-msg"
                    style="display:none;color:darkred;">
                You must fixup all fields with missing required data or invalid data before
                you can submit!
           </div>
           <div>
                <label class="validation-err-msg" for="dc:title">
                    A Title is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:type">
                    A Type is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="location">
                    A Location is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:description">
                    A Description is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:creator.foaf:Person.0.foaf:givenName">
                    A Creators Given or Family name' is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:subject.keywords.0">
                    A Keyword is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="access_conditions">
                    Access Rights/Conditions or Rights is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="url">
                    A location is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="retention_period">
                    Retention Period is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="extent">
                     Extent or quantity is required!
                </label>
           </div>
        </div>
    </p>

    #if($stage != "live")
        #fieldTitle("deleteAgreement" "Delete" false)
        <div class="help-content" id="help-deleteAgreement">
            Remove the record completely from ReDBox. Note that any records already
            published to VITAL will remain in VITAL.
        </div>
        <p>
            <input id="deleteAgreement" type="checkbox" />
            <label id="deleteAgreementLabel" for="deleteAgreement">
                I understand that deleting this record is <strong>permanent</strong> and cannot be undone.
            </label>
            <input type="button" class="button" id="delete-record" disabled="disabled" value="Delete" />
            <p id="delete-record-error"></p>
        </p>
    #end
</div>

<script type="text/javascript">
$(function() {
    $("#agreementLabel").html(packageData.nextStageMessage);
    if (packageData.stage == "live") {
        $("#agreement,#retire").hide();
        $("#update-package").hide();
    } else {
        $("#agreement,#retire").click(function() {
            $("#not-valid-for-submitting").hide();
            if ($(this).is(":checked")) {
                if(widgets.forms[0].validator.isOkToSubmit()==false){
                    $(this).attr("checked", false);
                    $("#not-valid-for-submitting").show();
                }else{
                    $("#update-package").removeAttr("disabled");
                }
            } else {
                $("#update-package").attr("disabled", "disabled");
            }
        });
        $("#deleteAgreement").click(function() {
            if ($(this).is(":checked")) {
                $("#delete-record").removeAttr("disabled");
            } else {
                $("#delete-record").attr("disabled", "disabled");
            }
        });
    }

    $("#delete-record").click(function(){
        jQuery.ajax({
            type: "POST",
            url: "$portalPath/actions/delete.ajax",
            success: function(data, status){ window.location.href = "$portalPath/home"; },
            error: function(req, status, e){ $("#delete-record-error").html(req.responseText);  },
            data: { record: "$oid" }
        });
    });

    $("#validation-summary label").click(function(){
        var i, id;
        try{
            i=$(this);
            id=i.attr("for");
            i=$("*[id="+id+"]");
            id=i.parents(".ui-tabs-panel").attr("id");
            $("a[href=#"+id+"]").click();
            i.focus();
        }catch(e){
        }
        return false;
    });
    try{
        var vTimer=null;
        function onValidation(r){
            function cb(){
                vTimer=null;
                if($("#validation-summary label:visible").size()==0){
                    $("#not-valid-for-submitting").hide();
                }
            }
            if(!vTimer) vTimer=setTimeout(cb, 200);
        }
        setTimeout(function(){widgets.forms[0].validator.onValidationListeners.push(onValidation);},
                500);
    }catch(e){}
});
</script>
