<ListMetadataFormats>
    #set($formats = $self.metadataFormats)
    #foreach($prefix in $formats.keySet())
        #set($format = $formats.get($prefix))
        <metadataFormat>
            <metadataPrefix>$prefix</metadataPrefix>
            <schema>$format.get("schema")</schema>
            <metadataNamespace>$format.get("metadataNamespace")</metadataNamespace>
        </metadataFormat>
    #end
</ListMetadataFormats>
