#foreach( $transition in $transitions )
	#if ($type == 'button') 
		<button 
	 #else 
		<a href="#" 
	#end
	transition-name="$transition.name" onclick="transition_click(this)" 
	#if ( $transition.form-submit-action) form-action = "$transition.form-submit-action" #end  
	#if ( $transition.close) close-transition="$portalPath/home" #end
	#if ( $transition.object-metadata-params)
			object-metadata-params="#foreach( $params in $transition.object-metadata-params)$params.key;$params.value#end"		
	#end
	>$transition.name
	#if ($type == 'button') </button>
	#else 	</a>
	#end
#end