<div>
    <h2>
        <span class="helpWidget"
              id="help-description"
              data-help-content-id="help-description-content"
              data-show-text="help"
              data-hide-text="hide-Help">
            <span class="helpWidget-show">Help</span>
            <span class="helpWidget-hide">Hide help</span>
        </span>
        <label for="dc:description">Description</label>
    </h2>
    <div id="help-description-content" class="helpContent">
        <p>The description could include:</p>
        <ul>
            <li>About the Research Project</li>
            <li>Purpose and scope of the data</li>
            <li>Entities being studied or recorded</li>
            <li>Methodology</li>
            <li>Characteristics and/or features</li>
            <li>Format or structure of the data</li>
        </ul>
    </div>
    <p><textarea rows="12" cols="80" id="dc:description" placeholder="Description of the research data"></textarea></p>
    
    <h2>Related</h2>
    <fieldset>
    <p>
        <label for="citation">Publication citation:&nbsp;</label>
        <input type="text" size="80" placeholder="Enter the publication citation" id="citation" />
    </p>
    <p>
        <label for="website">Website:&nbsp;</label>
        <input type="text" size="80" placeholder="Enter a website URL" id="website" />
    </p>
    </fieldset>
</div>
