<div>
    <h2>
        <label for="dc:title">Title <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-title">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-title">
        The title for the research dataset/collection, registry/repository,
        catalogue or index. It is recommended for datasets and collections, the
        title should be unique to the data, ie. do not use the publication title
        as the data title.
    </div>
    <p>
        <textarea rows="4" cols="80" id="dc:title" autofocus
            placeholder="unique title of research dataset"></textarea>
        <label class="validation-err-msg" for="dc:title"
            data-validation-rule="test(!='' and !='[Untitled]');when(onBlur, onChange, onSubmit, OnSave);">
            A title is required!
        </label>
    </p>

    <h2>
        <label for="dc:type">Type <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-type">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-type">
        <dl>
            <dt>Catalogue or Index</dt>
            <dd>
                collection of resource descriptions describing the content of
                one or more repositories or collective works at the item level.
            </dd>
            <dt>Collection</dt>
            <dd>
                compiled content created as separate and independent works and
                assembled into a collective whole for distribution and use.
            </dd>
            <dt>Registry</dt>
            <dd>
                collection of registry objects compiled to support the business
                of a given community.
            </dd>
            <dt>Repository</dt>
            <dd>
                collection of physical or digital objects compiled for
                information and documentation purposes and/or for storage and
                safekeeping.
            </dd>
            <dt>Dataset</dt>
            <dd>
                collection of physical or digital objects generated by research
                activities.
            </dd>
        </dl>
    </div>
    <p>
        <select id="dc:type" name="dc:type">
            <option>Please select one</option>
            <option value="catalogueOrIndex">Catalogue or Index</option>
            <option value="collection">Collection</option>
            <option value="registry">Registry</option>
            <option value="repository">Repository</option>
            <option value="dataset">Dataset</option>
        </select>
    </p>

    <h2>
        <label for="dc:coverage">Date Coverage</label>
        <span class="helpWidget" data-help-content-id="help-coverage">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-coverage">
        Use this to indicate a date range relevant to the research
        dataset/collection, registry/repository, catalogue or index. Year format
        requires manual entry eg. 1990 to 2010
    </div>
    <p>
        <label for="dc:coverage.from">From</label>
        <input type="text" placeholder="start date" class="dateYMD" id="dc:coverage.from" />
        <label for="dc:coverage.to">To</label>
        <input type="text" placeholder="end date" class="dateYMD" id="dc:coverage.to" />
        <label class="validation-err-msg" for="dc:coverage.from"
            data-validation-rule="when(onChange, onBlur, onSubmit);name(testCoverageFrom);
                    test(/^[12]\d{3}([-\/]+(10|11|12|0?\d)([-\/]+(30|31|[012]?\d))?)?$/ or empty);">
            A valid from date or year is required!
        </label>
        <label class="validation-err-msg" for="dc:coverage.to"
            data-validation-rule="when(onChange, onBlur, onSubmit);name(testCoverageTo);
                    test(/^[12]\d{3}([-\/]+(10|11|12|0?\d)([-\/]+(30|31|[012]?\d))?)?$/ or empty);">
            A valid to date or year is required!
        </label>
    </p>

    <h2>
        <label for="dc:created">Date Record Created</label>
        <span class="helpWidget" data-help-content-id="help-date-created">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-date-created">
        Date this record created.
    </div>
    <p>
        <input type="text" placeholder="date created" class="dateYMD" id="dc:created" />
        <label class="validation-err-msg" for="dc:created"
            data-validation-rule="when(onChange, onBlur, onSubmit);test(yyyymmdd or empty);">
            A valid date created must be entered (yyyy-mm-dd else leave blank)!
        </label>
    </p>

    <h2>
        <label for="dc:modified">Date Record Modified</label>
        <span class="helpWidget" data-help-content-id="help-date-modified">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-date-modified">
        Date this record modified.
    </div>
    <p>
        <input type="text" placeholder="date modified" class="dateYMD" id="dc:modified" />
        <label class="validation-err-msg" for="dc:modified"
            data-validation-rule="when(onChange, onBlur, onSubmit);test(yyyy_mm_dd or empty);">
            A valid date modified must be entered (yyyy-mm-dd else leave blank)!
        </label>
    </p>

    <h2>
        <label for="time_period">Time Period</label>
        <span class="helpWidget" data-help-content-id="help-time-period">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-time-period">
        A text description of a time period relating to the coverage of the
        research dataset/collection, registry/repository, catalogue or index, if
        applicable, e.g. 21st Century, WWII, The Depression, etc.
    </div>
    <p>
        <input type="text" placeholder="time period" id="time_period" size="60" />
        <label class="validation-err-msg" for="time_period"
            data-validation-rule="when(onChange, onBlur, onSubmit);test(lenlt(2001));">
            Text too long!
        </label>
    </p>

    <h2>
        <label for="location">Geospatial Location</label>
        <span class="helpWidget" data-help-content-id="help-location">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-location">
        Geospatial location relevant to the research dataset/collection,
        registry/repository, catalogue or index. This may describe a
        geographical area where data was collected, a place which is the subject
        of a collection, or a location which is the focus of an activity eg.
        coordinates or placename.
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th></th>
                <th>Type</th>
                <th>Value</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display">
                <td class="sort-number"></td>
                <td>
                    <select name="location.0.type">
                        <option value="gml">OpenGIS Geography Markup Language</option>
                        <option value="gmlKmlPolyCoords">KML long/lat co-ordinates derived from GML</option>
                        <option value="gpx">GPS Exchange Format</option>
                        <option value="iso31661">Country code (iso31661)</option>
                        <option value="iso31662">Country subdivision code (iso31662)</option>
                        <option value="iso19139dcmiBox">DCMI Box notation (iso19139)</option>
                        <option value="kml">Keyhole Markup Language</option>
                        <option value="kmlPolyCoords">KML long/lat co-ordinates</option>
                        <option value="dcmiPoint">DCMI Point notation</option>
                        <option value="text" selected>Free text</option>
                    </select>
                </td>
                <td>
                    <input type="text" size="60" placeholder="geospatial location" id="location.0" />
                </td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;" />
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="add-another-item" value="Add location" /></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>

    <h2>
        <label for="dc:language">Language</label>
        <span class="helpWidget" data-help-content-id="help-language">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-language">
        Language of the metadata record eg. English, French etc. (ISO 639.2)
    </div>
    <p>
        <span class="data-source-drop-down"
              data-json-source-url="../proxyGet?ns=Languages&qs=count%3D999"
              data-id-key="dc:identifier"
              data-label-key="dc:title"
              data-list-key="results">
            <span class="selection-added">
                <input type="hidden" class="selection-added-id"
                       id="dc:language" name="dc:language" value="http://id.loc.gov.vocabulary/iso639-2/eng" />
                <input type="text" class="selection-added-label" size="30" readonly="readonly"
                       id="dc:language.skos:prefLabel" name="dc:language.skos:prefLabel" value="English" />
                <a href="#" class="clear-item">change</a>
            </span>
            <span class="drop-down-location">
                <button class="selection-add add-unique-only" data-add-on-click="1">
                    Select
                </button>
            </span>
        </span>
    </p>
</div>
