<div>
    <h2>
        <label for="url">Identifer or URL</label>
        <span class="helpWidget" data-help-content-id="help-url">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-url">
        Persistent URI/URL representing the location of the data.
    </div>
    <p><input type="text" size="80" placeholder="Location of the data" id="url" /></p>

    <h2>
        <label for="physical_storage">Stored at <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-stored-at">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-stored-at">
        Recored physical location of the data. For example:
        University of Newcastle central storage faciliy.
    </div>
    <p>
        <input type="text" size="80" placeholder="Physical location of the data" id="physical_storage" />
        <label class="validation-err-msg" for="physical_storage"
            data-validation-rule="when(onChange, onSubmit, onBlur);test(notEmpty);">
            Stored at, is required!
        </label>
    </p>

    <h2>
        <label for="retention_period">Retention Period <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-retention-period">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-retention-period">
        Record the period of time that the data must be kept
        in line with institutional/funding body retention policies.
    </div>
    <p>
        <input type="text" size="80" placeholder="Retention period" id="retention_period" />
        <label class="validation-err-msg" for="retention_period"
            data-validation-rule="when(onChange, onSubmit, onBlur);test(notEmpty);">
            Retention Period is required!
        </label>
    </p>

    <h2>
        <label for="disposal_date">Disposal Date</label>
        <span class="helpWidget" data-help-content-id="help-disposal-date">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-disposal-date">
        Indicate disposal date for data.
    </div>
    <p><input type="text" size="25" placeholder="Disposal date" class="dateYMD" id="disposal_date" /></p>

    <h2>
        <label for="data_owner">Data Owner (IP)</label>
        <span class="helpWidget" data-help-content-id="help-data-owner">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-data-owner">
        Person/institution identified as intellectual property owner of the data.
    </div>
    <p><input type="text" size="80" placeholder="Data owner" id="data_owner" /></p>

    <h2>
        <label for="data_custodian">Data Custodian</label>
        <span class="helpWidget" data-help-content-id="help-data-custodian">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-data-custodian">
        Person/institution identified as custodian of the data.
    </div>
    <p><input type="text" size="80" placeholder="Data custodian" id="data_custodian" /></p>

    <h2>
        <label for="affiliation">Affiliation With</label>
        <span class="helpWidget" data-help-content-id="help-affiliation-with">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-affiliation-with">
        Select appropriate affiliation.
    </div>
    <p>
        <span class="data-source-drop-down"
              data-json-source-url="../proxyGet?ns=mintOrgUnit&qs=count%3D9999"
              data-id-key="rdf:about"
              data-label-key="rdfs:label"
              data-list-key="results">
            <span class="selection-added">
                <input type="hidden" class="selection-added-id"
                       id="affiliation" value="" />
                <input type="text" class="selection-added-label" readonly="readonly" size="24"
                       id="affiliation.0.skos:prefLabel" value="" />
                <a href="#" class="clear-item">change</a>
            </span>
            <span class="drop-down-location">
                <button class="selection-add add-unique-only" data-add-on-click="1">
                    Select <!-- '<span class="selection-add-label"></span>' -->
                </button>
            </span>
        </span>
    </p>

    <h2>
        <label for="grant">Grant numbers</label>
        <span class="helpWidget" data-help-content-id="help-grant-num">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-grant-num">
        Select/enter the grant number.
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Internal?</th>
                <th>Grant</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="3"><input type="button" class="add-another-item" value="Add another" /></td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td><input type="checkbox" id="grant.0.uon:internal" class="internal-grant"/></td>
                <td style="width:100%">
                    <table class="inner-table">
                        <tr>
                            <td>
                                <input type="text" size="20" id="grant.0.dc:identifier"
                                    placeholder="Grant number" class="autocomplete" />
                                <input type="hidden" id="grant.0.rdf:resource" />
                            </td>
                            <td style="width:100%">
                                <input type="text" size="60" id="grant.0.skos:prefLabel"
                                    readonly="readonly" placeholder="Grant description"
                                    class="autocomplete-label label" style="width:100%" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="delete-item" style="text-align:right;width:100%;"><a href="#">delete</a></td>
            </tr>
        </tbody>
    </table>

    <h2>
        <label for="funding">Funding Bodies</label>
        <span class="helpWidget" data-help-content-id="help-funding-bodies">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-funding-bodies">
        Select/enter the name of the research funding body.
    </div>
    <table class="input-list">
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="add-another-item" value="Add another" /></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td><input type="text" size="80" placeholder="Funding body" id="funding.0" /></td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;" />
            </tr>
        </tbody>
    </table>

    <h2>
        <label for="project_title">Project Title</label>
        <span class="helpWidget" data-help-content-id="help-project-title">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-project-title">
        Title of the research project.
    </div>
    <p><input type="text" size="80" placeholder="Project title" id="project_title" /></p>

    <h2>
        <label for="depositor">Depositor</label>
        <span class="helpWidget" data-help-content-id="help-depositor">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-depositor">
        Record the name of the data depositor.
    </div>
    <p><input type="text" size="80" placeholder="Depositor" id="depositor" /></p>

    <h2>
        <label for="data_size">Data Size</label>
        <span class="helpWidget" data-help-content-id="help-data-size">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-data-size">
        Record the size of the data in KB, MB, GB, TB etc.
    </div>
    <p><input type="text" size="80" placeholder="Data size" id="data_size" /></p>

    <h2>
        <label for="extent">Extent or quantity <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-extent">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-extent">
        Enter the number of files that comprise the data, including the format.
    </div>
    <p>
        <input type="text" size="80" placeholder="Extent or quantity (i.e. no. of files)" id="extent" />
        <label class="validation-err-msg" for="extent"
            data-validation-rule="when(onChange, onSubmit, onBlur);test(notEmpty);">
            Extent or quantity is required!
        </label>
    </p>

    <h2>
        <label for="policy">Institutional Data Management Policy</label>
        <span class="helpWidget" data-help-content-id="help-policy">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-policy">
        Include the title, version number and date.
    </div>
    <p><input type="text" size="80" placeholder="Institutional data management policy" id="policy" /></p>

    <h2>
        <label for="contracts">Contracts associated with the data or project (if appropriate)</label>
        <span class="helpWidget" data-help-content-id="help-contracts">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-contracts">
        Record if the data was produced under contract.
        Include name of organisation and date.
    </div>
    <p><input type="text" size="80" placeholder="Contracts" id="contracts" /></p>

    <h2>
        <label for="management_plan">Location of data management plan</label>
        <span class="helpWidget" data-help-content-id="help-management_plan">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-management_plan">
        Indicates existence of a data management plan.
    </div>
    <p><input type="text" size="80" placeholder="Location of data management plan (if available)"
             id="management_plan" /></p>
</div>
<script type="text/javascript">
$(function() {
    function splitData(row) {
        var items = row[0].split("::");
        var id = items[0].replace(ARC_NS, "");
        var label = items[1];
        var source = items[2].replace(ADFI_NS, "");
        return {
            id: id,
            uri: items[0],
            label: label,
            source: source,
            display: "[" + id + "] (" + source + ") " + label
        };
    }

    function addAutocomplete(elem) {
        elem.autocomplete(
            "../proxyGet?ns=mintActivity&autocomplete=true&fields=rdf:about,skos:prefLabel,skos:broader",
            {
                extraParams: {
                    qs: function() { return "count=25&searchTerms=" + escape(elem.val()); }
                },
                formatItem: function(row) { return splitData(row).display; },
                formatResult: function(row) { return splitData(row).id; },
                width: "40em"
            }).result(function(event, row) {
                var uri = $(this).next();
                var label = $(this).parent().next().find(".autocomplete-label")
                if (row) {
                    var data = splitData(row);
                    label.val("(" + data.source + ") " + data.label);
                    uri.val(data.uri);
                }
            });
    }

    $(".internal-grant").live("click", function() {
        var checked = $(this).is(":checked");
        var baseId = $(this).attr("id").replace(".uon:internal", "");
        var idElem = $("input[id=" + baseId + ".dc:identifier]");
        var labelElem = $("input[id=" + baseId + ".skos:prefLabel]");
        var uriElem = $("input[id=" + baseId + ".rdf:resource]");
        var uri = uriElem.val();
        if (uri == UON_NS) {
            if (labelElem.val() == "" ||
                    confirm("The selected grant will be cleared.\nAre you sure you want to change it to an external grant?")) {
                idElem.val("");
                addAutocomplete(idElem);
                labelElem
                    .addClass("label")
                    .attr("readonly", "readonly")
                    .val("");
                uriElem.val("");
                return true;
            }
        } else {
            if (uri == "" ||
                    confirm("The selected grant will be cleared.\nAre you sure you want to change it to an internal grant?")) {
                idElem.unautocomplete().val("");
                labelElem
                    .removeClass("label")
                    .removeAttr("readonly")
                    .val("");
                uriElem.val(UON_NS);
                return true;
            }
        }
        return false;
    });


    $(".autocomplete").live("focus", function() {
        var baseId = $(this).attr("id").replace(".dc:identifier", "");
        if (!$("input[id=" + baseId + ".uon:internal]").is(":checked")) {
            $(this).unautocomplete();
            addAutocomplete($(this));
        }
    });
});
</script>
