<h3><a href="#management">Management</a></h3>
<div id="management" class="inputscreen">
    #fieldTitle("location_group" "Location" true)
    <div class="help-content" id="help-location_group">
        Record the location of the research data. At least one of the
        'Identifier or URL' or 'Stored At' fields must be entered. The 'Notes'
        field is optional.
    </div>
    <div class="group">
        <label class="validation-err-msg"
            for="url"
            data-validation-rule="test(notEmpty);when(blur,change,submit);
                                    jsTest(
                                        var i=ctx.find('input[id=url]').val();
                                        var s=ctx.find('input[id=physical_storage]').val();
                                        i=jQ.trim(i); s=jQ.trim(s);
                                        r=(i=='')&&(s=='');
                                    );
                                    liveFor(.vlocation);">
            The 'Identifier or URL' and/or 'Stored At' field is required!
        </label>
        #fieldTitle("url" "Identifier or URL" false)
        <div class="help-content" id="help-url">
            For example: a persistent URI representing the location of the research
            dataset/collection, registry/repository, catalogue or index.
        </div>
        <p><input type="text" size="60" placeholder="persistent identifier or url" id="url" class="vlocation" /></p>

        #fieldTitle("physical_storage" "Stored At" false)
        <div class="help-content" id="help-physical_storage">
            Record physical location of the research dataset/collection,
            registry/repository, catalogue or index, if applicable, eg.
            University of X.
        </div>
        <p><input type="text" size="60" placeholder="eg. University of X" id="physical_storage" class="vlocation" /></p>

        #fieldTitle("location_notes" "Notes" false)
        <div class="help-content" id="help-location_notes">
           Record additional notes regarding the location of the data if applicable.
        </div>
        <p><input type="text" size="60" placeholder="additional notes" id="location_notes" /></p>
    </div>

    #fieldTitle("retention_period" "Retention Period" true)
    <div class="help-content" id="help-retention_period">
        Record the period of time that the data must be kept
        in line with institutional/funding body retention policies.
    </div>
    <p>
        <input type="text" size="60" placeholder="retention period" id="retention_period" />
        #requiredValidation("retention_period" "Retention Period is required!")
    </p>

    #fieldTitle("extent" "Extent or Quantity" true)
    <div class="help-content" id="help-extent">
        Enter the number of files that comprise the research dataset/collection,
        registry/repository, catalogue or index (including supporting material),
        and the format.
    </div>
    <p>
        <input type="text" size="60" placeholder="quantity" id="extent" />
        #requiredValidation("extent" "Extent or quantity is required!")
    </p>

    #fieldTitle("disposal_date" "Disposal Date" false)
    <div class="help-content" id="help-disposal_date">
        Indicate disposal date for data.
    </div>
    <p><input type="text" size="25" placeholder="disposal date" class="dateYMD" id="disposal_date" /></p>

    #fieldTitle("data_owner" "Data Owner (IP)" false)
    <div class="help-content" id="help-data_owner">
        Person/institution identified as intellectual property owners of the data.
    </div>
    #inputList("data_owner" "data owner" "Add owner" "")

    #fieldTitle("data_custodian" "Data Custodian" false)
    <div class="help-content" id="help-data_custodian">
        Person/institution identified as custodian of the data.
    </div>
    <p><input type="text" size="60" placeholder="person or institution" id="data_custodian" /></p>

    #fieldTitle("affiliation" "Data Affiliation" false)
    <div class="help-content" id="help-affiliation">
        Select appropriate affiliation relevant to the data, eg. Research
        Centre for Clean Coal Technology, or School of Engineering.
    </div>
    <p>
        #mintSelectField("affiliation.0"
                         "affiliation.0.skos:prefLabel"
                         "$portalPath/proxyGet?ns=Parties_Groups&qs=count%3D9999"
                         "rdf:about"
                         "rdfs:label"
                         "results"
                         "")
    </p>

    #fieldTitle("funding_bodies" "Funding Body/s" false)
    <div class="help-content" id="help-funding_bodies">
        Select/enter the name of the research funding body, if applicable.
    </div>
    <table class="input-list">
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="60" placeholder="Funding body"
                        id="funding.0.skos:prefLabel" class="autocomplete-funding" />
                    <input type="hidden" id="funding.0.rdf:resource" />
                </td>
                <td width="100%"><a class="delete-item" href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="2"><input type="button" class="button add-another-item" value="Add funding body" /></td>
            </tr>
        </tfoot>
    </table>

    #fieldTitle("grants" "Grant Numbers" false)
    <div class="help-content" id="help-grants">
        Select/enter the grant number and/or title if applicable.
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Internal?</th>
                <th>Grant</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td><input type="checkbox" id="grant.0.uon:internal" class="internal-grant"/></td>
                <td style="width:100%">
                    <table class="inner-table">
                        <tr>
                            <td>
                                <input type="text" size="20" id="grant.0.grantNumber"
                                    placeholder="grant number" class="autocomplete-grant" />
                                <input type="hidden" id="grant.0.dc:identifier" />
                            </td>
                            <td style="width:100%">
                                <input type="text" size="60" id="grant.0.skos:prefLabel"
                                    readonly="readonly" placeholder="grant description"
                                    class="autocomplete-grant-label label" style="width:100%" />
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="delete-item" style="text-align:right;width:100%;"><a href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td colspan="3"><input type="button" class="button add-another-item" value="Add grant" /></td>
            </tr>
        </tfoot>
    </table>

    #fieldTitle("project_title" "Project Title" false)
    <div class="help-content" id="help-project_title">
        Enter title of the Research Project, if applicable. Note project titles
        will usually differ from the title of the associated Grant.
    </div>
    <p><input type="text" size="60" placeholder="title" id="project_title" /></p>

    #fieldTitle("depositor" "Depositor" false)
    <div class="help-content" id="help-depositor">
        Record the name of the depositor.
    </div>
    <p><input type="text" size="60" placeholder="depositor" id="depositor" /></p>

    #fieldTitle("data_size" "Data Size" false)
    <div class="help-content" id="help-data_size">
        Record the size of the data in KB, MB, GB, TB etc.
    </div>
    <p><input type="text" size="60" placeholder="size" id="data_size" /></p>

    #fieldTitle("policy" "Institutional Data Management Policy" false)
    <div class="help-content" id="help-policy">
        Include the title, version number and date of an associated
        Institutional Policy, where a policy is available.
    </div>
    <p><input type="text" size="60" placeholder="title, version number and date of policy" id="policy" /></p>

    #fieldTitle("management_plan" "Data Management Plan" false)
    <div class="help-content" id="help-management_plan">
        Indicates existence of a data management plan.
    </div>
    <p>
        <input type="radio" id="management_plan_yes" name="management_plan" value="yes" />
        <label for="management_plan_yes">Yes</label>
        <input type="radio" name="management_plan" value="no" />
        <label for="management_plan_no">No</label>
    </p>
</div>
<script type="text/javascript">
$(function() {
    function splitGrantData(row) {
        var items = row[0].split("::");
        var id = items[0];
        var uri = items[3];
        var label = items[1];
        var source = items[2];
        return {
            id: id,
            uri: uri,
            label: label,
            source: source,
            display: "[" + id + "] (" + source + ") " + label
        };
    }

    function addAutocompleteGrant(elem) {
        elem.autocomplete(
            "$portalPath/proxyGet?ns=Activities&autocomplete=true&fields=grant_number,dc:title,repository_name,dc:identifier",
            {
                extraParams: {
                    qs: function() { return "count=25&searchTerms=" + escape(elem.val()); }
                },
                formatItem: function(row) { return splitGrantData(row).display; },
                formatResult: function(row) { return splitGrantData(row).id; },
                mustMatch: true,
                width: "40em"
            }).result(function(event, row) {
                var uri = $(this).next();
                var label = $(this).parent().next().find(".autocomplete-grant-label")
                if (row) {
                    var data = splitGrantData(row);
                    label.val("(" + data.source + ") " + data.label);
                    uri.val(data.uri);
                }
            });
    }

    $(".internal-grant").live("click", function() {
        var checked = $(this).is(":checked");
        var baseId = $(this).attr("id").replace(".uon:internal", "");
        var idElem = $("input[id=" + baseId + ".grantNumber]");
        var labelElem = $("input[id=" + baseId + ".skos:prefLabel]");
        var uriElem = $("input[id=" + baseId + ".dc:identifier]");
        var uri = uriElem.val();
        if (uri == UON_NS) {
            if (labelElem.val() == "" ||
                    confirm("The selected grant will be cleared.\nAre you sure you want to change it to an external grant?")) {
                idElem.val("");
                addAutocomplete(idElem);
                labelElem
                    .addClass("label")
                    .attr("readonly", "readonly")
                    .val("");
                uriElem.val("");
                return true;
            }
        } else {
            if (uri == "" ||
                    confirm("The selected grant will be cleared.\nAre you sure you want to change it to an internal grant?")) {
                idElem.unautocomplete().val("");
                labelElem
                    .removeClass("label")
                    .removeAttr("readonly")
                    .val("");
                uriElem.val(UON_NS);
                return true;
            }
        }
        return false;
    });


    $(".autocomplete-grant").live("focus", function() {
        var baseId = $(this).attr("id").replace(".grantNumber", "");
        if (!$("input[id=" + baseId + ".uon:internal]").is(":checked")) {
            $(this).unautocomplete();
            addAutocompleteGrant($(this));
        }
    });

    function splitFundingData(row) {
        var items = row[0].split("::");
        return {
            uri: items[0],
            label: items[1]
        };
    }

    $(".autocomplete-funding").live("focus", function() {
        var elem = $(this);
        $(this).unautocomplete();
        $(this).autocomplete(
            "$portalPath/proxyGet?ns=Funding_Bodies&autocomplete=true&fields=dc:identifier,dc:title",
            {
                extraParams: {
                    qs: function() { return "count=25&searchTerms=" + escape(elem.val()); }
                },
                formatItem: function(row) { return splitFundingData(row).label; },
                formatResult: function(row) { return splitFundingData(row).label; },
                width: "40em"
            }).result(function(event, row) {
                var uriElem = $(this).next();
                if (row) {
                    uriElem.val(splitFundingData(row).uri);
                } else {
                    uriElem.val("urn:uon:internal");
                }
            })
        }).live("blur", function() {
            $(this).search();
        });
});
</script>
