<h3><a href="#notes">Notes</a></h3>
<div id="notes" class="inputscreen">
    #fieldTitle("notes.0" "Notes" false)
    <div class="help-content" id="help-notes.0">
        Enter administrative notes as required.
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th>Info</th>
                <th colspan=3">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display notes">
                <td style="vertical-align:middle;">
                    <input type="text" id="notes.0.date" class="datetime" placeholder="date" readonly="readonly" size="25" />
                    <input type="text" id="notes.0.username" class="username" placeholder="username" readonly="readonly" size="25" />
                </td>
                <td>
                    <textarea cols="80" rows="4" placeholder="description" id="notes.0.description" class="vnote"></textarea>
                </td>
                <td style="vertical-align:middle;" class="delete-item"><a href="#">delete</a></td>
                <td style="width:100%;"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><input type="button" class="button add-another-item add-note" value="Add note" /></td>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
$(function(){
    function pad(s,len,c){
        c = c || "0";
        var ps = s.toString();
        while(ps.length<len){ ps = c + ps; }
        return ps;
    }
    function getDateTime(){
        var d = new Date();
        var s = d.getFullYear()+"-"+pad(d.getMonth()+1,2)+"-"+pad(d.getDate(),2)+" "+
                pad(d.getHours(),2)+":"+pad(d.getMinutes(),2)+":"+pad(d.getSeconds(),2);
        return s;
    }
    $(".vnote").live("change keydown", function(){
        var baseId=$(this).attr("id").replace(".description","");
        if($("input[id='"+baseId+".date']").val()==""){
            $("input[id='"+baseId+".date']").val(getDateTime());
        }
        if($("input[id='"+baseId+".username']").val()==""){
            $("input[id='"+baseId+".username']").val("$page.authentication.get_username()");
        }
    });
});
</script>
