<div class="nameLookup-section">
    <input type="hidden" class="nameLookup-url" value="../proxyGet?ns=mintPeople&qs=searchTerms%3D{searchTerms}" />
    <input type="hidden" class="nameLookup-value-ns" value="nl" />

    <h2>Creators <span class="required" title="required">(*)</span></h2>
    <table class="input-list sortable">
        <thead>
            <tr class="header-row">
                <th>&nbsp;</th>
                <th>PI</th>
                <th>Co-PI</th>
                <th style="width: 100%;">
                    <span class="helpWidget" data-help-content-id="help-creators">
                        <img src="../images/icons/help.png"/>
                    </span>
                </th>
            </tr>
            <tr><td colspan="4">
                <div class="help-content" id="help-creators">
                    <p>Given name and family name of persons who created the data.</p>
                    <p>Please indicate persons with roles of Principal Investigator or
                    Co-Principle Investigator by checking the boxes provided.</p>
                </div>
            </td></tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="9">
                    <input class="add-another-item" type="button" value="Add another person" />
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td style="vertical-align:middle;">
                    <img class="facets-grip" src="../images/icons/grippy.png" />
                </td>
                <td style="vertical-align:middle;">
                    <input type="checkbox" name="scope" value="1"
                           id="dc:creator.foaf:Person.0.pi" />
                </td>
                <td style="vertical-align:middle;">
                    <input type="checkbox" name="scope" value="1"
                           id="dc:creator.foaf:Person.0.coPi" />
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="dc:creator.foaf:Person.0.foaf:givenName">Given name:</label>
                                    <input type="text" placeholder="given name" size="40"
                                           class="nameLookup-name creator-givenName"
                                           id="dc:creator.foaf:Person.0.foaf:givenName" />
                                    <div>
                                    </div>
                                </td>
                                <td>
                                    <label for="dc:creator.foaf:Person.0.foaf:familyName">Family name: <span class="required" title="required">(*)</span></label>
                                    <input type="text" placeholder="family name" size="40"
                                           class="nameLookup-name creatorFamilyName"
                                           id="dc:creator.foaf:Person.0.foaf:familyName" />
                                    <div>
                                        <label for="dc:creator.foaf:Person.0.foaf:familyName"  class="validation-err-msg"
                                            data-validation-rule="test(notEmpty);when(onChange, onSubmit, onBlur, onSave);liveFor(.creatorFamilyName);">
                                            A creators family name is required!
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <span style="white-space:nowrap;">
                                        <a href="#" class="nameLookup-lookup" data-selected-func="lookupDone">lookup</a>
                                        <span class="identified-as-name" style="border:0px solid #aaaaaa;padding:0.25ex;"></span>
                                        <input id="dc:creator.foaf:Person.0.dc:title"
                                               type="hidden"
                                               class="nl nl-rdfs:label" readonly="readonly"/>
                                        <input type="hidden" id="dc:creator.foaf:Person.0.dc:identifier"
                                               class="nl nl-rdf:about" value="" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Affiliation <span class="required" title="required">(*)</span>:
                                    <span class="data-source-drop-down"
                                          data-delay="1"
                                          data-json-source-url="../proxyGet?ns=mintOrgUnit&qs=count%3D9999"
                                          data-id-key="rdf:about"
                                          data-label-key="rdfs:label"
                                          data-list-key="results">
                                        <span class="selection-added">
                                            <input type="hidden" class="selection-added-id"
                                                   id="dc:creator.foaf:Person.0.association" value="" />
                                            <input type="text" class="selection-added-label" readonly="readonly" size="24"
                                                   id="dc:creator.foaf:Person.0.association.skos:prefLabel" value="" />
                                            <a href="#" class="clear-item">change</a>
                                        </span>
                                        <span class="drop-down-location">
                                            <button class="selection-add add-unique-only" data-add-on-click="1">
                                                Add <!-- '<span class="selection-add-label"></span>' -->
                                            </button>
                                        </span>
                                    </span>
                    <span class="helpWidget" data-help-content-class="help-association">
                        <img src="../images/icons/help.png"/>
                    </span>
                    <span class="help-content help-association inline" >
                        Select the appropriate affiliation.
                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align:middle;" class="delete-item"><a href="#">delete</a></td>
            </tr>
        </tbody>
    </table>

    <h2>
        Primary contact
        <span class="helpWidget" data-help-content-id="help-primary-contact">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-primary-contact">
        Given name and family name of person nominated as primary contact for the data.
    </div>
    <table>
        <tr>
            <td>
                <label for="primary_contact_name">Name</label>
                <input type="text" size="40" placeholder="Enter a name"
                    id="primary_contact_name" />
            </td>
        </tr>
        </tr>
            <td>
                <label for="primary_contact_email">Email</label>
                <input type="text" size="40" placeholder="Enter an email address" id="primary_contact_email" />
                <label class="validation-err-msg" for="primary_contact_email"
                    data-rule="when(onChange, onSubmit, onBlur);test(notEmpty);">
                    A primary contact email is required!
                </label>
            </td>
        </tr>
    </table>

    <h2>
        <label for="supervisor">Supervisor</label>
        <span class="helpWidget" data-help-content-id="help-supervisor">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-supervisor">
        Name of supervisor associated with the data creation if applicable.
    </div>
    <input type="text" size="80" placeholder="Supervisor (where applicable)" id="supervisor" />

    <p>
        <h2>
            <label for="collaborators">Collaborators</label>
            <span class="helpWidget" data-help-content-id="help-collaborators">
                <img src="../images/icons/help.png"/>
            </span>
        </h2>
        <div class="help-content" id="help-collaborators">
            Names of other collaborators in the research project.
        </div>
        <table class="input-list">
            <tfoot>
                <tr>
                    <td></td>
                    <td><input type="button" class="add-another-item" value="Add" /></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
            <tbody>
                <tr class="item-input-display sortable-item">
                    <td class="sort-number"></td>
                    <td><input type="text" size="40" placeholder="Institution or organisation" id="collaborators.0" /></td>
                    <td class="delete-item"><a href="#">delete</a></td>
                    <td style="width: 100%;" />
                </tr>
            </tbody>
        </table>
    </p>
</div>
<script type="text/javascript">
function lookupDone(target, resultJson){
    var p=target.parent();
    target.text("identified as:");
    p.find(".identified-as-name").text(p.find("input.nl").val());
}
</script>
