<div class="nameLookup-section">
    <input type="hidden" class="nameLookup-url" value="../proxyGet?ns=mintPeople&qs=searchTerms%3D{searchTerms}" />
    <input type="hidden" class="nameLookup-value-ns" value="nl" />

    <h2>Creators</h2>
    <table class="input-list sortable">
        <thead>
            <tr class="header-row">
                <th>&nbsp;</th>
                <th>PI</th>
                <th style="width: 100%;"></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="9">
                    <input class="add-another-item" type="button" value="Add another person" />
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td style="vertical-align:middle;">
                    <img class="facets-grip" src="../images/icons/grippy.png" />
                </td>
                <td style="vertical-align:middle;">
                    <input type="checkbox" name="scope" value="1"
                           id="dc:creator.foaf:Person.0.pi" />
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Given name:</label>
                                    <input type="text" placeholder="given name" size="40"
                                           class="nameLookup-name"
                                           id="dc:creator.foaf:Person.0.foaf:givenName" />
                                </td>
                                <td>
                                    <label>Family name:</label>
                                    <input type="text" placeholder="family name" size="40"
                                           class="nameLookup-name"
                                           id="dc:creator.foaf:Person.0.foaf:familyName" />
                                </td>
                                <td>
                                    <span style="white-space:nowrap;">
                                        <a href="#" class="nameLookup-lookup" data-selected-func="lookupDone">lookup</a>
                                        <span class="identified-as-name" style="border:0px solid #aaaaaa;padding:0.25ex;"></span>
                                        <input id="dc:creator.foaf:Person.0.dc:title"
                                               type="hidden"
                                               class="nl nl-foaf:name" readonly="readonly"/>
                                        <input type="hidden" id="dc:creator.foaf:Person.0.dc:identifier"
                                               class="nl nl-rdf:about" value="" />
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Association:
                                    <span class="data-source-drop-down" style="padding-right:2em;"
                                          data-delay="1"
                                          data-json-source-url="../proxyGet?ns=mintOrgUnit&qs=searchTerms%3D{searchTerms}&transform=true">
                                          <span class="selection-added">
                                            <input type="hidden" class="selection-added-id"
                                                 id="dc:creator.foaf:Person.0.association" value="" />
                                            <input type="text" class="selection-added-label" readonly="readonly" size="24"
                                                 id="dc:creator.foaf:Person.0.association.skos:prefLabel" value="" />
                                            <a href="#" class="clear-item">change</a>
                                          </span>
                                          <span class="drop-down-location">
                                              <button class="selection-add add-unique-only"
                                                      data-add-on-click="1">
                                                  Add <!-- '<span class="selection-add-label"></span>' -->
                                              </button>
                                          </span>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align:middle;" class="delete-item"><a href="#">delete</a></td>
            </tr>
        </tbody>
    </table>
    <h2>Primary contact</h2>
    <p>
        <label for="primary_contact_name">Name</label>
        <input type="text" size="80" placeholder="Primary contact name" id="primary_contact_name" />
    </p>
    <p>
        <label for="primary_contact_email">Email</label>
        <input type="text" size="80" placeholder="Primary contact email" id="primary_contact_email" />
    </p>
    <p class="nameLookup-debugMsg">xxx</p>
</div>
<script type="text/javascript">
function lookupDone(target, resultJson){
    var p=target.parent();
    target.text("identified as:");
    p.find(".identified-as-name").text(p.find("input.nl").val());
}
</script>
