<div>
    <h2>
        <label for="access_conditions">Access conditions <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-access-conditions">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-access-conditions">
        Describe any conditions associated with granting access, for example:
        Contact Chief Investigator to negotiate access to the data.
    </div>
    <p>
        <input type="text" size="60" placeholder="access conditions" id="access_conditions" />
        <label class="validation-err-msg" for="access_conditions"
            data-validation-rule="when(onChange, onSubmit, onBlur);test(notEmpty);">
            Access conditions are required!
        </label>
    </p>
    <h2>
        <label for="restrictions">Restrictions, Embargoes or Usage Constraints <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-restrictions">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-restrictions">
        Describe any access restrictions, for example: Embargoed until 1 year
        after publication of the research.
    </div>
    <p>
        <input type="text" size="60" placeholder="restriction on access" id="restrictions" />
        <label class="validation-err-msg" for="restrictions"
            data-validation-rule="when(onChange, onSubmit, onBlur);test(notEmpty);">
            Restrictions, Embargoes or Usage Constraints is required!
        </label>
    </p>
    <h2>
        <label for="license_cc">License - Creative Commons</label>
        <span class="helpWidget" data-help-content-id="help-license-cc">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-license-cc">
        See: <a href="http://creativecommons.org.au/learn-more/licences" target="blank">
                http://creativecommons.org.au/learn-more/licences
             </a>
    </div>
    <p>
        <select name="license_cc">
            <option>Please select one</option>
            <option value="http://creativecommons.org/licenses/by/3.0/au">CC BY: Attribution</option>
            <option value="http://creativecommons.org/licenses/by-sa/3.0/au">CC BY-SA: Attribution-Share Alike</option>
            <option value="http://creativecommons.org/licenses/by-nd/3.0/au">CC BY-ND: Attribution-No Derivative Works</option>
            <option value="http://creativecommons.org/licenses/by-nc/3.0/au">CC BY-NC: Attribution-Noncommerical</option>
            <option value="http://creativecommons.org/licenses/by-nc-sa/3.0/au">CC BY-NC-SA: Attribution-Noncommerical-Share Alike</option>
            <option value="http://creativecommons.org/licenses/by-nc-nd/3.0/au">CC BY-NC-ND: Attribution-Noncommerical-No Derivatives</option>
        </select>
    </p>
    <h2>
        <label for="license_other">License - Other</label>
        <span class="helpWidget" data-help-content-id="help-license-other">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-license-other">
        Examples of other licences:
        <a href="http://www.opendefinition.org/licenses" target="blank">
            http://www.opendefinition.org/licenses
        </a>
    </div>
    <p><input type="text" size="60" placeholder="other license" id="license_other" /></p>
</div>
