<div>
    <h2><label for="dc:subject.anzsrc:seo">Socio-economic Objectives</label></h2>
    <table class="input-list">
        <tfoot>
            <tr class="item-input">
                <td>
                    <span class="data-source-drop-down"
                          data-json-source-url="../proxyGet?ns=mintSeo&qs=count%3D999%26level%3D"
                          data-top-level-id="top"
                          data-id-key="rdf:about"
                          data-label-key="skos:prefLabel"
                          data-list-key="results"
                          data-children-key="skos:narrower">
                        <input type="text" class="selection-add-label" id="dc:subject.anzsrc:seo.0.skos:prefLabel" value="" />
                        <input type="text" class="selection-add-id" id="dc:subject.anzsrc:seo.0.rdf:resource" value="" />
                    </span>
                    <button class="item-add selection-add add-unique-only">Add '<span class="selection-add-label"></span>'</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-display">
                <td>
                    <span class="item-display-item"></span>
                    <span class="item-display-item" style="color: lightblue; display: none;"></span>
                    <a class="delete-item" href="#">delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2><label for="dc:subject.anzsrc:for">Field of Research codes</label></h2>
    <table class="input-list">
        <tfoot>
            <tr class="item-input">
                <td>
                    <span class="data-source-drop-down"
                          data-json-source-url="../proxyGet?ns=mintFor&qs=count%3D999%26level%3D"
                          data-top-level-id="top"
                          data-id-key="rdf:about"
                          data-label-key="skos:prefLabel"
                          data-list-key="results"
                          data-children-key="skos:narrower">
                        <input type="text" class="selection-add-label" id="dc:subject.anzsrc:for.0.skos:prefLabel" value="" />
                        <input type="text" class="selection-add-id" id="dc:subject.anzsrc:for.0.rdf:resource" value="" />
                    </span>
                    <button class="item-add selection-add add-unique-only">Add '<span class="selection-add-label"></span>'</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-display">
                <td>
                    <span class="item-display-item"></span>
                    <span class="item-display-item" style="color: lightblue; display: none;"></span>
                    <a class="delete-item" href="#">delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2><label for="dc:subject">Keywords</label></h2>
    <table class="input-list">
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="add-another-item" value="Add another keyword" /></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td><input type="text" size="40" placeholder="Keyword" id="dc:subject.keywords.0" /></td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;" />
            </tr>
        </tbody>
    </table>
</div>
