<div>
    <h2>
        <label for="dc:subject.anzsrc:seo">Socio-economic Objectives</label>
        <span class="helpWidget" data-help-content-id="help-seo-codes">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-seo-codes">
        Selct relevant SEO code/s.
    </div>
    <table class="input-list">
        <tfoot>
            <tr class="item-input">
                <td>
                    <span class="data-source-drop-down"
                          data-json-source-url="../proxyGet?ns=mintSeo&qs=count%3D999%26level%3D"
                          data-top-level-id="top"
                          data-id-key="rdf:about"
                          data-label-key="skos:prefLabel"
                          data-list-key="results"
                          data-children-key="skos:narrower">
                        <input type="text" class="selection-add-label" id="dc:subject.anzsrc:seo.0.skos:prefLabel" value="" />
                        <input type="text" class="selection-add-id" id="dc:subject.anzsrc:seo.0.rdf:resource" value="" />
                    </span>
                    <button class="item-add selection-add add-unique-only">Add '<span class="selection-add-label"></span>'</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-display">
                <td>
                    <span class="item-display-item"></span>
                    <span class="item-display-item" style="color: lightblue; display: none;"></span>
                    <a class="delete-item" href="#">delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>
        <label for="dc:subject.anzsrc:for">Field of Research codes</label>
        <span class="helpWidget" data-help-content-id="help-for-codes">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-for-codes">
        Select relevant FOR code/s.
    </div>
    <table class="input-list">
        <tfoot>
            <tr class="item-input">
                <td>
                    <span class="data-source-drop-down"
                          data-json-source-url="../proxyGet?ns=mintFor&qs=count%3D999%26level%3D"
                          data-top-level-id="top"
                          data-id-key="rdf:about"
                          data-label-key="skos:prefLabel"
                          data-list-key="results"
                          data-children-key="skos:narrower">
                        <input type="text" class="selection-add-label" id="dc:subject.anzsrc:for.0.skos:prefLabel" value="" />
                        <input type="text" class="selection-add-id" id="dc:subject.anzsrc:for.0.rdf:resource" value="" />
                    </span>
                    <button class="item-add selection-add add-unique-only">Add '<span class="selection-add-label"></span>'</button>
                </td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-display">
                <td>
                    <span class="item-display-item"></span>
                    <span class="item-display-item" style="color: lightblue; display: none;"></span>
                    <a class="delete-item" href="#">delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>
        <label for="dc:subject">Keywords <span class="required" title="required">(*)</span></label>
        <span class="helpWidget" data-help-content-id="help-keywords">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-keywords">
        Enter descriptive keywords as required.
    </div>
    <table class="input-list">
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="add-another-item" value="Add another keyword" /></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="40" placeholder="Keyword" id="dc:subject.keywords.0" class="vkeyword" />
                </td>
                <td class="delete-item"><a href="#">delete</a></td>
                <td style="width: 100%;">
                    <label for="dc:subject.keywords.0"  class="validation-err-msg"
                        data-validation-rule="test(notEmpty);when(onChange, onBlur, onSubmit);liveFor(.vkeyword);">
                        A keyword is required!
                    </label>
                </td>
            </tr>
        </tbody>
    </table>

    <h2>
        <label for="research_activity">Research Activity</label>
        <span class="helpWidget" data-help-content-id="help-research-activity">
            <img src="../images/icons/help.png"/>
        </span>
    </h2>
    <div class="help-content" id="help-research-activity">
        <p>
            1297.0 Australian Standard Research Classification (ANZSRC) 2008.
        </p>
        <p>
            Pure basic research is experimental and theoretical work undertaken
            to acquire new knowledge without looking for long term benefits
            other than the advancement of knowledge.
        </p>
        <p>
            Strategic basic research is experimental and theoretical
            work undertaken to acquire new knowledge directed
            into specified broad areas in the expectation of useful
            discoveries. It provides the broad base of knowledge
            necessary for the solution of recognised practical problems.
        </p>
        <p>
            Applied research is original work undertaken primarily
            to acquire new knowledge with a specific application in
            view. It is undertaken either to determine possible
            uses for the findings of basic research or to determine
            new ways of achieving some specific and predetermined objectives.
        </p>
        <p>
            Experimental development is systematic work, using
            existing knowledge gained from research or practical
            experience, that is directed to producing new
            materials, products or devices, to installing new
            processes, systems and services, or to improving
            substantially those already produced or installed.
        </p>
    </div>
    <p>
        <select id="research_activity" name="research_activity">
            <option value="pure">Pure basic research</option>
            <option value="strategic" selected>Strategic basic research</option>
            <option value="applied">Applied research</option>
            <option value="experimental">Experimental development</option>
        </select>
    </p>
</div>
