<div>
    <h2>Progress</h2>
    <p>
        <input id="agreement" type="checkbox" />
        <label id="agreementLabel" for="agreement"> </label>
        <input type="submit" disabled="disabled" id="update-package" value="Proceed" class="form-fields-submit" />
        <input type="hidden" class="submit-result-func" value="submitted_ok" />
        <div class="submitted-result" style="padding-left: 2em; font-size: 120%;"></div>
    </p>
    <h2>Delete</h2>
    <p>
        <input id="deleteAgreement" type="checkbox" />
        <label id="deleteAgreementLabel" for="deleteAgreement">
            I understand that deleting this record is permanent and cannot be undone.
        </label>
        <input type="button" id="delete-record" disabled="disabled" value="Delete" />
    </p>
</div>
<script type="text/javascript">
$(function() {
    $("#agreementLabel").html(packageData.nextStageMessage);
    if (packageData.stage == "live") {
        $("#agreement").hide();
        $("#update-package").hide();
    } else {
        $("#agreement").click(function() {
            if ($(this).is(":checked")) {
                $("#update-package").removeAttr("disabled");
            } else {
                $("#update-package").attr("disabled", "disabled");
            }
        });
        $("#deleteAgreement").click(function() {
            if ($(this).is(":checked")) {
                $("#delete-record").removeAttr("disabled");
            } else {
                $("#delete-record").attr("disabled", "disabled");
            }
        });
    }
});
</script>
