<div>
    <h2>Progress</h2>
    <p>
        <input id="agreement" type="checkbox" />
        <label id="agreementLabel" for="agreement"> </label>
        <input type="submit" disabled="disabled" id="update-package" value="Proceed" class="form-fields-submit" />
        <input type="hidden" class="submit-result-func" value="submitted_ok" />
        <div class="submitted-result" style="padding-left: 2em; font-size: 120%;"></div>

        <div style="color:red; padding:1em;" id="validation-summary">
           <div id="not-valid-for-submitting" style="display:none;color:darkred;">
                You must fixup all fields with missing required data or invalid data before
                you can submit!
           </div>
           <div>
                <label class="validation-err-msg" for="dc:title">
                    A Title is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="location">
                    A Location is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:description">
                    A Description is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:creator.foaf:Person.0.foaf:familyName">
                    A Creators 'Family name' is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="dc:subject.keywords.0">
                    A Keyword is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="access_conditions">
                    Access Conditions is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="restrictions">
                    Restrictions, Embargoes or Usage Constraints is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="physical_storage">
                    Stored at, is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="retention_period">
                    Retention Period is required!
                </label>
           </div>
           <div>
                <label class="validation-err-msg" for="extent">
                     Extent or quantity is required!
                </label>
           </div>
        </div>
    </p>
    <h2>Delete</h2>
    <p>
        <input id="deleteAgreement" type="checkbox" />
        <label id="deleteAgreementLabel" for="deleteAgreement">
            I understand that deleting this record is permanent and cannot be undone.
        </label>
        <input type="button" id="delete-record" disabled="disabled" value="Delete" />
    </p>
</div>

<script type="text/javascript">
$(function() {
    $("#agreementLabel").html(packageData.nextStageMessage);
    if (packageData.stage == "live") {
        $("#agreement").hide();
        $("#update-package").hide();
    } else {
        $("#agreement").click(function() {
            $("#not-valid-for-submitting").hide();
            if ($(this).is(":checked")) {
                if(widgets.forms[0].validator.isOkToSubmit()==false){
                    $(this).attr("checked", false);
                    $("#not-valid-for-submitting").show();
                }else{
                    $("#update-package").removeAttr("disabled");
                }
            } else {
                $("#update-package").attr("disabled", "disabled");
            }
        });
        $("#deleteAgreement").click(function() {
            if ($(this).is(":checked")) {
                $("#delete-record").removeAttr("disabled");
            } else {
                $("#delete-record").attr("disabled", "disabled");
            }
        });
    }

    $("#validation-summary label").click(function(){
        var i, id;
        try{
            i=$(this);
            id=i.attr("for");
            i=$("*[id="+id+"]");
            id=i.parents(".ui-tabs-panel").attr("id");
            $("a[href=#"+id+"]").click();
            i.focus();
        }catch(e){
        }
        return false;
    });
});
</script>
