#if($self.getErrorMsg()=="")
#set($portalPath = $portalPath.replaceAll("verNum[0-9A-Za-z_.\\-]+/",""))
<link rel="stylesheet" type="text/css" media="print" href="$portalPath/css/dashboard-print.css" />
<div>
	<div id="reportDashboardForm">
	<div>
		<form action="dashboard?action=export&format=csv&$self.getDateRange()" method="POST" >
        <span>Date Range		
			<label for="dateFrom">From</label>
            <input type="text" placeholder="Start Date" id="dateFrom" name="dateFrom" value="$self.getFromDt()" onchange="updateChart('#dateTo')(this.value, $('#dateFrom'))"/>			
            <label for="dateTo">To</label>
            <input type="text" placeholder="End Date" id="dateTo" name="dateTo" value="$self.getToDt()" onchange="updateChart('#dateFrom')(this.value, $('#dateTo'))"/>
			<label for="reportName">Report Name</label>
			<input type="text" placeholder="Report Name" id="reportName" name="reportName" value="$self.getReportName()" />
			<input type="submit" value="Export as CSV" />			
		</span>		
		</form>
	</div>
	<div style="width:50%;margin:0px auto 0px auto;">
		<span class='validation-err-msg' style='visibility:hidden'>
			Invalid date range
		</span>
	</div>
	</div>
	<div class="reportImages">
	<h1 id="reportTitle" style="text-align:center">$self.getReportName()</h1>
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-stage-1&$self.getDateRange()" />
		</div>
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-stage-2&$self.getDateRange()" />
		</div>		
	</div>
	<div class="reportImages">
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-month-1&$self.getDateRange()" />
		</div>
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-month-2&$self.getDateRange()" />
		</div>		
	</div>
	<script type="text/javascript" src="$portalPath/js/reportdashboard.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#reportName").blur(function() {$("#reportTitle").text($(this).val());});
		$("#reportName").keypress(function(event) {
 				 if ( event.which == 13 ) {
     					$("#reportTitle").text($(this).val());
  			 } 
  		});
	}); 
	</script>
#else
	<span>$self.getErrorMsg()</span>
#end
</div>
