#if($self.getErrorMsg()=="")
#set($reportName = $velocityContext.get("request").getParameter("reportName"))
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaRegexes.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaUtilities.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaValidation.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaWidgets.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaUI.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/jaffaForm.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/libs/validatious/validatious.2.0.min.0.9.1.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/jaffa.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/myJaffa.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/text.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/container.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/reportCriteria.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/dropDown.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets/radioGroup.js"></script>
<script type="text/javascript" src="$portalPath/jaffa/widgets-ini.js"></script>
	<div id="reportForm">
	<section>
	#if($reportName)
		<h1>Edit Report</h1>
	#else
		<h1>Create New Report</h1>
	#end
	<div>
		<fieldset>
			<legend>Date Range</legend>
			<div>
			<label>From<input type="text" id="dateFrom" class="datepicker jaffa-field" /></label>	 
			<label>To<input type="text"  id="dateTo" class="datepicker jaffa-field" /></label>
			</div>
			<div id="dateCreatedContainer"></div>
			<div id="showOptionsContainer"></div>
			<!--label>Show
			<select>
				<option>All records</option>
				<option>Published records</option>
			</select>
			</label-->
		</fieldset>
		<label>Report Name: <input type="text" id="reportName" class="jaffa-field"/></label><br>
		
		<div id="reportCriteria"></div>
		#if($reportName)
			#set($buttonName = "Save & Run")
		#else
			#set($buttonName = "Create & Run")	
		#end
		<input type="submit" name="submit" value="$buttonName" onclick="jaffa.form.save(); return false;"/>
		<input type="submit" name="clear" value="Clear" onclick="window.location.reload()"/>
	</div>
		
	</section>
	
	</div>
		<script type="text/javascript">
  var jaffa = jaffaFactory({
        debuggingEnabled: true,
        #if($reportName)
        	urlDataSource: "$portalPath/report/reports.ajax?func=action&action=get-json&reportName=$reportName",
        #end
        formSelector: "#reportForm",
        functionSaveData: saveData,
        callbackPreSave: preSave
    });
    
    jaffa.form.addField("dateFrom","dateFrom");
    jaffa.form.addField("dateTo","dateTo");
    jaffa.form.addField("reportName","reportName");
    
    function preSave() {
    	return true;
    }
    
    function saveData(unmanagedData, isValid,something, serverData) {  
    	 #if($reportName)
			var url = '$portalPath/report/reports.ajax?func=action&action=edit&reportId=$reportName';
		 #else
			var url = '$portalPath/report/reports.ajax?func=action&action=create';	
		 #end
         
         jQuery.ajax({type:"POST", url:url, data:serverData,
			success:function(data, status){ 
			document.location.href = '$portalPath/report/reportResult?id='+data['id'];
			},
			error:function(xhr, status, e){
				alert(e);
			},
			dataType:"json"
		}); 
    }
    
    function preSave() {
    	return true;
    }

</script>
	
	<script>
		$(function() {$( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });});
		
		var widgetListBranding = {
								"" : "control-group",
								".jaffaValidationError" : ["alert", "alert-error"]
							 };

		$(document).ready(function(){
		$("#reportCriteria").jaffaReportCriteriaRepeatable({
															"disable-numbers":true,
															"disable-sorting":true,
															"base-field":"report-criteria",
															"sub-fields": {
																			"field":""
																		   },
															"add-item-text":"Add",
															"delete-item-html":"<button>Remove</button>",
														    "min-size":1,
															"child-config":{
																			"label":"Select field:",
																			"field":"",
																			"json-data-url": "$portalPath/report/reports.ajax?func=action&action=options"
																			},
															"class-list":widgetListBranding
															});


		$("#dateCreatedContainer").jaffaRadioGroup({
    												"label": "",
    												"field": "dateCreatedModified",
    												"label-field": "formRadioLabel",
    												"radio-data": {
        															"created": "Date created",
        															"modified": "Date modified"
    												  			   },
													"default-value": "created"    												  			   
													});	
	
		$("#showOptionsContainer").jaffaDropDown({
    												"label": "Show:",
    												"field": "showOption",
    												"allow-empty": false,
    												"option-data": [
        															{"value": "all",  "label": "All records"},
        															{"value": "published",  "label": "Published records"}
    															   ],    
												});										
		});
		
		var dataSource = jaffa.config("urlDataSource");

		if (dataSource != null && dataSource != "") {
			// Get the JSON Data and run this callback
			jaffa.util.loadJsonUrl(dataSource, function(data) {
				var numberOfReportCriteria = 0;
				for (var field in data) {
					if(field.indexOf("report-criteria") != -1) {
   						var index = field.split(".")[1];
   						if(index > (numberOfReportCriteria+1)){
     						numberOfReportCriteria = index -1;
   						}
					}
					jaffa.serverData[field] = data[field];
				}

		for(var i=0; i<numberOfReportCriteria;i++) {
    		$("#reportCriteria .jaffaAddItem button").click();
		}
		
		jaffa.form.synch(true);
	});
} 

		
</script>


#else
	<span>$self.getErrorMsg()</span>
#end