#if($self.getErrorMsg()=="")
<div class="grid_16">	
	<table>
        <thead>
            <tr>
                <th>Record Title</th>
                <th>Type</th>
                <th>Workflow</th>
                <th>Keywords</th>
                <th>Creators</th>
            </tr>
        </thead>
        <tbody>
         #foreach($item in $self.getReportResult())
            #set($oid = $item.get("id"))
          <tr>
                <td><a href="$portalPath/detail/$oid">$item.get('dc_title')</a></td>
                <td>#if($item.get('dc:type.skos:prefLabel')) $item.get('dc:type.skos:prefLabel') #end</td>
                <td>$item.get("workflow_step_label")</td>
                <td>#foreach($keyword in $item.getList("dc_subject"))
                		$keyword,
                	#end
                </td>
                <td>
                    
                	#set($creatorList = $item.getList("dc:creator.foaf:Person"))
       				 #if ($creatorList.isEmpty())
        			<dd>
        			  
       				 </dd>
       				#else
       				 <dd>
            			<ol>
           				 #foreach($key in $creatorList.keySet())
               				 #set($dcCreator = $creatorList.get($key))
                			 #set($dcCreatorAssociation = $dcCreator.get("foaf.Organization.skos:prefLabel"))
               			 <li>
                  			  #displayOptionalKey($dcCreator "foaf:title") #displayRequiredKey($dcCreator "foaf:givenName") #displayRequiredKey($dcCreator "foaf:familyName")#if("$!dcCreatorAssociation" != ""), $self.escapeHtml($dcCreatorAssociation)#end
                   			 #if($dcCreator.get("redbox:isCoPrimaryInvestigator"))[CI]#end
                   			 #if($dcCreator.get("redbox:isPrimaryInvestigator"))[PI]#end
                		</li>
           			 #end
            </ol>
        </dd>
        #end
                </td>
            </tr>
        #end
        </tbody>
    </table>
	<button>Export CSV</button>
</div>
#else
	<div>$self.getErrorMsg()</div>
#end