	<section>
		<h1>Create New Statistical Report</h1>
	<form method="post">
		<label>Report Name: <input name="reportName" type="text" /></label><br>
		<fieldset style="margin-top:20px;">
			<legend>Date Range</legend>
			<label style="margin-right:7px;">From</label>
			<input name="dateFrom" type="text" class="datepicker" /> 
			<label>To<input name="dateTo" type="text" class="datepicker" /></label><br>
			<label>Date</label>
			<label><input type="radio" name="dateCreatedModified" value="created" checked="checked" />Created</label>
			<label><input type="radio" name="dateCreatedModified" value="modified" />Modified</label><br>
			<label>Show
			<select name="showOption">
				<option value="all">All records</option>
				<option value="published">Published records</option>
			</select>
			</label>
		</fieldset>
		<input type="submit" name="submit" value="Create" />
		<input type="submit" name="clear" value="Clear" onclick="window.location.reload()"/>
		<input type="submit" name="clear" value="CSV Export"/>
	</form>
	<style type="text/css"> table.demo td {width:200em;} table.demo {margin-top:20px;} </style>
	</section>
	<script>
		 $(function() {$( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy'});});		 
	</script>
