<div class="grid_6">
    #set($menuTitle = "Alerts")
    #parseTemplate("wrapping/info-box-open.vm")
    <div class="block">
        <ol>
        #foreach($item in $self.workflows)
            #set($itemId = $item.get("id"))
            #set($itemTitle = $item.get("dc_title").get(0))
            <li class="wf-$item.get('workflow_step').get(0)">
                <a href="$portalPath/workflow/$itemId">$itemTitle</a>
                #set($wfStep = $item.get("workflow_step").get(0))
                #if($wfStep != "" && $wfStep != "live")
                <img class="workflow" src="$portalPath/images/icons/wf_${wfStep}.png" title="Workflow: $wfStep"/>
                #end
            </li>
        #end
        </ol>
    </div>
    #parseTemplate("wrapping/info-box-close.vm")
</div>
