<div class="grid_4">
    #set($menuTitle = "Options")
    #parseTemplate("wrapping/main-menu-open.vm")
    <ul class="menu">
        <li><a href="$portalPath/search">Browse records</a></li>
        #if($page.authentication.is_admin())
        <li><a id="reharvest-view" href="#" rel="$portalId">Reharvest view...</a></li>
        #if($portalId != $defaultPortal)
        <li><a id="delete-view" href="#" rel="$portalId">Delete view...</a></li>
        #end
        #end
        <li><a id="new-record" href="#">
            #if($page.authentication.is_logged_in())
                Add a new dataset
            #else
                Notify us about a dataset
            #end
        </a></li>
    </ul>
    #parseTemplate("wrapping/main-menu-close.vm")
</div>
<script type="text/javascript">
$(function() {
    var jQ = $;
    var processing = false;
    jQ("#new-record").click(function() {
        if (processing) return;
        processing = true;
        jQ("#new-record").append('<img class="right" src="$portalPath/images/icons/loading.gif" />');
        jQ.ajax({
            type: "POST",
            url: "$portalPath/actions/packaging.ajax",
            data: {
                ajax: 1,
                func: "create-new",
                packageType: "dataset",
                metaList: ["title", "description"],
                title: "[Untitled]",
                description: ""
            },
            success: function(data) {
                if (data.status == "ok") {
                    function redirect() {
                        window.location.href = data.url;
                    }
                    setTimeout(redirect, 1500);
                } else {
                    alert("Failed to create record!");
                }
            },
            error: function(xhr, status, e) {
                alert("Failed to create record!");
            },
            dataType: "json"
        });
        return false;
    });
});
</script>
