<div class="grid_4">
  #set($menuTitle = "Actions")
  #parse($page.getTemplate('wrapping/main-menu-open.vm'))
  #set($menuTitle = $nullValue)
  <ul class="menu">
    <li><a id="create-name-authority" href="#">Create a Name Authority</a></li>
    <li><a href="$portalPath/search">Browse all</a></li>
    ## FIXME
    <li><a id="reharvest-view" href="#" rel="$portalId">Reharvest view...</a></li>
    #if($portalId != $defaultPortal)
    <li><a id="delete-view" href="#" rel="$portalId">Delete view...</a></li>
    #end
    <li><a href="$portalPath/upload">Upload a file</a></li>
  </ul>
  #parse($page.getTemplate('wrapping/main-menu-close.vm'))
</div>
<script type="text/javascript">
$(function(){
    var jQ = jQuery;
    var packageType="name-authority";
    var processing = false;
    jQ("#create-name-authority").click(function(){
        if(processing) return;
        processing=true;
        jQ("#create-name-authority").append("<img src='$portalPath/images/loading.gif'/>");
        jQ.ajax({type:"POST", url: "$portalPath/actions/packaging.ajax",
                data:{
                    ajax:1,
                    func:"create-new",
                    packageType:packageType,
                    metaList:["title", "description"],
                    title:"[Untitled]",
                    description:""},
                success:function(data){
                    ##jQ("#package-selected-loading").hide();
                    if(data.status=="ok"){
                        window.location.href = data.url;
                    }else{
                        alert("Failed to create package!");
                    }
                },
                error:function(xhr, status, e){
                    ##jQ("#package-selected-loading").hide();
                    alert("Failed to create package!");
                },
                dataType:"json"
        });
        return false;
    });
});
</script>
