.branding {
 display:none;
}

.nav {
 display:none;
}

#notifications {
	display:none !important;
}

.hidden {
display:none;
}

#reportDashboardForm {
 display:none;
}

.reportImages {
  width:21cm;
  margin-left:2cm;
}

.reportDashboardChart {
  width: 9.5cm;
}

.report-img { 
			border: none;
 }
