#macro(relatedInfoField $id $placeholder $addLabel)
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>URL</th>
                <th>Title</th>
                <th>Notes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="60" placeholder="$placeholder" id="${id}.0.dc:identifier" />
                </td>
                <td>
                    <input type="text" size="60" placeholder="title" id="${id}.0.dc:title" />
                </td>
                <td>
                    <input type="text" size="60" placeholder="notes" id="${id}.0.skos:note" />
                </td>
                <td class="delete-item" style="width: 100%;"><a href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" value="$addLabel" /></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>
#end

#macro(showTechnicalMetadata $id $addLabel)
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>#displayMessage("dataset.technicalMetadata.url.label")</th>
                <th>#displayMessage("dataset.technicalMetadata.title.label")</th>
                <th>#displayMessage("dataset.technicalMetadata.mediaType.label")</th>
                <th>#displayMessage("dataset.technicalMetadata.schemaURL.label")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="item-input-display sortable-item">
                <td class="sort-number"></td>
                <td>
                    <input type="text" size="60" placeholder="#displayMessage("dataset.technicalMetadata.url.placeholder")" id="${id}.0.dc:identifier" />
                </td>
                <td>
                    <input type="text" size="60" placeholder="#displayMessage("dataset.technicalMetadata.title.placeholder")" id="${id}.0.dc:title" />
                </td>
                <td>
                    <input type="text" size="15" placeholder="#displayMessage("dataset.technicalMetadata.mediaType.placeholder")" id="${id}.0.dc:type" />
                </td>
                <td>
                    <input type="text" size="43" placeholder="#displayMessage("dataset.technicalMetadata.schemaURL.placeholder")" id="${id}.0.dc:conformsTo" />
                </td>
                <td class="delete-item" style="width: 100%;"><a href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" value="$addLabel" /></td>
                <td colspan="4"></td>
            </tr>
        </tfoot>
    </table>
#end

<h3><a href="#description">Description</a></h3>
<div id="description" class="inputscreen">
    #fieldTitle("dc:description" "Description" true)
    <div class="help-content" id="help-dc:description">
        <p>
            Description of the research dataset/collection, registry/repository,
            catalogue or index.
        </p>
        <p>This should include:</p>
        <ul>
            <li>
                information about the research dataset/collection,
                registry/repository, catalogue or index, including its
                characteristics and features, eg. This dataset contains
                observational data, calibration files and catalogue information
                collected from the Mount Stromlo Observatory Facility.
            </li>
            <li>
                if applicable: the scope; details of entities being studied or
                recorded; methodologies used.
            </li>
        </ul>
    </div>
    <p>
        <textarea rows="12" cols="80" id="dc:description" style="vertical-align: text-top;"
                placeholder="eg. This dataset contains observational data and calibration files."></textarea>
        #requiredValidation("dc:description" "A description is required!")
        <script type="text/javascript">
        $(function(){
            $("#dc\\:description").jqEasyCounter({
                maxChars: 12000,
                maxCharsWarning: 11990,
                msgTextAlign: 'left'
            });
        });
        </script>
    </p>
    
    #fieldTitle("dc:relation.swrc:Publication" "Related Publications" false)
    <div class="help-content" id="help-dc:relation.swrc:Publication">
        Include URL/s to any publications underpinning the research
        dataset/collection, registry/repository, catalogue or index.
    </div>
    #relatedInfoField("dc:relation.swrc:Publication" "publication url" "Add publication")

    #fieldTitle("dc:relation.bibo:Website" "Related Website" false)
    <div id="help-dc:relation.bibo:Website" class="help-content">
        Include URL/s for the relevant website.
    </div>
    #relatedInfoField("dc:relation.bibo:Website" "website url" "Add website")

	<div id="technical-metadata-section" style="display:none">
	#if($languageService)
	#set($technicalMetadataTitle = $languageService.displayMessage("dataset.technicalMetadata.title"))
	#set($technicalMetadataAddButtonLabel = $languageService.displayMessage("dataset.technicalMetadata.addButton.label"))
	#else
	 #set($technicalMetadataTitle = "Technical Metadata")
	#set($technicalMetadataAddButtonLabel = "Add Technical Metadata")
	#end
	#fieldTitle("dc:relation.redbox:TechnicalMetadata" $technicalMetadataTitle false)
    <div id="help-dc:relation.redbox:TechnicalMetadata" class="help-content">
        #displayMessage("dataset.technicalMetadata.help")
    </div>
    #showTechnicalMetadata("dc:relation.redbox:TechnicalMetadata" $technicalMetadataAddButtonLabel)
	</div>
    #fieldTitle("dc:relation.vivo:Dataset" "Related Data" false)
    <div class="help-content" id="help-dc:relation.vivo:Dataset">
        <p>Link to any sources of third party data used/re-used. By default this
        is a lookup against existing datasets found in this system. If you would
        like to link to external datasets you should click on 'Advanced Selections'
        and deselect 'Local related data'.</p>
        <p>Also under 'Advanced Selections' is an option called 'Publish to RDA'
        which can be deselected if you do not wish to include this relationship
        in the RIF-CS sent to RDA.</p>
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Relationship</th>
                <th>Title</th>
                <th>Identifier</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody class="item-input-display sortable-item">
            <tr>
                <td class="sort-number" rowspan="2"></td>
                <td>
                    <span class="data-source-drop-down"
                          data-delay="1"
                          data-json-source-url="$portalPath/workflows/forms/data/collectionRelationTypes.json"
                          data-id-key="id"
                          data-label-key="label"
                          data-list-key="results"
                          data-default-value="hasAssociationWith">
                        <span class="selection-added">
                            <input type="hidden" class="selection-added-id" id="dc:relation.vivo:Dataset.0.vivo:Relationship.rdf:PlainLiteral" />
                            <input type="text" class="selection-added-label" readonly="readonly" id="dc:relation.vivo:Dataset.0.vivo:Relationship.skos:prefLabel" />
                            <a href="#" class="clear-item">change</a>
                        </span>
                        <span class="drop-down-location">
                            <button class="selection-add add-unique-only" data-add-on-click="1">
                                Select
                            </button>
                        </span>
                    </span>
                </td>
                <td>
                    <input type="text" size="40" placeholder="title" id="dc:relation.vivo:Dataset.0.dc:title" class="collectionTitleLookup" />
                </td>
                <td>
                    <input type="text" size="40" placeholder="data url" id="dc:relation.vivo:Dataset.0.dc:identifier" class="hidden" />
                </td>
                <td>
                    <input type="text" size="40" placeholder="notes" id="dc:relation.vivo:Dataset.0.skos:note" />
                </td>
            </tr>
            <tr id="dc:relation.vivo:Dataset.0.advRow">
                <td>
                    <a id="dc:relation.vivo:Dataset.0.advanced" class="advanced">Advanced Selections &raquo;</a>
                </td>
                <td>
                    <span class="advanced hidden">
                    Local related data: <input type="checkbox" id="dc:relation.vivo:Dataset.0.redbox:origin" class="local-related-data" checked="checked"/>
                    </span>
                </td>
                <td>
                    <span class="advanced hidden">
                    Publish to RDA: <input type="checkbox" id="dc:relation.vivo:Dataset.0.redbox:publish" class="publish-to-rda"/>
                    </span>
                </td>
                <td class="delete-item"><a href="#">delete</a></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" value="Add Data" /></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>

    #fieldTitle("dc:relation.vivo:Service" "Related Services" false)
    <div class="help-content" id="help-dc:relation.vivo:Service">
        Indicate any related Services to this Collection. A lookup works against Mint, or you can enter known information about remote Services.
    </div>
    <table class="input-list">
        <thead>
            <tr>
                <th>#</th>
                <th>Relationship</th>
                <th>Title</th>
                <th>Identifier</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody class="item-input-display sortable-item">
            <tr>
                <td class="sort-number"></td>
                <td>
                    <span class="data-source-drop-down"
                          data-delay="1"
                          data-json-source-url="$portalPath/workflows/forms/data/serviceRelationTypes.json"
                          data-id-key="id"
                          data-label-key="label"
                          data-list-key="results"
                          data-default-value="hasAssociationWith">
                        <span class="selection-added">
                            <input type="hidden" class="selection-added-id" id="dc:relation.vivo:Service.0.vivo:Relationship.rdf:PlainLiteral" />
                            <input type="text" class="selection-added-label" readonly="readonly" id="dc:relation.vivo:Service.0.vivo:Relationship.skos:prefLabel" />
                            <a href="#" class="clear-item">change</a>
                        </span>
                        <span class="drop-down-location">
                            <button class="selection-add add-unique-only" data-add-on-click="1">
                                Select
                            </button>
                        </span>
                    </span>
                </td>
                <td>
                    <input type="text" size="40" placeholder="title" id="dc:relation.vivo:Service.0.dc:title" class="serviceTitleLookup" />
                </td>
                <td>
                    <input type="text" size="40" placeholder="service identifier" id="dc:relation.vivo:Service.0.dc:identifier" />
                </td>
                <td>
                    <input type="text" size="40" placeholder="notes" id="dc:relation.vivo:Service.0.skos:note" />
                    <span class="delete-item"><a href="#">delete</a></span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td><input type="button" class="button add-another-item" value="Add Service" /></td>
                <td colspan="3"></td>
            </tr>
        </tfoot>
    </table>

</div>
<script type="text/javascript">
$(function() {
    $("a.advanced").live("click", function() {
        var baseId = $(this).attr("id").replace(".advanced", "");
        var row = $("tr[id=" + baseId + ".advRow]");
        row.find("span.advanced").each(function(c,e){$(e).toggle();});
        return false;
    });
    function relatedDataToggle(element) {
        var baseId = element.attr("id").replace(".redbox:origin", "");
        if (element.is(":checked")) {
            getReDBoxById(baseId+".dc:identifier").hide();
        } else {
            getReDBoxById(baseId+".dc:identifier").show();
        }
    }
    $(".local-related-data").live("click", function() {
        relatedDataToggle($(this));
        return true;
    }).live("onDataChanged", function() {
        var element = $(this);
        relatedDataToggle(element);
        var baseId = element.attr("id").replace(".redbox:origin", "");
        if (!element.is(":checked")) {
            getReDBoxById(baseId+".advanced").click();
        }
    });

    function splitData(row) {
        var items = row[0].split("::");
        return {
            oid: items[0],
            title: items[1]
        };
    }

    $(".collectionTitleLookup").live("focus", function(){
        var elem = $(this);
        var baseId = elem.attr("id").replace(".dc:title", "");
        elem.unautocomplete();
        if (getReDBoxById(baseId+".redbox:origin").is(":checked")){
            elem.autocomplete(
                "$portalPath/actions/datasets.ajax?",
                {
                    extraParams: {
                        qs: function() {
                            return "$oid";
                        }
                    },
                    formatItem: function(row) {return splitData(row).title;},
                    formatResult: function(row) {return splitData(row).title;},
                    width: "40em"
                }).result(function(event, row) {
                    if (row) {
                        var data = splitData(row);
                        getReDBoxById(baseId+".dc:identifier").val(data.oid);
                    }
                })
        }
    }).live("blur", function(){
        $(this).search();
    });

    function splitService(row) {
        var items = row[0].split("::");
        return {
            title: items[0],
            id: items[1]
        };
    }

    $(".serviceTitleLookup").live("focus", function(){
        var elem = $(this);
        var baseId = elem.attr("id").replace(".dc:title", "");
        elem.unautocomplete();
        elem.autocomplete(
            "$portalPath/proxyGet.script?ns=Services&autocomplete=true&fields=dc:title,dc:identifier",
            {
                extraParams: {
                    qs: function() { return "count=25&searchTerms=" + escape(elem.val().toLowerCase()); }
                },
                formatItem: function(row) { return splitService(row).title; },
                formatResult: function(row) { return splitService(row).title; },
                width: "40em"
            }).result(function(event, row) {
                if (row) {
                    var data = splitService(row);
                    getReDBoxById(baseId+".dc:identifier").val(data.id);
                }
            })
    }).live("blur", function(){
        $(this).search();
    });
});
</script>
