<h3><a href="#general">General</a></h3>
<div id="general" class="inputscreen">
    <input type="hidden" id="redbox:formVersion" />
    <input type="hidden" id="redbox:newForm" />

    #fieldTitle("dc:title" "Title" true)
    <div class="help-content" id="help-dc:title">
        The title for the research dataset/collection, registry/repository,
        catalogue or index. It is recommended for datasets and collections, the
        title should be unique to the data, ie. do not use the publication title
        as the data title.
    </div>
    <p>
        <textarea rows="4" cols="80" id="dc:title" autofocus
            placeholder="title of research data"></textarea>
        <label class="validation-err-msg" for="dc:title"
            data-validation-rule="test(!='' and !='[Untitled]');when(blur,change,save,submit);">
            A title is required!
        </label>
    </p>

    #fieldTitle("dc:type.rdf:PlainLiteral" "Type" true)
    <div class="help-content" id="help-dc:type.rdf:PlainLiteral">
        <dl>
            <dt>Catalogue or Index</dt>
            <dd>
                collection of resource descriptions describing the content of
                one or more repositories or collective works at the item level.
            </dd>
            <dt>Collection</dt>
            <dd>
                compiled content created as separate and independent works and
                assembled into a collective whole for distribution and use.
            </dd>
            <dt>Registry</dt>
            <dd>
                collection of registry objects compiled to support the business
                of a given community.
            </dd>
            <dt>Repository</dt>
            <dd>
                collection of physical or digital objects compiled for
                information and documentation purposes and/or for storage and
                safekeeping.
            </dd>
            <dt>Dataset</dt>
            <dd>
                collection of physical or digital objects generated by research
                activities.
            </dd>
        </dl>
    </div>
    <p>
        #mintSelectField("dc:type.rdf:PlainLiteral"
                         "dc:type.skos:prefLabel"
                         "$portalPath/workflows/forms/data/types.json"
                         "id"
                         "label"
                         "results"
                         "")
        #requiredValidation("dc:type.rdf:PlainLiteral" "The type is required!")
    </p>

    #fieldTitle("dc:created" "Date Record Created" false)
    <div class="help-content" id="help-dc:created">
        Date this record created.
    </div>
    <p>
        <input type="text" placeholder="date created" class="dateYMD" id="dc:created" />
        #dateValidation("dc:created")
    </p>

    #fieldTitle("dc:modified" "Date Record Modified" false)
    <div class="help-content" id="help-dc:modified">
        Date this record modified.
    </div>
    <p>
        <input type="text" placeholder="date modified" class="dateYMD" id="dc:modified" />
        #dateValidation("dc:modified")
    </p>

    #fieldTitle("dc:language.dc:identifier" "Language" false)
    <div class="help-content" id="help-dc:language.dc:identifier">
        Language of the metadata record, eg. English, French etc. (ISO 639.2)
    </div>
    <p>
        #mintSelectField("dc:language.dc:identifier"
                         "dc:language.skos:prefLabel"
                         "$portalPath/proxyGet.script?ns=Languages&qs=count%3D9999"
                         "dc:identifier"
                         "dc:title"
                         "results"
                         "http://id.loc.gov/vocabulary/iso639-2/eng")
    </p>
	<p>
		#set($updateList = $self.getPendingUpdates($oid))
		#if ($self.pendingUpdateSize > 0)
			There are $self.pendingUpdateSize update(s) available for review:
			<br/>
    		#foreach($update in $updateList)
				<br/>
    			<a id="view-parked-link" target="_blank" href="$portalPath/detail/$oid/?payloadId=version_parked_$update">Version created on $self.formatDate($update)</a>
			#end
		#end
	</p>
</div>

<script type="text/javascript">
$(function() {
    getReDBoxById("redbox:newForm").live("onDataChanged", function() {
        $(this).val("false");
    });
});
</script>
