<h3 class="request"><a href="#request">Request</a></h3>
<div id="request" class="inputscreen request">
    <h2>Submission Request</h2>
    <p>This record was created from the following submission request details.</p>
    <fieldset>
        <p>
            <label for="redbox:submissionProcess.dc:date">Date Submitted</label>
            <input id="redbox:submissionProcess.dc:date" type="text" size="40" readonly="readonly" />
        </p>
        <p class="submitTitle hidden">
            <label for="redbox:submissionProcess.dc:title">Title</label>
            <textarea id="redbox:submissionProcess.dc:title" cols="40" rows="2" readonly="readonly"></textarea>
        </p>
        <p>
            <label for="redbox:submissionProcess.dc:description">Description</label>
            <textarea id="redbox:submissionProcess.dc:description" cols="40" rows="10" readonly="readonly"></textarea>
        </p>
        <p>
            <label for="redbox:submissionProcess.locrel:prc.foaf:Person.foaf:name">Contact Name</label>
            <input id="redbox:submissionProcess.locrel:prc.foaf:Person.foaf:name" type="text" size="40" readonly="readonly" />
        </p>
        <p>
            <label for="redbox:submissionProcess.locrel:prc.foaf:Person.foaf:phone">Phone Number</label>
            <input id="redbox:submissionProcess.locrel:prc.foaf:Person.foaf:phone" type="text" size="40" readonly="readonly" />
        </p>
        <p>
            <label for="redbox:submissionProcess.locrel:prc.foaf:Person.foaf:mbox">Email Address</label>
            <input id="redbox:submissionProcess.locrel:prc.foaf:Person.foaf:mbox" type="text" size="40" readonly="readonly" />
        </p>
        <p class="submitNotes hidden">
            <label for="redbox:submissionProcess.skos:note">Notes</label>
            <textarea id="redbox:submissionProcess.skos:note" cols="40" rows="5" readonly="readonly"></textarea>
        </p>
    </fieldset>
</div>
