<h3><a href="#rights">Rights</a></h3>
<div id="rights" class="inputscreen">
    #fieldTitle("rights_group" "Access/Rights" true)
    <div class="help-content" id="help-rights_group">
        Information about access and rights of the collection. One of these
        fields must be filled in.
    </div>
    <div class="group">
        <label class="validation-err-msg"
            for="url"
            data-validation-rule="test(notEmpty);when(blur,change,submit);
                                    jsTest(
                                        var a = ctx.find('input[id=dc:accessRights.skos:prefLabel]').val();
                                        var b = ctx.find('input[id=dc:accessRights.dc:RightsStatement.skos:prefLabel]').val();
                                        a = jQ.trim(a); b = jQ.trim(b);
                                        r = (a == '') && (b == '');
                                    );
                                    liveFor(.vrights);">
            The 'Access Rights/Conditions' and/or 'Rights' field is required!
        </label>

        #fieldTitle("dc:accessRights.skos:prefLabel" "Access Rights/Conditions" false)
        <div class="help-content" id="help-dc:accessRights.skos:prefLabel">
            <p>
                Information about access to the collection or service, including
                access restrictions or embargoes based on privacy, security or
                other policies. A URI is optional.
            </p>
            <p>eg. Contact Chief Investigator to negotiate access to the data.</p>
            <p>eg. Embargoed until 1 year after publication of the research.</p>
        </div>
        <p>
            <input type="text" size="60" id="dc:accessRights.skos:prefLabel" class="vrights"
                placeholder="eg. Contact Chief Investigator to negotiate access to the data." />
            <span style="float:left"><label for="dc:license.dc:identifier">URI:</label>
            <input type="text" size="60" id="dc:accessRights.dc:identifier" placeholder="Access Rights URI" /></span>
        </p> 
        <div style="clear:both"/>

        #fieldTitle("dc:accessRights.dc:RightsStatement.skos:prefLabel" "Rights" false)
        <div class="help-content" id="help-dc:accessRights.dc:RightsStatement.skos:prefLabel">
            Information about rights held in and over the collection such as
            copyright, licences and other intellectual property rights, eg. This
            dataset is made available under the Public Domain Dedication and
            License v1.0 whose full text can be found at:
            <a target="_blank" href="http://www.opendatacommons.org/licences/pddl/1.0/">
                http://www.opendatacommons.org/licences/pddl/1.0/
            </a>
            <br/>A URI is optional.
        </div>
        <div>
            <input type="text" size="60" id="dc:accessRights.dc:RightsStatement.skos:prefLabel" class="vrights"
                placeholder="eg. This dataset is made available under the Public Domain Dedication and License v1.0" style="float:left;margin-right:0.5em;"/>
            <span style="float:left"><label for="dc:license.dc:RightsStatement.dc:identifier">URI:</label>
            <input type="text" size="60" id="dc:accessRights.dc:RightsStatement.dc:identifier" placeholder="Rights Statement URI" /></span>
        </div>
        <div style="clear:both"/>
    </div>

    #fieldTitle("dc:license" "Licence" false)
    <div class="help-content" id="help-dc:license">
        This list contains data licences that this server has been configured with.
        For more information about Creative Commons licences please
        <a href="http://creativecommons.org.au/learn-more/licences" target="blank">&lt;see here&gt;</a>.
    </div>

    <span class="data-source-drop-down"
          data-json-source-url="$portalPath/workflows/forms/data/licences.json"
          data-id-key="id"
          data-label-key="label"
          data-desc-key="description"
          data-list-key="results" >
        <table class="selection-added">
            <tr>
                <th width="10%"><label for="dc:license.skos:prefLabel">Name:</label></th>
                <td><input type="text" size="80" readonly="readonly" class="selection-added-label"
                     id="dc:license.skos:prefLabel" name="dc:license.skos:prefLabel" /></td>
            </tr>
            <tr>
                <th><label for="dc:license.dc:identifier">URL:</label></th>
                <td><input type="text" size="80" readonly="readonly" class="selection-added-id"
                     id="dc:license.dc:identifier" name="dc:license.dc:identifier" /></td>
            </tr>
            <tr>
                <th>Description:</th>
                <td><textarea rows="5" cols="77" readonly="readonly" class="selection-added-desc"/></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><a href="#" class="clear-item">change</a></td>
            </tr>
        </table>
        <span class="drop-down-location">
            <button class="selection-add add-unique-only" data-add-on-click="1">
                Select
            </button>
            <div class="selection-add-more-info-holder">
              Description:<blockquote class="selection-add-more-info"></blockquote>
            </div>
        </span>
    </span>

    #fieldTitle("dc:license.rdf:Alt" "License - Other" false)
    <div class="help-content" id="help-dc:license.rdf:Alt">
        <p>If you want to use a license not included in the above list you can provide details below.</p>
        <ul>
            <li>If you are using this field frequently for the same license it would make sense to get your system administrator to add the license to the field above.</li>
            <li>If you provide two licenses (one from above, plus this one) only the first will be sent to RDA in the RIF-CS.</li>
            <li>Example of another license: <a href="http://www.opendefinition.org/licenses" target="blank">http://www.opendefinition.org/licenses</a></li>
        </ul>
    </div>
    <table class="group">
        <tr>
            <th width="10%"><label for="dc:license.rdf:Alt.skos:prefLabel">Name:</label></th>
            <td><input type="text" size="60" placeholder="license name" id="dc:license.rdf:Alt.skos:prefLabel" /></td>
        </tr>
        <tr>
            <th><label for="dc:license.rdf:Alt.dc:identifier">URL:</label></th>
            <td><input type="text" size="60" placeholder="license url" id="dc:license.rdf:Alt.dc:identifier" /></td>
        </tr>
    </table>
</div>
