h1#branding, .branding {
    background: #B1101A;
    padding-bottom: 0;
}

h1#branding a, .branding {
    color: white;
}

.branding .subtitle {
    font-size: larger;
    padding-left: 0.85em;
    padding-bottom: 0.5em;
}

ul.nav, ul.main li a, .box h2 {
    background: #500005;
}

ul.main li:hover a {
    background: #B1101A;
}

ul.main li ul li a {
    background: #500005;
    border-top: none;
}
