body {
    font-size: 75%;
}

#notifications h2 {
    color: white;
}

.menu .selected, .facet-list .selected {
    background-color: #900009;
}

.sorting, .paging {
    font-size: 100%;
}

h1#branding, .branding {
    background: #B1101A;
    padding-bottom: 0;
}

h1#branding a, .branding {
    color: white;
}

.branding .subtitle {
    font-size: larger;
    padding-left: 0.85em;
    padding-bottom: 0.5em;
}

ul.nav, ul.main li a, .box h2 {
    background: #500005;
}

ul.main li:hover a {
    background-color: #900009;
}

ul.main li:hover ul li a {
    background-color: #900009 !important;
}

ul.main li:hover ul li a:hover {
    background-color: #500005 !important;
}

ul.main li ul li a {
    background-color: #500005;
    border-top: none;
}

ul.main li ul li.selected-view a {
    font-style: italic;
}

#content .accordion, .inputscreens {
    font-family: Arial,Helvetica,sans-serif;
}

.accordion table {
    margin-bottom: 4px;
}
.accordion-header {
    background: #500005;
    color: white;
    display: block;
    font-size: 1.025em;
    font-weight: normal;
    margin: 0px;
    padding-bottom: 2px;
    padding-left: 1.75em;
    padding-top: 2px;
}

.accordion-header.ui-state-active, .accordion-header:hover {
    background: #900009;
    border: 1px solid #CCCCCC;
}

#content .ui-accordion-content {
    background: #EEEEEE;
    font-size: 0.909em;
    padding: 0;
}

#content .general h2 {
    background: #EEEEEE;
    border-top: 1px solid silver;
    font-size: 1.25em;
    font-weight: bold;
    padding-left: 0.7em;
    margin-bottom: 0;
}

.ui-accordion .ui-accordion-content {
    margin-bottom: 0;
}

table.meta {
    margin-top: 0;
    width: 100%;
}

table.meta th {
    width: 20%;
    word-wrap: break-word;
}

th.header {
    background: #FFF5D2;
    margin: 0;
    padding: 0;
}

th.header h3 {
    font-size: 1.1em;
    margin-top: 0;
    padding-left: 0.8em;
}

.box h2 a, .box h2 a.visible {
    background-color: #500005;
}

.box h2 a:hover, .box h2 a.visible:hover {
    background-color: #900009;
}

.toggle-accordion {
    cursor: pointer;
    margin-bottom: 4px;
    margin-top: 4px;
}

#toggle-accordion-icon {
    float: left;
}

.accordion-reset {
    border: 1px solid #500005;
    font-size: 1.15em;
    padding-bottom: 0;
    padding-left: 1em;
}

#delete-record-error {
    color: red;
}

.actions {
    text-align: right;
}

.delete-record:hover, .accept-record:hover {
    cursor: pointer;
}

.deleted {
    font-style: italic;
    text-decoration: line-through;
}

.actions.deleted {
    color: red;
    text-decoration: none;
}

.accepted {
    font-style: italic;
}

.actions.accepted {
    color: green;
}

.vital-id {
    margin: 3px 0px;
    padding: 4px;
    border: 1px solid black;
    background: #FFFFCC;
    font-size: 120%;
}

/* input forms */
.loading-data {
    color: green;
    font-size: 1.2em;
}

#form-heading {
    font-size: 1.1em;
    margin-bottom: 6px;
}

#form-heading span {
    font-size: 1.1em;
}

#inputForms h2 {
    background: none;
    color: black;
    margin-top: 0;
    font-size: 1.05em;
    text-transform: none;
}

#inputForms img {
    vertical-align: text-bottom;
}

.navigation {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-fields-save-close, .form-fields-save {
    vertical-align: super;
}

span.required {
    font-size: 75%;
    vertical-align: top;
    font-weight: normal;
}

.help-content {
    background: #FFFFCC;
    border: 1px gray dotted;
    color: #002020;
    display: none;
    margin: 4px 2em;
    padding: 4px;
}

.help-content dl {
    margin-bottom: 0;
}

.help-content dt {
    font-weight: bold;
}

.help-content dd {
    padding-left: 2em;
}

.validation-err-msg {
    color: red;
    cursor: pointer;
}

#validation-summary .validation-err-msg {
    background-image: url(../images/icons/pencil.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}

/*
.inputscreens input {
    margin: 0.5ex;
}

.inputscreens textarea {
    margin: 0.5ex;
}

.inputscreens table {
    margin: 0.5ex;
    margin-bottom: 2ex;
}

td.delete-row {
    cursor: pointer;
    color: blue;
}

.prev-tab,.next-tab, .form-fields-save {
    cursor: pointer;
    color: blue;
    margin: 1ex;
}

.saved-result {
    font-size: 120%;
    vertical-align: middle;
}

div.tab-nav {
    padding-top: 2ex;
}

img.thumbnail {
    height: 100px;
    border: 1px solid black;
    margin: 10px 5px 0 0;
}

div.accordion-header {
    padding-left: 4ex;
    margin: 0px;
}

h2.accordion-header {
    padding-left: 4ex;
    margin: 0px;
    background: gray;
}

div.accordion {
    margin-left: -1em;
    margin-bottom: 2em;
}

div.tab-nav {
    border-top: thin solid #CCC;
    padding-top: 2ex;
}

.box h2 {
    background: none;
    color: black;
    font-size: 1.1em;
    text-transform: none;
}

.helpWidget {
    color: blue;
    cursor:pointer;
    //float: right;
    font-weight: normal;
    font-size: 80%;
    padding-left:1em;
}

.help-content {
    display:none;
    border:1px gray dotted;
    padding:0.5ex;
    color: #002020;
}
.help-content dt {
    font-weight:bold;
}
.help-content dd {
    padding-left:2em;
}

.validation-err-msg {
    color:red;
    cursor:pointer;
}

#validation-summary .validation-err-msg {
    background-image: url(../images/icons/pencil.png);
    background-repeat: no-repeat;
    background-position: right top;
    padding-right: 20px;
}

span.required {
    font-size:75%;
    vertical-align:top;
    font-weight:normal;
}

.inner-table, .inner-table tr, .inner-table td {
    border: none;
    margin: 0 !important;
    padding: 0;
}

.label {
    background: none;
    border: none;
}

#title {
    float: left;
    font-size: 0.65em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

fieldset p textarea {
    display: block;
    width: 98%;
}
*/