#if($page.authentication.is_logged_in())
<h2>#displayMessage("dmpt.heading.label.plan")</h2>

<p>#displayMessage("dmpt.text.planready")</p>

#if ($velocityContext.get("request").getParameter("oid"))
	#set ($oid = $velocityContext.get("request").getParameter("oid"))
	<!--<a target="_blank" href="$portalPath/download/$oid/DataManagementPlan.pdf" title="Download PDF">Download the plan<img alt="Get PDF" src="$portalPath/images/icons/mimetype/application/pdf/icon.png"></a>-->
	<a style="padding-left:200px" href="$portalPath" title="home">#displayMessage("dmpt.text.returnhome")<img alt="home" src="$portalPath/images/icons/house_go.png"></a> 
#else
	 ##prompt user to login
	 <script type="text/javascript">
	 	$(document).ready(function() {$(".login-now").click();});
	 </script>
#end
#end