<h2>Plan completed</h2>

<p>Thank you for preparing a plan for your research data.</p>

#if ($velocityContext.get("request").getParameter("oid"))
	#set ($oid = $velocityContext.get("request").getParameter("oid"))
	<a target="_blank" href="$portalPath/download/$oid/Data%20Management%20Plan.pdf" title="Download PDF">Download the plan<img alt="Get PDF" src="$portalPath/images/icons/mimetype/application/pdf/icon.png"></a>
#end	
