#parseTemplate("page-components/pagedSection.vm")


<div class="block">

#if ($self.myDrafts && $self.myDrafts.size() > 0)
#############################
## Begin Paged Table - MyDrafts
#############################
#set($draftsRecUrl = "$portalPath/getRecords.script?packageType=self-submission")
#set($draftsTblStruct = "
    <thead>
       <tr>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.dataset')</th>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.created')</th>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.modified')</th>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.manage')</th>
        </tr>
    </thead>
    <tbody data-bind='foreach: rows'>
	    <tr>
    	   <td><a data-bind='attr: {href: detailUrl}, text: dc_title'></a></td>
	       <td data-bind='text: create_timestamp'/>
           <td data-bind='text: last_modified' />
           <td>
                <a data-bind='attr: {href:editUrl}'>
                    <img alt=${q}#displayMessage('researcher-dashboard.home.mydatasets.manage.edit')${q} src='$portalPath/images/icons/workflow_edit.png' title=${q}#displayMessage('researcher-dashboard.home.mydatasets.manage.edit')${q}>
                </a>
                <a data-bind='click: $parent.manageAccess' href='#' title=${q}#displayMessage('researcher-dashboard.home.mydatasets.manage.access')${q}><img alt=${q}#displayMessage('researcher-dashboard.home.mydatasets.manage.access')${q} src='$portalPath/images/icons/application_key.png' title='Manage Record'></a>
           </td>
        </tr>
    </tbody>    
")
<script>
function draftsMapFn(mod, rawdata) {
  var data = rawdata.response.docs;
  for(var i=0; i < data.length; i++) {
    data[i]["editUrl"] = '$portalPath/workflow/' + data[i].id;
    data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
  	data[i]["create_timestamp"] = formatDate(data[i]["date_object_created"]);
  	data[i]["last_modified"] = formatDate(data[i]["date_object_modified"]);
  	mod.rows.push(data[i]);
  }
};
var draftFuncFn = {};
draftFuncFn['manageAccess'] = function(item) { manage_access(item.id); };
</script>

<p style="margin-bottom: 0px;">#displayMessage('researcher-dashboard.home.mydatasets.draft.title')</p>
#insertPagedTable('myDrafts' $draftsRecUrl $draftsTblStruct 'draftsMapFn' 'draftFuncFn')

#############################
## End Paged Table - Drafts
#############################
#end

#if ($self.myDatasets && $self.myDatasets.size() > 0)
#############################
## Begin Paged Table - Datasets
#############################
#set($dsRecUrl = "$portalPath/getRecords.script?packageType=dataset")
#set($dsTblStruct = "
    <thead>
        <tr>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.dataset')</th>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.created')</th>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.modified')</th>
            <th>#displayMessage('researcher-dashboard.home.mydatasets.table.status')</th>
        </tr>
    </thead>
    <tbody data-bind='foreach: rows'>
	    <tr>
    	   <td><a data-bind='attr: {href: detailUrl}, text: dc_title'></a></td>
	       <td data-bind='text: create_timestamp'/>
           <td data-bind='text: last_modified' />
           <td data-bind='text: workflow_step_label' />
        </tr>
    </tbody>    
")
<script>
function dsMapFn(mod, rawdata) {
  var data = rawdata.response.docs;
  for(var i=0; i < data.length; i++) {
    data[i]["detailUrl"] = '$portalPath/detail/' + data[i].id;
  	data[i]["create_timestamp"] = formatDate(data[i]["date_object_created"]);
  	data[i]["last_modified"] = formatDate(data[i]["date_object_modified"]);
  	mod.rows.push(data[i]);
  }
};

</script>

<p style="margin-bottom: 0px;">#displayMessage('researcher-dashboard.home.mydatasets.submitted.title')</p>
#insertPagedTable('myDatasets' $dsRecUrl $dsTblStruct 'dsMapFn' 'null')

#############################
## End Paged Table - Datasets
#############################
#end
       
</div>
