#macro(showElement $tag $field $attr)
    #set($valueList = $item.get($field))
    #foreach($value in $valueList)
        <$tag $attr>$self.encodeXml($value)</$tag>
    #end
#end

<eac-cpf xmlns="urn:isbn:1-931666-33-4"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xsi:schemaLocation="urn:isbn:1-931666-33-4 http://eac.staatsbibliothek-berlin.de/schema/cpf.xsd">

    <control>
        <recordId>$item.get("id")</recordId>
        <maintenanceStatus>revised</maintenanceStatus>
        <maintenanceAgency>
            <agencyCode>AU-NNCU</agencyCode>
            <agencyName>University of Newcastle</agencyName>
        </maintenanceAgency>
        <languageDeclaration> 
            <language languageCode="eng">English</language> 
            <script scriptCode="Latn">Latin Alphabet</script> 
        </languageDeclaration> 
        <conventionDeclaration> 
            <abbreviation>AACR2R</abbreviation> 
            <citation>Anglo-American Cataloging Rules, Revised.</citation> 
        </conventionDeclaration> 
        <maintenanceHistory> 
            <maintenanceEvent> 
                <eventType>last modified</eventType> 
                <eventDateTime standardDateTime="$item.get("last_modified")">$item.get("last_modified")</eventDateTime> 
                <agentType>machine</agentType> 
                <agent>The Fascinator</agent> 
                <eventDescription></eventDescription> 
            </maintenanceEvent> 
        </maintenanceHistory>
        <sources> 
            <source>
                <objectXMLWrap>
                  <dc:dc>
                      <dc:identifier>This need to change to the generated identifier</dc:identifier>
                      <dc:publisher>AU-ANL:PEAU</dc:publisher>
                  </dc:dc>
                </objectXMLWrap>
            </source>
        </sources>
    </control>
    <cpfDescription> 
        <identity>
            <entityId>URI of current object</entityId> 
            <entityType>person</entityType> 
            <nameEntry xml:lang="eng" scriptCode="Latn"> 
                #showElement("part", "surname", 'localType="surname"')
                #showElement("part", "firstName", 'localType="firstName"')
                <authorizedForm>AARC2 - ????</authorizedForm> 
            </nameEntry>
            #foreach ($author in $self.getAuthors($item))
                <nameEntry>$author</nameEntry>
            #end
        </identity>
        <relations> 
            #foreach($resource in $self.getResourceRelations())
                #set ($handle = $resource.get("handle"))
                <resourceRelation resourceRelationType="creatorOf"
                    xlink:href="$handle"
                    xlink:type="simple">
                    <objectXMLWrap><dc:dc>
                            <dc:creator>$resource.get("author")</dc:creator>
                            ##<dc:source>Journal de Dumas, 120(2). pp. 23-42</dc:source>
                            <dc:title>$resource.get("title")</dc:title>
                        </dc:dc>
                    </objectXMLWrap>
                </resourceRelation>
            #end
        </relations>
    </cpfDescription>
</eac-cpf>