<script type="text/javascript">
	function hide_no_option() { 
  		document.getElementById('delegation_sec').style.display='none';
	} 

	function show_no_option() { 
		document.getElementById('delegation_sec').style.display='block'; 
	}
	
	function repeat_div(div_class) {
		var divs = $("."+div_class);
		
	}
	
	$(document).ready(function() {
   		jaffa.ui.changeToTabLayout($('#simpleworkflow-form'), 'h1');
   		$(widgets.contentLoaded);
//   		$( ".datepicker" ).datepicker();
   		var hidden_elements = document.getElementsByClassName('HiddenWidget');
   		console.info("HiddenWidgets");
   		console.info('length = ' + hidden_elements.length);
   		for( var i = 0; i < hidden_elements.length; i++) {
   			console.info(hidden_elements[i].id);
   			hidden_elements[i].style.display = 'none';
   		}
   	})
</script>