<script src="$portalPath/js/wizard.js"></script>
<script type="text/javascript">
	function hide_no_option() { 
  		document.getElementById('delegation_sec').style.display='none';
	} 

	function show_no_option() { 
		document.getElementById('delegation_sec').style.display='block'; 
	}
	
	function repeat_div(div_class) {
		var divs = $("."+div_class);
		
	}
	
	$(document).ready(function() {
		var hidden_elements = document.getElementsByClassName('HiddenWidget');
   		for( var i = 0; i < hidden_elements.length; i++) {
   			hidden_elements[i].style.display = 'none';
   		}
		$(widgets.contentLoaded);
		wizard_init('#simpleworkflow-form','h1.tab-heading', "$portalPath/form-components/webflow.json");
   	})
</script>