<script type="text/javascript" src="$portalPath/js/autocomplete/jquery.autocomplete.pack.js"></script>

<script type="text/javascript">
#set($defaultIternal = "internal:id")
#set($iternalId = $systemConfig.getString($defaultIternal, "redbox.identity", "internalGrantString"))
#set($portalPath = $portalPath)
var INTERNAL_GRANT_ID = "$iternalId";
var widgetTabs;

function pad(s,len,c){
    c = c || "0";
    var ps = s.toString();
    while(ps.length<len){ ps = c + ps; }
    return ps;
}
function getDate(){
    var d = new Date();
    var s = d.getFullYear()+"-"+pad(d.getMonth()+1,2)+"-"+pad(d.getDate(),2);
    return s;
}
function getDateTime(){
    var d = new Date();
    var s = getDate()+" "+pad(d.getHours(),2)+":"+pad(d.getMinutes(),2)+":"+pad(d.getSeconds(),2);
    return s;
}

(function($){
    // OpenLayers stylesheets
    $('head').append('<link rel="stylesheet" type="text/css" id="openLayersCss1">');
    $('#openLayersCss1').attr('href', '$portalPath/openlayers/theme/default/style.css');
    $('head').append('<link rel="stylesheet" type="text/css" id="openLayersCss2">');
    $('#openLayersCss2').attr('href', '$portalPath/openlayers/redbox.css');

    $(function(){
            // OpenLayers init, store it globally so the Geonames lookup can hit it later
            window["openLayersMap"] = loadOpenLayers();
/*
            widgetTabs = widgets.changeToTabLayout($(".inputscreens"));
            widgetTabs.tabs({
                select: function(event, ui){
                    if(widgets.forms[0].hasChanges()){
                        $(".form-fields-save:first").click();
                    }
                }
            });
            widgets.contentLoaded(function(){
                try{
                    widgets.formsById["main-form"].addListener("postOnRestore",
                        function(ctx){
                            nameLookup.init();
                            // people
                            ctx.findx(".lookup-show").each(function(){
                                var e=$(this);
                                e.find("a.nameLookup-lookup").text(e.find("input.nl").val()?" | change":"lookup");
                                e.find(".identified-as-name").text(e.find("input.nl").val());
                            });
                            // grant numbers
                            $(".internal-grant:checked").each(function() {
                                var baseId = $(this).attr("id").replace(".redbox:internalGrant", "");
                                $("input[id="+baseId+".dc:identifier]").unautocomplete();
                                $("input[id="+baseId+".skos:prefLabel]").removeAttr("readonly").removeClass("label");
                            });
                            // geonames
                            $(".autocomplete-geonames").each(function() {
                                var baseId = $(this).attr("id").replace(".rdf:PlainLiteral", "");
                                var uri = $("input[id='"+baseId+".dc:identifier']").val();
                                if (uri != "") {
                                    var east = $("input[id='"+baseId+".geo:long']").val();
                                    var north = $("input[id='"+baseId+".geo:lat']").val();
                                    var coordsElem = $("div[id='"+baseId+".coords']");
                                    coordsElem.find(".east").text(east);
                                    coordsElem.find(".north").text(north);
                                    coordsElem.find(".map-link").attr("href", uri);
                                    coordsElem.show();
                                }
                            });
                            // insert date created if not exist
                            var dcCreated = $("#dc\\:created");
                            if(jQuery.trim(dcCreated.val())==""){
                                dcCreated.val(getDate());
                            }

                            // Identifier, if not 'internal' or 'external' click() it
                            var idOrigin = $("input[id=dc:identifier.redbox:origin]").val();
                            if (idOrigin == "") {
                                $("input[id=dc:identifier.checkbox]").click();
                            }
                        }
                    );
                    // Form data is ready, load features on the map
                    window["openLayersMap"].loadData();

                }catch(e){
                    alert(e);
                }
            });
  */
    });
})(jQuery);
</script>

<script type="text/javascript">

    function hide_no_option() { 
  		document.getElementById('delegation_sec').style.display='none';
	} 

	function show_no_option() { 
		document.getElementById('delegation_sec').style.display='block'; 
	}
	
	function repeat_div(div_class) {
		var divs = $("."+div_class);
		
	}
	$(document).ready(function() {
   		$(widgets.contentLoaded);
/*
        var hidden_elements = document.getElementsByClassName('HiddenWidget');
   		console.info("HiddenWidgets");
   		console.info('length = ' + hidden_elements.length);
   		for( var i = 0; i < hidden_elements.length; i++) {
   			console.info(hidden_elements[i].id);
   			hidden_elements[i].style.display = 'none';
   		}
*/
    })
</script>

<script type="text/javascript">
//The following script is required for the GeoNames processing associated with the OpenStreeMap

    function cleanRdfToJs(input) {
        var output = input.replace(/\./g, "\\.");
        return output.replace(/\:/g, "\\:");
    }

    function getReDBoxById(redboxId) {
        var cleanId = cleanRdfToJs(redboxId);
        return $("#" + cleanId);
    }

$(function(){
    function splitGeonamesData(row) {
        var items = row[0].split("::");
        return {
            id: items[0],
            uri: items[1],
            display: items[2],
            north: items[3],
            east: items[4]
        };
    }
    
    $("#add-location").click(function(){
        getReDBoxById("dc:coverage.vivo:GeographicLocation.0.coords").hide();
    });

    $("#geonamesLookup").live("focus", function(){
        var elem = $(this);
        elem.unautocomplete();
            elem.autocomplete(
                "$portalPath/proxyGet?ns=Geonames&autocomplete=true&fields=id,geonames_uri,display,latitude,longitude",
                {
                    extraParams: {
                        qs: function() {
                            var userInput = elem.val();
                            var commaPos = userInput.indexOf(",");
                            if(commaPos!=-1){
                                userInput = userInput.substring(0,commaPos);
                            }
                            return "func=search&format=json&rows=25&q=" + escape(userInput);
                        }
                    },
                    formatItem: function(row) { return splitGeonamesData(row).display; },
                    formatResult: function(row) { return splitGeonamesData(row).display; },
                    width: "40em"
                }).result(function(event, row) {
                    if (row) {
                        var data = splitGeonamesData(row);
                        // Pan OpenLayers Map
                        if (window["openLayersMap"] != null) {
                            window["openLayersMap"].panTo(data.east, data.north, 10);
                        }
                    }
                })
        }).live("blur", function(){
            $(this).search();
        });

    $(".autocomplete-geonames").live("focus", function(){
        var elem = $(this);
        var baseId = elem.attr("id").replace(".rdf:PlainLiteral", "");
        var wktElem = getReDBoxById(baseId+".redbox:wktRaw");
        elem.unautocomplete();
        if(getReDBoxById(baseId+".dc:type").val() == "text" && wktElem.val() == ""){
            elem.autocomplete(
                "$portalPath/proxyGet?ns=Geonames&autocomplete=true&fields=id,geonames_uri,display,latitude,longitude",
                {
                    extraParams: {
                        qs: function() {
                            var userInput = elem.val();
                            var commaPos = userInput.indexOf(",");
                            if(commaPos!=-1){
                                userInput = userInput.substring(0,commaPos);
                            }
                            return "func=search&format=json&rows=25&q=" + escape(userInput);
                        }
                    },
                    formatItem: function(row) { return splitGeonamesData(row).display; },
                    formatResult: function(row) { return splitGeonamesData(row).display; },
                    width: "40em"
                }).result(function(event, row) {
                    if (row) {
                        var data = splitGeonamesData(row);
                        var coordsElem = getReDBoxById(baseId+".coords");
                        getReDBoxById(baseId+".dc:identifier").val(data.uri);
                        getReDBoxById(baseId+".geo:long").val(data.east);
                        getReDBoxById(baseId+".geo:lat").val(data.north);
                        coordsElem.find(".east").text(data.east);
                        coordsElem.find(".north").text(data.north);
                        coordsElem.show();
                    }
                })
            }
        }).live("blur", function(){
            $(this).search();
        });

    $(".map-link").live("click", function(){
        var p = $(this).parent();
        var baseId = p.attr("id").replace(".coords", "");
        var long = getReDBoxById(baseId+".geo:long").val();
        var lat = getReDBoxById(baseId+".geo:lat").val();
        window["openLayersMap"].panTo(long, lat, 10);
        return false;
    });

    $(".clear-link").live("click", function(){
        var p = $(this).parent();
        var baseId = p.attr("id").replace(".coords", "");
        getReDBoxById(baseId+".dc:identifier").removeAttr("value");
        getReDBoxById(baseId+".geo:long").removeAttr("value");
        getReDBoxById(baseId+".geo:lat").removeAttr("value");
        p.hide();
    });

    var lastTypeValue;
    $(".locationType").live("focus", function() {
        // This is only really useful on the first use of the drop-down
        lastTypeValue = $(this).val();
    }).live("change", function(e){
        var elem = $(this);
        var baseId = elem.attr("id").replace(".dc:type", "");
        var wktElem = getReDBoxById(baseId+".redbox:wktRaw");
        var wktString = wktElem.val();
        // OpenLayers Row
        if (wktString != "") {
            var outElem = getReDBoxById(baseId+".rdf:PlainLiteral");
            var type = elem.val();
            // The alert window causes focus changes... use this temp variable instead
            var lastType = lastTypeValue;
            var output = window["openLayersMap"].mapWktData(wktString, type);
            if (output != null) {
                outElem.val(output);
                // Fix the focus loss from the alert
                lastTypeValue = type;
            } else {
                elem.val(lastType);
                // Fix the focus loss from the alert
                lastTypeValue = lastType;
                return;
            }

        // Legacy input
        } else {
            var uriElem = getReDBoxById(baseId+".dc:identifier");
            if(elem.val() != "text" && uriElem.val() != ""){
                if (confirm("Are you sure you want to clear the Geonames linked location?")) {
                    getReDBoxById(baseId+".rdf:PlainLiteral").val("");
                    $("div[id='"+baseId+".coords'] .clear-link").click();
                } else {
                    $(this).val("text");
                }
            }
        }
    });
});
</script>
