#if($self.getErrorMsg()=="")
#set($pageTitle = "Report dashboard")
	<div class="reportImages">
	<h1 id="reportTitle" style="text-align:center">$self.getReportName()</h1>
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-stage-1&$self.getDateRange()" />
		</div>
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-stage-2&$self.getDateRange()" />
		</div>		
	</div>
	<div class="reportImages">
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-month-1&$self.getDateRange()" />
		</div>
		<div class="report-img">
			<img class="reportDashboardChart" src="chart?chartName=records-by-month-2&$self.getDateRange()" />
		</div>		
	</div>
	<script type="text/javascript" src="$portalPath/js/reportdashboard.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#reportName").blur(function() {$("#reportTitle").text($(this).val());});
		$("#reportName").keypress(function(event) {
 				 if ( event.which == 13 ) {
     					$("#reportTitle").text($(this).val());
     					return false;
  			 } 
  		});
	}); 
	</script>
#else
	<span>$self.getErrorMsg()</span>
#end
</div>


