#set($hasWorkflow = $self.hasWorkflow())
#set($hasWorkflowAccess = $self.hasWorkflowAccess())
#if($hasWorkflow && $hasWorkflowAccess)
    #set($workflowStep = $self.getWorkflowStep())
    <li>
        <a href="$portalPath/workflow/$oid" title="$workflowStep">Edit my plan (<em>$workflowStep</em>)</a>
    </li>
    <li>
    <a href="#/$oid" title="$workflowStep">Close my plan (<em>$workflowStep</em>)</a>
    </li>
#end
