#macro (openField $tag $ind1 $ind2)
        <marc:datafield tag="$tag" ind1="$ind1" ind2="$ind2">
#end

#macro (closeField)
        </marc:datafield>
#end

#macro (subField $code $value)
            <marc:subfield code="$code">$util.encodeXml($value)</marc:subfield>
#end

#macro (showElementMarc $field $tagNumber $ind1 $ind2 $code $label $anzsrc)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key))
        #if ($label != "")
            #set($labelVal = $value.get($label))
            #if ($anzsrc == "anzsrc")
                #set($labelVal = $labelVal.split("-").get(0).trim())
            #end
        #else
            #set($labelVal = $value.get($key))
        #end

        #if ("$!value" == "")
        #else
            #openField($tagNumber, $ind1, $ind2)
            #subField($code, $labelVal)
            #closeField()
        #end
    #end
#end

#macro (anzsrc $field $anzsrc)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($map = $valueMap.get($key))
        #set($label = $map.get("skos:prefLabel"))
        #set($uri = $map.get("rdf:resource"))
        #set($lastIndex = $uri.lastIndexOf('/') + 1 )
        #set($code = $uri.substring($lastIndex) )

        #openField("654", "0", "0")
        #subField("a", "${code} - ${label}")
        #subField("2", "ANZSRC-${anzsrc}")
        #closeField()
    #end
#end

#macro (basicField $tag $ind1 $ind2 $subfield $index)
    #set ($value = $util.get($item, $index))
    #if ("$!value" != "")
        #openField($tag, $ind1, $ind2)
        #subField($subfield, $value)
        #closeField()
    #end
#end

#macro (creators $field)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key).get("dc:title"))
        #if ($velocityCount == 1)
            #openField("100", "1", " ")
        #else
            #openField("700", "1", " ")
        #end
        #subField("a", $value)
        #closeField()
    #end
#end

#macro (supervisors $field)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key).get("dc:title"))
        #openField("720", "1", " ")
        #subField("a", $value)
        #closeField()
    #end
#end

#macro (control008)
    #set ($leader = "")
    #set ($date = $util.get($item, "dc:created"))
    #foreach($part in $date.split("-"))
        #if ($velocityCount == 1)
            #set ($part = $part.substring(2))
            #set ($leader = "${leader}${part}")
        #else
            #set ($leader = "${leader}${part}")
        #end
    #end
    #set ($langUri = $util.get($item, "dc:language"))
    #if ("$!langUri" != "")
        #set($lastIndex = $langUri.lastIndexOf('/') + 1 )
        #set($lang = $langUri.substring($lastIndex) )
    #else
        #set($lang = "eng")
    #end
    ## http://www.loc.gov/marc/bibliographic/bd008a.html (All)
    ## http://www.loc.gov/marc/bibliographic/bd008x.html (Mixed materials)
    #set ($leader = "${leader}|||||||||xx      |           ${lang} |")
    <marc:controlfield tag="008">$leader</marc:controlfield>
#end

<marc:collection xmlns:marc="http://www.loc.gov/MARC21/slim" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.loc.gov/MARC21/slim
http://www.loc.gov/standards/marcxml/schema/MARC21slim.xsd">
    <marc:record>
        <marc:leader>00000nmi a22000004u 4500</marc:leader>
        #control008()
        #basicField("245", "0", "0", "a", "dc:title")
        #basicField("655", " ", "4", "a", "dc:type")
        #basicField("260", " ", " ", "c", "dc:created")

        ## Language. Set Source to ISO639-2
        #set ($langUri = $util.get($item, "dc:language"))
        #if ("$!langUri" != "")
            #set($lastIndex = $langUri.lastIndexOf('/') + 1 )
            #set($lang = $langUri.substring($lastIndex) )
            #openField("041", " ", "7")
            #subField("a", $lang)
            #subField("2", "iso639-2b")
            #closeField()
        #end

        #basicField("653", "0", "4", "a", "time_period")

        ## Description tab
        #basicField("520", " ", " ", "a", "dc:description")
        #showElementMarc("citations", "856", "4", "2", "u", "", "")
        #showElementMarc("data", "856", "4", "2", "u", "", "")
        #showElementMarc("website", "856", "4", "2", "u", "", "")

        ## People
        ##basicField("100", "1", " ", "a", "dc:creator.foaf:Person.1.dc:title")
        #creators("dc:creator.foaf:Person")
        #supervisors("supervisor")

        ## Subjects
        #anzsrc("dc:subject.anzsrc:for", "FOR")
        #anzsrc("dc:subject.anzsrc:seo", "SEO")
        #showElementMarc("dc:subject.keywords", "653", "0", "0", "a", "", "")

        ## Rights
        #basicField("506", " ", " ", "a", "access_conditions")
        #basicField("540", " ", " ", "a", "restrictions")
        #basicField("540", " ", " ", "a", "license_cc")
        #basicField("540", " ", " ", "a", "license_other_url")

        ## Management
        #openField("710", "1", "#")
            #subField("a", "University of Newcastle")
            #set ($affiliation = $util.get($item, "affiliation.skos:prefLabel"))
            #if ("$!affiliation" != "")
            #subField("b", $affiliation)
            #end
        #closeField()
    </marc:record>
</marc:collection>
