#macro(showElementDC $tag $field $attr $label)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key))
        #if ($label != "")
            #set($value = $value.get($label))
<$tag$attr>$util.encodeXml($value)</$tag>
        #else
            #set($value = $value.get($key))
<$tag$attr>$util.encodeXml($value)</$tag>
        #end
    #end
#end

#macro(showSingleElement $map $tag $field $attr)
    #set($value = $map.get($field))
    #if ($value != "")
<$tag$attr>$util.encodeXml($value)</$tag>
    #end
#end

<oai_dc:dc xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd" 
    xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" 
    xmlns:dc="http://purl.org/dc/elements/1.1/">
#showSingleElement($item, "dc:title" "dc:title", "")
#showSingleElement($item, "dc:description" "dc:description", "")
#showSingleElement($item, "dc:type" "dc:type", "")
#showSingleElement($item, "dc:created" "dc:created", "")
#showSingleElement($item, "dc:modified" "dc:modified", "")
#showSingleElement($item, "dc:language" "dc:language", "")
    
#showElementDC("dc:subject" "dc:subject.keywords", "", "")
#showElementDC("dc:subject" "dc:subject.anzsrc:for", "", "skos:prefLabel")
#showElementDC("dc:subject" "dc:subject.anzsrc:seo", "", "skos:prefLabel")
    
#set($creatorList = $util.getList($item, "dc:creator.foaf:Person"))
#foreach($key in $creatorList.keySet())
        #set($creator = $creatorList.get($key))
        #set($givenName = $creator.get("foaf:givenName").trim())
        #set($familyName = $creator.get("foaf:familyName").trim())
        <dc:creator>$util.encodeXml("${givenName}&nbsp;${familyName}")</dc:creator>
#showSingleElement($creator, "dc:relation", "dc:identifier", "")
#showSingleElement($creator, "dc:relation", "association", "")
#showSingleElement($creator, "dc:relation", "association.skos:prefLabel", "")
#end 

</oai_dc:dc>