#macro(dc1 $tag)
    #set ($value = $util.get($item, "dc:${tag}"))
    #if ("$!value" != "")
<dc:${tag}>$util.encodeXml($value)</dc:${tag}>
    #end
#end
#macro(dc2 $tag $field)
    #set ($value = $util.get($item, $field))
    #if ("$!value" != "")
<dc:${tag}>$util.encodeXml($value)</dc:${tag}>
    #end
#end
#macro(dc3 $data $tag $field)
    #set ($value = $data.get($field))
    #if ("$!value" != "")
<dc:${tag}>$util.encodeXml($value)</dc:${tag}>
    #end
#end
#macro(dcData $tag $data)
<dc:${tag}>$util.encodeXml($data)</dc:${tag}>
#end
#macro(dcList $tag $baseKey $label)
    #set($valueMap = $util.getList($item, $baseKey))
    #foreach($key in $valueMap.keySet())
        #set($values = $valueMap.get($key))
        #if("$!label" == "")
            #set($value = $values.get($key))
        #else
            #set($value = $values.get($label))
        #end
        <dc:${tag}>$util.encodeXml($value)</dc:${tag}>
    #end
#end
<oai_dc:dc
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
#set($handle = $util.getMetadata($object, "vitalHandle"))
#if("$!handle" != "")
<dc:identifier>$handle</dc:identifier>
#end
#dc1("title")
#dc1("type")
### Date
#set ($dateFull = $util.get($item, "dc:created"))
#if ("$!dateFull" != "")
    #set($index = $dateFull.indexOf('-'))
    #set($date = $dateFull.substring(0, $index))
<dc:date>$util.encodeXml($date)</dc:date>
#end

### Language
#set ($langUri = $util.get($item, "dc:language"))
#if ("$!langUri" != "")
    #set($lastIndex = $langUri.lastIndexOf('/') + 1)
    #set($lang = $langUri.substring($lastIndex))
<dc:language>$util.encodeXml($lang)</dc:language>
#end

#dc2("subject", "time_period")

## Description tab
#dc1("description")
#dcList("relation" "citations" "")
#dcList("relation" "data" "")
#dcList("relation" "website" "")

## People
#dc2("creator", "dc:creator.foaf:Person.1.dc:title")

#dcList("subject" "dc:subject.anzsrc:for" "skos:prefLabel")
#dcList("subject" "dc:subject.anzsrc:seo" "skos:prefLabel")
#dcList("subject" "dc:subject.keywords" "")

#dc2("rights", "access_conditions")
#dc2("rights", "restrictions")
#dc2("rights", "license_cc")
#dc2("rights", "license_other_url")

#dc2("contributor", "affiliation.0.skos:prefLabel")
</oai_dc:dc>
