#macro(dc1 $tag)
<dc:${tag}>$util.encodeXml($util.get($item, "dc:${tag}"))</dc:${tag}>
#end
#macro(dc2 $tag $field)
<dc:${tag}>$util.encodeXml($util.get($item, $field))</dc:${tag}>
#end
#macro(dc3 $data $tag $field)
<dc:${tag}>$util.encodeXml($data.get($field))</dc:${tag}>
#end
#macro(dcList $tag $baseKey $label)
    #set($valueMap = $util.getList($item, "dc:${tag}.${baseKey}"))
    #foreach($key in $valueMap.keySet())
        #set($values = $valueMap.get($key))
        #if("$!label" == "")
            #set($value = $values.get($key))
        #else
            #set($value = $values.get($label))
        #end
        <dc:${tag}>$util.encodeXml($value)</dc:${tag}>
    #end
#end
<oai_dc:dc
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
#set($handle = $util.getMetadata($object, "vitalHandle"))
#if("!$handle" != "")
<dc:identifier>$handle</dc:identifier>
#end
#dc1("title")
#dc1("description")
#dc1("type")
#dc1("created")
#dc1("modified")
#dc1("language")
#dc2("language" "dc:language.skos:prefLabel")
#set($creatorList = $util.getList($item, "dc:creator.foaf:Person"))
#foreach($key in $creatorList.keySet())
    #set($creator = $creatorList.get($key))
    #set($givenName = $creator.get("foaf:givenName").trim())
    #set($familyName = $creator.get("foaf:familyName").trim())
    <dc:creator>$util.encodeXml("${givenName} ${familyName}")</dc:creator>
    #dc3($creator "relation" "dc:identifier")
    #dc3($creator "relation" "association")
    #dc3($creator "relation" "association.skos:prefLabel")
#end
#dcList("subject" "keywords" "")
#dcList("subject" "anzsrc:for" "skos:prefLabel")
#dcList("subject" "anzsrc:seo" "skos:prefLabel")
</oai_dc:dc>
