#macro(showElementRifCS $tag $field $attr $label $anzsrc)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key))
        #if ($label != "")
            #set($labelVal = $value.get($label))
            #if ($anzsrc == "anzsrc")
                #set($lastIndex = $labelVal.lastIndexOf('/') + 1 )
                #set($labelVal = $labelVal.substring($lastIndex) )
            #end
    <$tag$attr>$util.encodeXml($labelVal)</$tag>
        #else
    <$tag$attr>$util.encodeXml($value.get($key))</$tag>
        #end
    #end
#end

#macro(showRelatedInfo $field $relatedInfoType $identifierType)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set ($row = $valueMap.get($key))
        #set ($value = $row.get($key))
        #if ("$!value" != "")
        <rif:relatedInfo type="$relatedInfoType">
            <rif:identifier type="$identifierType">$util.encodeXml($value)</rif:identifier>
            #set ($title = $row.get("title"))
            #if ("$!title" != "")
            <rif:title>$util.encodeXml($title)</rif:title>
            #end
## Uncomment to map Notes as well
##            #set ($notes = $row.get("notes"))
##            #if ("$!notes" != "")
##            <rif:notes>$util.encodeXml($notes)</rif:notes>
##            #end
        </rif:relatedInfo>
        #end
    #end
#end

#macro(outputRelatedObject $data $relatedObjectType)
    #if ("$!data" != "")
        <rif:relatedObject>
            <rif:key>$util.encodeXml($data)</rif:key>
            <rif:relation type="$relatedObjectType"/>
        </rif:relatedObject>
    #end
#end

#macro(findRelatedObject $field $relatedObjectType)
    #set($value = $util.get($item, $field))
    #if ("$!value" != "")
        <rif:relatedObject>
            <rif:key>$util.encodeXml($value)</rif:key>
            <rif:relation type="$relatedObjectType"/>
        </rif:relatedObject>
    #end
#end

#macro(findRelatedIdentifiers $field $relatedObjectType)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        #set($value = $valueMap.get($key).get("dc:identifier"))
        #if ("$!value" != "")
        <rif:relatedObject>
            <rif:key>$util.encodeXml($value)</rif:key>
            <rif:relation type="$relatedObjectType"/>
        </rif:relatedObject>
        #end
    #end
#end

#macro(geoSpatial $field)
    #set($valueMap = $util.getList($item, $field))
    #foreach($key in $valueMap.keySet())
        <rif:coverage>
        #set($geoMap = $valueMap.get($key))
        #set($type = $geoMap.get("type"))
        #set($name = $geoMap.get("dcmi:name"))
            <rif:spatial type="$type" $lang>$util.encodeXml($name)</rif:spatial>
        #if($type == "text")
            #set($east = $geoMap.get("dcmi:east"))
            #set($north = $geoMap.get("dcmi:north"))
            #if ("$!east" != "" &&"$!north" != "")
            <rif:spatial type="dcmiPoint" $lang>name=$util.encodeXml($name); east=$east; north=$north</rif:spatial>
            #end
        #end
        </rif:coverage>
    #end
#end

#set($quote='"')
#set($dateFormat = "yyyy-MM-dd'T'HH:mm:ss")

### Resolve the identifier
#set ($formId = $util.get($item, 'dc:identifier'))
#set ($formOrigin = $util.get($item, 'dc:identifier.redbox:origin'))
#set ($formType = $util.get($item, 'dc:identifier.dc:type'))
#set ($handle = $util.getMetadata($object, "vitalHandle"))
#set ($identifier = "")
#set ($identifierType = "")
#if ($formOrigin == "internal")
    #if ($handle != "")
        #set ($identifier = $handle)
        #set ($identifierType = "handle")
    #else
        #set ($identifier = "$urlBase/detail/$oid")
        #set ($identifierType = "uri")
    #end
#else
    #set ($identifier = $formId)
    #set ($identifierType = $formType)
#end

####set($lang = "xml:lang=${quote}$util.get($item, 'dc:language')${quote}")
#set($lang = "xml:lang=${quote}en${quote}")
<rif:registryObjects xmlns:rif="http://ands.org.au/standards/rif-cs/registryObjects"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://ands.org.au/standards/rif-cs/registryObjects http://services.ands.org.au/home/orca/schemata/1.2.0/registryObjects.xsd">
    <rif:registryObject group="University of Newcastle, Australia">

        <rif:key>$util.encodeXml($identifier)</rif:key>
        <rif:originatingSource>$urlBase</rif:originatingSource>

        #set($dateModified = "")
        #if ($util.get($item, 'dc:modified') != "")
            #set($rawModified = "$util.getDateTime($util.get($item, 'dc:modified'), $dateFormat)Z")
            #set($dateModified = "dateModified=${quote}${rawModified}${quote}")
        #end

        #set($dateAccessioned = "")
        #if ($util.get($item, "dc:created") != "")
            #set($rawAccessioned = "$util.getDateTime($util.get($item, 'dc:created'), $dateFormat)Z")
            #set($dateAccessioned = "dateAccessioned=${quote}${rawAccessioned}${quote}")
        #end

        #################
        ## The order of child codes under <collection> is important, don't
        ## change the order or the XML will not validate:
        ##  1) <rif:identifier>
        ##  2) <rif:name>
        ##  3) <rif:location>
        ##  4) <rif:coverage>
        ##  5) <rif:relatedObject>
        ##  6) <rif:subject>
        ##  7) <rif:description>
        ##  8) <rif:relatedInfo>
        ##  9) <rif:citationInfo>
        ##
        ##  http://services.ands.org.au/documentation/rifcs/1.2.0/schemadocs/registryObjects.html
        #################
        <rif:collection type="$util.get($item, "dc:type")" $dateModified $dateAccessioned>
            <rif:identifier type="$identifierType">$identifier</rif:identifier>

            <rif:name type="primary" $lang>
                <rif:namePart>$util.encodeXml($util.get($item, "dc:title"))</rif:namePart>
            </rif:name>

        ## Location, use Handle as priority if requested
            <rif:location>
        #set($valueMap = $util.getList($item, "url"))
        #foreach($key in $valueMap.keySet())
            #set ($value = $valueMap.get($key).get($key))
            #if ("$!value" != "")
                <rif:address>
                    <rif:electronic type="url">
                        <rif:value>$util.encodeXml($value)</rif:value>
                    </rif:electronic>
                </rif:address>
            #end
        #end

        #### Physical location
        #set ($value = $util.get($item, "physical_storage"))
        #if ("$!value" != "")
                <rif:address>
                    <rif:physical>
                        <rif:addressPart type="text">$util.encodeXml($value)</rif:addressPart>
                    </rif:physical>
                </rif:address>
        #end
            </rif:location>

        #set ($covFrom = $util.get($item, "dc:coverage.from"))
        #set ($covTo = $util.get($item, "dc:coverage.to"))
        #set ($covPeriod = $util.get($item, "time_period"))
        #if ("$!covFrom" != "" || "$!covTo" != "" || "$!covPeriod" != "")
            <rif:coverage>
                <rif:temporal>
                    #if ("$!covFrom" != "")
                    <rif:date type="dateFrom" dateFormat="W3CDTF">$util.getDateTime($covFrom, $dateFormat)Z</rif:date>
                    #end
                    #if ("$!covTo" != "")
                    <rif:date type="dateTo" dateFormat="W3CDTF">$util.getDateTime($covTo, $dateFormat)Z</rif:date>
                    #end
                    #if ("$!covPeriod" != "")
                    <rif:text>$util.encodeXml($covPeriod)</rif:text>
                    #end
                </rif:temporal>
            </rif:coverage>
        #end

            #geoSpatial("location")

            #findRelatedIdentifiers("dc:creator.foaf:Person", "hasCollector")
            #findRelatedObject("primaryContact.dc:identifier", "isPrimaryContactFor")
            #findRelatedObject("affiliation", "isManagedBy")

            #showElementRifCS("rif:subject" "dc:subject.keywords", " type=${quote}local${quote} $lang", "", "")
            #showElementRifCS("rif:subject" "dc:subject.anzsrc:for", " type=${quote}anzsrc-for${quote} $lang", "rdf:resource", "anzsrc")
            #showElementRifCS("rif:subject" "dc:subject.anzsrc:seo", " type=${quote}anzsrc-seo${quote} $lang", "rdf:resource", "anzsrc")

        #set ($value = $util.get($item, "research_activity"))
        #if ("$!value" != "")
            <rif:subject type="anzsrc-toa">$util.encodeXml($value)</rif:subject>
        #end

        #set ($value = $util.get($item, "dc:description"))
        #if ("$!value" != "")
            <rif:description type="full" $lang>$util.encodeXml($value)</rif:description>
        #end

        #set ($rights = $util.get($item, "restrictions"))
        #if ("$!rights" != "")
            <rif:description type="rights" $lang>$util.encodeXml($rights)</rif:description>
        #end

        #### 'rights' is required, so send 'accessRights' as 'rights' if it was absent.
        #set ($accessRights = $util.get($item, "access_conditions"))
        #if ("$!accessRights" != "")
            #if ("$!rights" != "")
                <rif:description type="accessRights" $lang>$util.encodeXml($accessRights)</rif:description>
            #else
                <rif:description type="rights" $lang>$util.encodeXml($accessRights)</rif:description>
            #end
        #end
        #set ($value = $util.get($item, "license_cc.skos:prefLabel"))
        #if ("$!value" != "")
            <rif:description type="rights" $lang>$util.encodeXml($value)</rif:description>
        #end

        #set ($value = $util.get($item, "license_other_name"))
        #if ("$!value" != "")
            <rif:description type="rights" $lang>$util.encodeXml($value)</rif:description>
        #end

            #showRelatedInfo("citations", "publication", "uri")
            #showRelatedInfo("website", "website", "uri")
        </rif:collection>
    </rif:registryObject>
</rif:registryObjects>